{% load activity_tags social_tags i18n %}
{% load pagination_tags %}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#stories_list" data-toggle="tab">
            <div class="counter">
            <span ng-bind="counts.maps"></span>
            </div>
            {% trans "Stories" %}
        </a>
    </li>
    <li>
        <a href="#layers_list" data-toggle="tab">
            <div class="counter">
            <span ng-bind="counts.layers"></span>
            </div>
            {% trans "Layers" %}
        </a>
    </li>
    {% if user == profile %}
        <li>
            <a href="#uploads_list" data-toggle="tab">
                <div class="counter">
                    <span ng-bind="counts.uploads"></span>
                </div>
                Uploads
            </a>
        </li>
    {% endif %}
    <li>
        <a href="#user_activities" data-toggle="tab">
            <div class="counter">{{ action_list.count }}</div>
            Activity Feed
        </a>
    </li>
    <li>
        <a href="#journal_entries" data-toggle="tab">
            <div class="counter">
                {% if request.user.get_username == profile.username %}
                {{ journal_entries_total }}
                {% else %}
                {{ journal_entries_published }}
                {% endif %}
            </div>
            Journal Entr{{ journal_entries|pluralize:"y,ies"}}
        </a>
    </li>
    <li>
        <a href="#favorite_list" data-toggle="tab">
            <div class="counter">{{ favorites.count }}</div>
            Favorite{{ favorites|pluralize }}
        </a>
    </li>
    <li>
        <a href="#icon_list" data-toggle="tab">
            <div class="counter">{{ icons.count }}</div>
            Icon{{ icons|pluralize }}
        </a>
    </li>
</ul>