{% load i18n %}
{# this tab is predominantly controlled by client-side angular logic and values #}
<div id="stories_list" class="tab-pane active" 
    ng-controller="storiesController as story">
    
    <div class="no-content" ng-hide="story.totalCount">
        <h2>No MapStories.</h2>
    </div>
    {% verbatim %}
    <div ng-show="story.totalCount">
        <div class="pull-right">
            Showing {{story.startIndex}}-{{story.endIndex}} of {{story.totalCount}} results
        </div>
        <div class="clearfix content-results">  
            <ul>
                <li ng-repeat="item in story.cards" resource-id="{{ item.id }}"
                        class="col-lg-4 col-sm-6 resource-{{ item.id }}">
            {% endverbatim %}
                {% include 'search/_result_content.html' %}
            </ul>
        </div>
        {% verbatim %}
        <div class="pull-right">
            <a href><i ng-click="story.pageDown()" class="fa fa-chevron-left"></i></a>
                page {{story.currentPage}} of {{story.numPages}}
            <a href><i ng-click="story.pageUp()" class="fa fa-chevron-right"></i></a>
        </div>
        {% endverbatim %}
    </div>
</div>