{% extends "site_base.html" %}
{% load activity_tags social_tags i18n avatar_tags %}
{% load pagination_tags %}

{% block title %} {% trans "Profile of " %}{{ profile.first_name|default_if_none:profile.username }}{% endblock %}
{% block body_class %}people{% endblock %}
{% block body %}
    <div ng-controller="profileController">
        <div class="container">
            <div class="row profile-banner">
                <div class="col-sm-1">
                    <img class="img-circle" src="{% avatar_url profile 75 %}"/>
                </div>
                <div class="col-sm-6">
                    <div class="user-info">
                        <h1 class="name">{{ profile.name_long }}</h1>
                        <h1 class="details">
                            {% if profile.position %}<span>{{ profile.position }}, </span> {% endif %}
                            {% if profile.location %}<span>{{ profile.location }}</span>{% endif %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <article class="slice">
            <div class="container">
                <div class="col-sm-2 sidebar">
                    {% include 'people/_sidebar.html' %}
                </div>
                <div class="col-sm-10">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            {% include 'people/_profile_tabs.html' %}
                            <div class="tab-content">
                                <div class="tab-pane active" id="stories_list" ng-controller="storiesController as story">
                                    <div class="no-content" ng-hide="story.cards.length > 0">
                                        <h2>No MapStories.</h2>
                                    </div>
                                    
                                    <div ng-show="story.cards.length > 0">
                                        <div class="clearfix content-results">  
                                            <ul>
                                            {% verbatim %}
                                                <li ng-repeat="item in story.cards" resource-id="{{ item.id }}"
                                                        class="col-lg-4 col-sm-6 resource-{{ item.id }}">
                                            {% endverbatim %}
                                            {% include 'search/_result_content.html' %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="layers_list" ng-controller="layersController as layer">
                                    <div class="no-content" ng-hide="layer.cards.length > 0">
                                        <h2>{% trans "No Layers" %}.</h2>
                                    </div>
                                    
                                     <div ng-show="layer.cards.length > 0">
                                        <div class="clearfix content-results">
                                            <ul>
                                            {% verbatim %}
                                                <li ng-repeat="item in layer.cards" resource-id="{{ item.id }}"
                                                        class="col-lg-4 col-sm-6 resource-{{ item.id }}">
                                            {% endverbatim %}
                                            {% include 'search/_result_content.html' %}</ul>
                                        </div>
                                    </div>
                                </div>
                                {% if user == profile %}
                                    {% include 'people/_uploads_tab.html' %}
                                {% endif %}
                                <div class="tab-pane" id="messages_list">
                                    {% if not inbox_count %}
                                        <div class="no-content">
                                            <h2>Clean inbox, yay! <i class="fa fa-smile-o"></i></h2>
                                        </div>
                                    {% else %}
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#inbox" data-toggle="tab"><i class=""></i>{% trans "Unread" %}</a></li>
                                            <li><a href="#all" data-toggle="tab"><i class=""></i> {% trans "All" %}</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <article id="inbox" class="tab-pane active">
                                                {% with threads_unread as threads %}
                                                    {% include "user_messages/_message_snippet.html" %}
                                                {% endwith %}
                                            </article>
                                            <article id="all" class="tab-pane">
                                                {% with threads_all as threads %}
                                                    {% include "user_messages/_message_snippet.html" %}
                                                {% endwith %}
                                            </article>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane" id="user_activities">
                                    {% if action_list.count == 0 %}
                                        <div class="no-content">
                                            <h2>No activities.</h2>
                                            <h4><a href="{% url "home" %}">Explore {{ SITE_NAME }} now.</a></h4>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="no-style-list">
                                                {% for action in action_list %}
                                                    {% activity_item action %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="journal_entries">
                                    {% if not journal_entries %}
                                        <div class="no-content">
                                            <h2>No entries.</h2>
                                            <h4><a href="{% url "journal-create" %}">{% trans "Write your first journal entry now." %}</a></h4>
                                        </div>
                                    {% else %}
                                        {% for entry in journal_entries %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-lg-12  col-xs-12">
                                                            {% if entry.publish %}
                                                                <h3><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
                                                                <h6>{{ entry.date }}</h6>
                                                                <div>
                                                                    {{ entry.html|safe }}
                                                                </div>
                                                            {% elif entry.publish == False and request.user.get_username == profile.username %}
                                                                <h3><a href="{% url 'journal-update' pk=entry.pk %}">{{ entry.title }} - Resume Draft</a></h3>
                                                                <h6>{{ entry.date }}</h6>
                                                                <div>
                                                                    {{ entry.html|safe }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="tab-pane" id="favorite_list">
                                    {% include "favorite/_favorite_list.html" %}
                                </div>
                                <div class="tab-pane" id="icon_list">
                                    {% include "icons/_profile_icon_list.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    {% if user == profile %} 
    <!-- Generate notification setting tables for modal only if it is their profile -->
        <div id="notifications" class="modal fade col-md-8">
            <div class="modal-content">
                <h2 style="display:inline">Notifications settings</h2>
                <a class="btn pull-right" data-dismiss="modal">Close</a>
                <table class="table table-striped notice_settings">
                    <tr>
                        <th>{% trans "Notification Type" %}</th>
                        <th>{% trans "Activate" %}</th>
                    </tr>
                    {% for settings in notice_settings %}
                        <tr class="notice-row">
                            <td>
                                <strong>{{ settings.notice_type.display }}</strong><br/>
                                <span class="notice_type_description">
                          {{ settings.notice_type.description }}
                      </span>
                            </td>
                            <td>
                                <input class="notice_setting" type="checkbox" name="{{ settings.notice_type.label }}" {% if settings.send %}checked="yes"{% endif %}/>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
 </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {% include 'favorite/_favorite_list_js.html' %}
    <script type="text/javascript">
        PROFILE_USERNAME = "{{ profile.username }}";
        // Pass the keyword list from the django template into the javascript
    </script>

    {% if user == profile %}
        <!-- Interaction with notification setting modal only if it is their profile -->
        <script type="text/javascript">
            {% if request.GET.showNotifications == 'true'%}
                // allows linking to profile page with modal up,
                // prompts user to change profile notifications
                $(window).load(function () {
                    $('#notifications').modal('show');
                });
            {% endif %}

            $('.notice_setting').change(function (event) {
                var element = event.target;
                var send = element.checked;
                var notice_type = element.name;
                $.post(
                        "{% url "set_profile_notification" user.get_username %}",
                        {
                            send: send,
                            notice_type: notice_type,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]')[0].value
                        }
                ).fail(function (data) {
                    alert('There was an error saving your setting');
                });
            });
        </script>
    {% endif %}
{% endblock extra_script %}
