{% extends "site_base.html" %}
{% load activity_tags social_tags i18n avatar_tags %}
{% load pagination_tags %}

{% block title %} {% trans "Profile of " %}{{ profile.first_name|default_if_none:profile.username }}{% endblock %}
{% block body_class %}people{% endblock %}
{% block body %}
    <div ng-controller="profileController">
        <div class="container">
            <div class="row profile-banner">
                <div class="col-sm-1">
                    <img class="img-circle" src="{% avatar_url profile 75 %}"/>
                </div>
                <div class="col-sm-6">
                    <div class="user-info">
                        <h1 class="name">{{ profile.name_long }}</h1>
                        <h1 class="details">
                            {% if profile.position %}<span>{{ profile.position }}, </span> {% endif %}
                            {% if profile.location %}<span>{{ profile.location }}</span>{% endif %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <article class="slice">
            <div class="container">
                <div class="col-sm-2 sidebar">
                    {% include 'people/_sidebar.html' %}
                </div>
                <div class="col-sm-10">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            {# navigation tabs and content counts for each section #}
                            {% include 'people/_nav_tabs.html' %}
                            
                            <div class="tab-content">
                            {# the following 3 tabs are rendered with client-side angular logic and values #}
                                
                                {% include 'people/_stories.html' %}
                                
                                {% include 'people/_layers.html' %}

                                {% if user == profile %}
                                    {% include 'people/_uploads.html' %}
                                {% endif %}

                            {# the remaining 5 tabs are rendered with django logic and values #}     
                                <div id="user_activities" class="tab-pane">
                                    {% include 'people/_activity_feed.html' %}
                                </div>
                                {% if THEME == 'orange' %}
                                <div id="journal_entries" class="tab-pane">
                                    {% include 'people/_journal.html' %}
                                </div>
                                {% endif %}
                                <div id="favorite_list" class="tab-pane">
                                    {% include "favorite/_favorite_list.html" %}
                                </div>
                                <div id="icon_list" class="tab-pane">
                                    {% include "icons/_profile_icon_list.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
 </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {% include 'favorite/_favorite_list_js.html' %}
    <script type="text/javascript">
        PROFILE_USERNAME = "{{ profile.username }}";
        // Pass the keyword list from the django template into the javascript
    </script>
{% endblock extra_script %}
