{% extends "people/profile_base.html" %}
{% load i18n avatar_tags %}
{% load bootstrap_tags %}

{% block body_class %}explore people{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}mapstory/css/profile.css" rel="stylesheet" />
{% endblock %}

{% block body %}
  
  <div class="col-md-12">
    <h2 class="page-title">{% trans "Edit Your Profile" %}</h2>
  </div>
  <div class="col-md-2">
    <div class="avatar">{% avatar user 140 %}</div>
    <p><a class="btn btn-primary btn-block" href="{% url 'avatar_change' %}">{% trans "Change your avatar" %}</a></p>
  </div>
  <div class="col-md-10">
    <form action="" method="post" class="form-horizontal">
      <!-- <legend>{% trans "Edit Your Profile" %}</legend> -->
      {% csrf_token %}
      <div class="form-controls">
        {{ form|as_bootstrap }}
      </div>
      <div>
        <button type="button" class="btn" data-toggle="modal" data-target="#notifications">Notifications settings</button>
      </div>
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Update profile" %}" />
      </div>
    </form>
  </div>

  <div id="notifications" class="modal fade col-md-8">
    <div class="modal-content">
      <h2 style="display:inline">Notifications settings</h2>
      <a class="btn pull-right" data-dismiss="modal">Close</a>
      <table class="table table-striped notice_settings">
        <tr>
            <th>{% trans "Notification Type" %}</th>
            <th>{% trans "Activate" %}</th>
        </tr>
        {% for settings in notice_settings %}
            <tr class="notice-row">
                <td>
                  <strong>{{ settings.notice_type.display }}</strong><br/>
                  <span class="notice_type_description">
                      {{ settings.notice_type.description }}
                  </span>
                </td>
                <td>
                  <input class="notice_setting" type="checkbox" name="{{ settings.notice_type.label }}" {% if settings.send %}checked="yes"{% endif %} />                  
                </td>
            </tr>
        {% endfor %}
      </table> 
    </div>
  </div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript">
  $('.notice_setting').change(function(event){
    var element = event.target;
    var send = element.checked;
    var notice_type = element.name;
    $.post(
      "{% url "set_profile_notification" user.get_username %}",
      {
        send: send,
        notice_type: notice_type,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]')[0].value
      }
    ).fail(function(data) {
      alert('There was an error saving your setting');
    });
  });
</script>
{% endblock %}
