{% load staticfiles i18n avatar_tags %}

<!DOCTYPE html>
<html ng-app="composer">
    <head>

        <title ng-bind="pageTitle"></title>

        <script type="text/javascript">
          var CLOSURE_NO_DEPS = true;
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{% static 'mapstory/img/favicon.ico' %}">


        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/css/font-awesome.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geonode/css/ext-compatibility.css"/>

        <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}</style>

        {% include "mapstory/google_analytics.html" %}

        {% block styles %}{% endblock %}

        {# include 'maps/_map_view_common.html' #}
        {% block scripts %}{% endblock %}

        {% if DEBUG_STATIC %}
        {% comment %}Using 35730 for mapstory css to not conflict with maploom grunt{% endcomment %}
        <!--script src="http://localhost:35729/livereload.js"></script-->
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mapstory/css/composer.css"/>

    </head>

    <body ng-controller="composerController as composer">
        {% block body %}{% endblock %}
    </body>


    <style>

        .modal-dialog{

            width: 800px;
        }

    </style>
<div style="display: none;">
  <div id="popup"></div>
</div>
</html>