{% load i18n %}
{% load mapstory_tags %}
{% load flag_tags %}
<div class="col-sm-3" style="border-left:1px solid gainsboro">
  <div style="text-align:right">
    <a href="" onclick="toggleFullScreen(); return false;">
      <span style="font-size:1.3em;color:gainsboro">play</span>
      <br>
      <span style="font-size:1.3em;color:gainsboro">fullscreen</span>
    </a>
  </div>
  <hr style="margin:5px">
  <div style="text-align:right">
  {% include "favorite/_favorite.html" with span_style="font-size:1.3em;color:gainsboro" btn_style="font-size:1.3em;color:gainsboro;border:none;background:none" %}
  </div>
  <hr style="margin:5px">
  <div style="text-align:right">
    <a href="#flag" role="button" data-toggle="modal" style="hover: cursor;">
      <span style="font-size:1.3em;color:gainsboro">flag</span>
    </a>
    <div id="flag" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">{% trans 'Flag Content' %}</h4>
          </div>
          <div class="modal-body">
            {% flag resource 'owner' %}
          </div>
          <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function toggleFullScreen() {
  var elem = document.getElementById('embedded_map');
  if (!document.webkitFullScreen || !document.mozFullScreen ||
    !document.msFullscreenElement || !document.fullscreenElement) {
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.msRequestFullscreen) {
      elem.msRequestFullscreen();
    } else if (elem.mozRequestFullScreen) {
      elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullScreen) {
      elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
    }
  }
};
</script>
{% include "favorite/_favorite_js.html" %}