{% load i18n %}
{% load bootstrap_tags %}
<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Summary" data-toggle="tab" style="font-size:0.8em;">Summary</a></li>
        <li><a href="#Related" data-toggle="tab" style="font-size:0.8em;" ng-click="query_category('{{ resource.category }}', 'map');">Related</a></li>
        <li><a href="#StoryLayers" data-toggle="tab" style="font-size:0.8em;">StoryLayers Used</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="Summary">
        <div style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
          {{ resource.abstract }}
        </div>
      </div>
      <div class="tab-pane" id="StoryLayers">
        <div style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
          {% for item in resource.local_layers %}
          <div class="col-sm-12">
            <div class="row boxFeature">
              <div class="col-xs-3">
                <a href="{{ item.detail_url}}"><img class="thumb img-responsive" ng-src="{{ item.thumbnail_url}}" style="border-width:1px; border-style:solid; border-color:grey;"/></a>
              </div>
              <div class="col-xs-9">
                <h3><a href="{{ item.detail_url}}">{{ item.title }}</a></h3>
                <p>{{ item.abstract|slice:"250"  }}<a href="{{ item.detail_url}}"><i>...read more</i></a></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="tab-pane" id="Related">
        <div style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
          {% if resource.category %}
            {% verbatim %}
            <div ng-hide="results.length">
              No related layers found...
            </div>
            <div ng-show="results.length">
              <div class="col-sm-12" ng-repeat="item in results">
                <div class="row boxFeature">
                  <div class="col-xs-3">
                    <a href="{{ item.detail_url}}"><img class="thumb img-responsive" ng-src="{{ item.thumbnail_url}}" style="border-width:1px; border-style:solid; border-color:grey;"/></a>
                  </div>
                  <div class="col-xs-9">
                    <h3><a href="{{ item.detail_url}}">{{ item.title}}</a></h3>
                    <p>{{ item.abstract|limitTo:"250"  }}<a href="{{ item.detail_url}}"><i>...read more</i></a></p>
                  </div>
                </div>
              </div>
            </div>
            {% endverbatim %}
          {% else %}
            <div style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
              No related layers found...
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- If the owner is this user, or it is a content moderator, allow them to publish or unpublish the map -->
{% if content_moderators in user.groups.all or user == resource.owner %}
<hr>
<div class="row">
  <div class="col-sm-12">
    <form name="published_form" method="POST" id="form_post_published" action="{{ resource.detail_url }}">
      {% csrf_token %}
      {{ published_form|as_bootstrap }}
      <button class="btn btn-primary" aria-hidden="true" id="published_submit_btn" name="published_submit_btn" type="submit">{% trans "Save" %}</button>
    </form>
  </div>
</div>
{% endif %}