{% extends "maps/_base.html" %}
{% load staticfiles i18n%}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}maploom/vendor/ol3/ol.css"/>
{% endblock %}

{% block scripts %}
{% include 'maps/_maploom_scripts.html' %}
<script type="text/javascript">
{% get_current_language as language %}
config =  {
     authStatus: {% if user.is_authenticated %} 200{% else %} 401{% endif %},
      username: {% if user.is_authenticated %} "{{ user.username }}" {% else %} undefined {% endif %},
      userprofilename: {% if user.is_authenticated %} "{{ user.get_full_name }}" {% else %} undefined {% endif %},
      userprofileemail: {% if user.is_authenticated %} "{{ user.email }}" {% else %} undefined {% endif %},
      currentLanguage: "{{language|default:'en'}}",
      proxy: '{{ PROXY_URL }}',
      {% if MF_PRINT_ENABLED %}
      printService: "{{GEOSERVER_BASE_URL}}pdf/",
      {% else %}
      printService: "",
      {% endif %}
      /* The URL to a REST map configuration service.  This service
       * provides listing and, with an authenticated user, saving of
       * maps on the server for sharing and editing.
       */
      rest: "{% url "maps_browse" %}",
      ajaxLoginUrl: "{% url "account_ajax_login" %}",
      homeUrl: "{% url "home" %}",
      portalItems: [{
          xtype: "container",
          layout: "fit",
          {% if classification_banner_enabled %}
          height: 99,
          {% else %}
          height: 81,
          {% endif %}
          region: "north"
      }],
      localGeoServerBaseUrl: "{{ GEOSERVER_BASE_URL }}",
      localCSWBaseUrl: "{{ CATALOGUE_BASE_URL }}",
      csrfToken: "{{ csrf_token }}",
      tools: [{ptype: "gxp_getfeedfeatureinfo"}],
};

goog.object.extend( config, {{ config|safe }});
</script>
<script type="text/javascript">
    if (window.location.search === '?tour') {
        $('<link/>').attr({
            rel : 'stylesheet', type: 'text/css', href: 'http://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.2.0/css/hopscotch.min.css'
        }).appendTo('head');
        $('<link/>').attr({
            rel : 'stylesheet', type: 'text/css', href: '{{STATIC_URL}}mapstory/css/tour.css'
        }).appendTo('head');
        $.get("{% url 'editor_tour' %}", function(h) {
           $('body').append(h);
        });
    }
</script>
{% endblock %}


{% block body %}
<div>
    <ul class="nav nav-tabs nav-tabs-simple" id="ms-tl-nav">
        <li>
            <a href="{% url 'home' %}" class="orange-border">
                <img height="14" src="{% static 'mapstory/img/mapstory_orange_logo.gif'%}">
            </a>
        </li>
        <li class="active">
            <a href="#ms-toggle-layers">
                StoryLayers
            </a>
        </li>
        <li>
            <a href="#ms-toggle-board">
                StoryBoard
            </a>
        </li>
        <li>
            <a href="#ms-toggle-pins">
                StoryPins
            </a>
        </li>
        <li>
            <a href="#ms-toggle-preview">
                StoryPreview
            </a>
        </li>
    </ul>
    <div id="ms-container" style="position:relative;">
        <div ng-controller="AppCtrl" class=''>
            {% include 'maps/_maploom_body.html' %}
        </div>
        <div id="ms-story-board" class="ms-tool-mode">
            {% include 'maps/_story_board.html' %}
        </div>
        <div id="ms-story-pins" class="ms-tool-mode">
            {% include 'maps/_story_pins.html' %}
        </div>
        <div id="ms-story-preview" class="ms-tool-mode">
            {% include 'maps/_story_preview.html' %}
        </div>
    </div>
</div>
{% endblock %}