{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Organization" %}{% endblock %}
{% block body_class %}search{% endblock %}
{% block body_outer %}
    <div class="org_container">
        {% include 'organizations/_organization_header.html' %}
        <div class="organization_content">
            <div class="org_left_column">
                <div class="return-to-page-button">
                    <a href="{% url 'organizations:detail' pk=org.pk  %}"><h3>Return to Org Page</h3></a>
                </div>
                <div class="organization_navigation_manage">
                    <ul>
                        <li><a href="#basic-info">Basic Info</a></li>
                        <li><a href="#social-media-links">Links and Social Media</a></li>
                        <li><a href="#organizers-members">Organizers and Members</a></li>
                        <li><a href="#">Privacy & Permissions</a></li>
                        <li><a href="#payment-information">Payment Info</a></li>
                    </ul>
                </div>
            </div>
            <div class="org_right_column">
                <h2>Edit Org Page Information</h2>
                <form action="." method="post">
                    {% csrf_token %}
                    <section id="basic-info">
                        <div>
                            <h3>BASIC INFORMATION</h3>
                            <hr/>
                            {{ basic_form.as_p }}
                        </div>
                    </section>
                    <section id="social-media-links">
                        <div>
                            <h3>LINKS & SOCIAL MEDIA</h3>
                            <hr/>
                            {{ links_form.as_p }}
                        </div>
                    </section>
                    <section id="organizers-members">
                        <h3>ORGANIZERS & MEMBERS</h3>
                        <hr/>
                        <p>Organizers</p>
                        <p>Members</p>
                    </section>
                    <section id="payment-information">
                        <h3>PAYMENT INFORMATION</h3>
                        <hr/>
                        <p>Plan</p>
                        <p>Last billed</p>
                        <p>Payment method</p>
                        <p>Upgrade</p>
                    </section>
                    <input style="width: 300px; height: 90px" class="button" type="submit" value="Submit" />
                </form>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
{% endblock %}