{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Organization" %}{% endblock %}
{% block body_class %}search{% endblock %}
{% block body_outer %}
    <div class="org_container">
        {% include 'organizations/_organization_header.html' %}
        <div class="organization_content">
            <div class="org_left_column">
                <div class="return-to-page-button">
                    <a href="#"><h3>Return to Org Page</h3></a>
                </div>
                <div class="organization_navigation_manage">
                    <ul>
                        <li><a href="#basic-info">Basic Info</a></li>
                        <li><a href="#social-media-links">Links and Social Media</a></li>
                        <li><a href="#organizers-members">Organizers and Members</a></li>
                        <li><a href="#">Privacy & Permissions</a></li>
                        <li><a href="#payment-information">Payment Info</a></li>
                    </ul>
                </div>
            </div>
            <div class="org_right_column">
                <h2>Edit Org Page Information</h2>

                <section id="basic-info">
                    <div>
                        <h3>BASIC INFORMATION</h3>
                        <hr/>
                        <p>Org Name</p>
                        <p>Org Slogan</p>
                        <p>City</p>
                        <p>Country</p>
                        <p>Display Photo</p>
                        <p>About</p>
                    </div>
                </section>
                <section id="social-media-links">
                    <h3>LINKS & SOCIAL MEDIA</h3>
                    <hr/>
                    <p>URLs</p>
                    <p>Facebook</p>
                    <p>Twitter</p>
                    <p>LinkedIn</p>
                    <p>Github</p>
                    <p>Instragram</p>
                </section>
                <section id="organizers-members">
                    <h3>ORGANIZERS & MEMBERS</h3>
                    <hr/>
                    <p>Organizers</p>
                    <p>Members</p>
                </section>
                <section id="payment-information">
                    <h3>PAYMENT INFORMATION</h3>
                    <hr/>
                    <p>Plan</p>
                    <p>Last billed</p>
                    <p>Payment method</p>
                    <p>Upgrade</p>
                </section>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
{% endblock %}