# Coverage config file
[run]
source = mapstory
omit =
	*/__init__.py
	*/.local/*
	*/migrations/*
	*/migrations.py
	*/management/*
	*/tests/*
	*/tests.py
	cf/*
	cover/*
	deps/*
	docker/*
	mapstory/apps/health_check_geoserver/*
	mapstory/s3_storages.py
	mapstory/settings.py
	mapstory/settings/*
	mapstory/wsgi.py
	mapstory/version.py
	scripts/*
