**/*.DS_Store
**/*.pyc
**/node_modules/
**/deps/*/.git/
.git/
.vagrant/
backups/
docker/*
!docker/django
!docker/nginx/ca.crt
!docker/nginx/cacerts/*
docker-compose.yml
Dockerfile
scripts/misc
scripts/provision
