[submodule "deps/django-mailer"]
	path = deps/django-mailer
	url = https://github.com/pinax/django-mailer.git
	branch = master
[submodule "deps/icon-commons"]
	path = deps/icon-commons
	url = https://github.com/MapStory/icon-commons.git
	branch = master
[submodule "deps/django-osgeo-importer"]
	path = deps/django-osgeo-importer
	url = https://github.com/GeoNode/django-osgeo-importer.git
	branch = angular-1.6
[submodule "deps/django-maploom"]
	path = deps/django-maploom
	url = https://github.com/MapStory/django-maploom.git
	branch = composer
[submodule "deps/geonode"]
	path = deps/geonode
	url = https://github.com/MapStory/geonode.git
	branch = mapstory-2.6.x
[submodule "deps/maploom"]
	path = deps/maploom
	url = https://github.com/MapStory/MapLoom.git
	branch = feature/composer-wip
[submodule "deps/story-tools"]
	path = deps/story-tools
	url = https://github.com/MapStory/story-tools.git
	branch = master
[submodule "deps/story-tools-composer"]
	path = deps/story-tools-composer
	url = https://github.com/MapStory/story-tools-composer.git
	branch = master
