branches:
  only:
    - master

sudo: required
dist: trusty
group: edge

services:
  - docker

language: python
python:
  - "2.7"

env:
  global:
    - DOCKER_COMPOSE_VERSION=1.14.0
    - secure: "IMm6jAeLGJ1Vo3L81JIEh2/Z2jIARYFBviQ5cxTTH88ndN2Oj03rPDjvkP44YZwZT7Gd768Ve1PuEgq5oVmqd+oZF7hUEh08LalUV9aOkIRFEc8SjuUJVFhFzUGovqDr+Kg+Y7OqDODhZjvORqnNpOkWNUUnR26MsRY/x9vNO50="
    - secure: "FJobmS7HNb2L95ZN0s81r/MpmM5kizgyoG6bUpgIaYhQMweJgLPinHOWB+54VAr7jkdDjN5b+4hHa1pcWNSWGLDgxMZxj9pPej7Aiq0wvFMlbzai3W+/FcNENHjd3sBTLNpWiBrpQNyUXP2/+2QWPMqCbUfiS90AkA5Du198pjE="


addons:
  hostname: docker
  hosts:
    - docker
  # For sauceLabs (DO NOT REMOVE)
  sauce_connect:
    tunnel_domains: docker


before_install:
  # Temporary fix for the Basho repo being down
  - sudo rm -vf /etc/apt/sources.list.d/*riak*
  # Install Docker Engine
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - docker --version
  # Install Docker Compose
  - sudo rm /usr/local/bin/docker-compose
  - sudo curl -L "https://github.com/docker/compose/releases/download/$DOCKER_COMPOSE_VERSION/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  - sudo chmod +x /usr/local/bin/docker-compose
  - docker-compose --version
  - DCO="docker-compose -f docker-compose.yml -f docker/docker-compose.travis.yml"

  # Install test tools
  - pip install coveralls
  - npm install -g protractor
  - npm install pix-diff

  # Ensure a clean environment
  - $DCO kill
  - $DCO rm -f
  - docker volume list -q | xargs --no-run-if-empty docker volume rm -f

  - mkdir -p cover
  - chmod a+rwx cover
  - $DCO pull

install:
  - $DCO build django celery
  - $DCO up -d postgres elasticsearch rabbitmq
  - $DCO up pgadmin
  - $DCO run django "--init-db --collect-static --reindex"

script:
  - $DCO up django_volumes
  - $DCO up -d nginx
  - $DCO up django_volumes
  # Wait for django container to come up
  - while [[ "$(curl -skL -o /dev/null -w ''%{http_code}'' docker)" != "200" ]]; echo "Waiting for webserver..."; echo "$(curl -skL -o /dev/null -w ''%{http_code}'' docker)"; do sleep 5; done
  - protractor mapstory/tests/e2e/conf.js
#  - $DCO kill django
#  - $DCO run -e TRAVIS=$TRAVIS -e TRAVIS_BRANCH=$TRAVIS_BRANCH -e TRAVIS_JOB_ID=$TRAVIS_JOB_ID django --test

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker login -u="$QUAY_USERNAME" -p="$QUAY_PASSWORD" quay.io
      $DCO push
    fi

after_script:
  - $DCO kill
  - $DCO rm -f

notifications:
  slack: mapstory:E2W57xKNNOKDDqRmtQHNUlBK
