branches:
  only:
    - master

language: python

services:
  - elasticsearch

python:
  - "2.7"

env:
- DJANGO_SETTINGS_MODULE='mapstory.settings.test_settings'

virtualenv:
  system_site_packages: true

install:
  - cd ..
  - git clone https://github.com/MapStory/geonode.git
  - cd mapstory
  - sudo apt-get -qq -y update
  - sudo apt-get install -y libgdal1h python-gdal
  - sudo apt-get install -y python-virtualenv python-imaging python-lxml python-pyproj python-shapely python-nose python-httplib2 python-httplib2 gettext
  - sudo add-apt-repository -y ppa:webupd8team/java
  - sudo apt-get update
  - sudo apt-get install -y --force-yes oracle-java8-installer ant maven2 libjai-imageio-core-java --no-install-recommends
  - sudo update-java-alternatives --set java-8-oracle
  - pip install -r requirements.txt
  - pip install urllib3[secure] --upgrade
  - pip install coveralls
  - sudo apt-get install -y xvfb
  - npm install -g protractor

before_script:
  - python manage.py migrate maps --noinput
  - python manage.py migrate layers --noinput
  - python manage.py migrate groups --noinput
  - sudo mkdir -p /var/lib/mapstory/media/
  - sudo chmod 775 /var/lib/mapstory/media/
  - sudo chown $USER /var/lib/mapstory/media/
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
  - nohup bash -c "./nodemodules/protractor/bin/webdriver-manager start 2>&1 &" # Starts the webdriver

script:
  - protractor mapstory/tests/e2e/conf.js
  - coverage run ./manage.py test
  - coverage report
  - coverage html -d cover

after_success:
  - coveralls

notifications:
  slack: mapstory:E2W57xKNNOKDDqRmtQHNUlBK
