branches:
  only:
    - master

sudo: required

services:
  - docker

language: python
python:
  - "2.7"

env:
  global:
    - DOCKER_COMPOSE_VERSION=1.11.2
    - secure: "IMm6jAeLGJ1Vo3L81JIEh2/Z2jIARYFBviQ5cxTTH88ndN2Oj03rPDjvkP44YZwZT7Gd768Ve1PuEgq5oVmqd+oZF7hUEh08LalUV9aOkIRFEc8SjuUJVFhFzUGovqDr+Kg+Y7OqDODhZjvORqnNpOkWNUUnR26MsRY/x9vNO50="
    - secure: "FJobmS7HNb2L95ZN0s81r/MpmM5kizgyoG6bUpgIaYhQMweJgLPinHOWB+54VAr7jkdDjN5b+4hHa1pcWNSWGLDgxMZxj9pPej7Aiq0wvFMlbzai3W+/FcNENHjd3sBTLNpWiBrpQNyUXP2/+2QWPMqCbUfiS90AkA5Du198pjE="


addons:
  hostname: docker
  # For sauceLabs (DO NOT REMOVE)
  sauce_connect: true


before_install:
  # Install Docker Engine
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-engine
  - docker --version
  # Install Docker Compose
  - sudo rm /usr/local/bin/docker-compose
  - sudo curl -L "https://github.com/docker/compose/releases/download/$DOCKER_COMPOSE_VERSION/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  - sudo chmod +x /usr/local/bin/docker-compose
  - docker-compose --version
  - DCO="docker-compose -f docker-compose.yml -f docker/docker-compose.travis.yml"

  # Ensure a clean environment
  - $DCO kill
  - $DCO rm -f
  - docker volume list -q | xargs --no-run-if-empty docker volume rm -f

  - mkdir -p cover
  - chmod a+rwx cover
  - $DCO pull

install:
  - $DCO build django celery
  - $DCO up -d postgres elasticsearch rabbitmq
  - $DCO up pgadmin
  - $DCO run django "--init-db --collect-static --reindex"

script:
  - $DCO up -d nginx
  - $DCO kill django
  - $DCO ps
  - $DCO run django --test
  # Protractor tests are run with SauceLabs


after_success:
  - coveralls

after_script:
  - $DCO kill
  - $DCO rm -f

notifications:
  slack: mapstory:E2W57xKNNOKDDqRmtQHNUlBK