branches:
  only:
    - master

sudo: required

services:
  - docker

language: python
python:
  - "2.7"

env:
  - DOCKER_COMPOSE_VERSION: 1.11.2

addons:
  hostname: docker

before_install:
  # Install Docker Engine
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-engine
  - docker --version
  # Install Docker Compose
  - sudo rm /usr/local/bin/docker-compose
  - sudo curl -L "https://github.com/docker/compose/releases/download/$DOCKER_COMPOSE_VERSION/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  - sudo chmod +x /usr/local/bin/docker-compose
  - docker-compose --version
  - DCO="docker-compose -f docker-compose.yml -f docker/docker-compose.travis.yml"

  # Ensure a clean environment
  - $DCO kill
  - $DCO rm -f
  - docker volume list -q | xargs --no-run-if-empty docker volume rm -f

  - $DCO pull

install:
  - $DCO build django celery
  - $DCO up -d postgres elasticsearch rabbitmq
  - $DCO up pgadmin
  - $DCO run django "--init-db --collect-static --reindex"

script:
  - $DCO up -d django
  - $DCO up -d nginx
  - $DCO kill django celery
  - $DCO up -d celery
  - $DCO up django

after_success:
  - coveralls

after_script:
  - $DCO kill
  - $DCO rm -f

notifications:
  slack: mapstory:E2W57xKNNOKDDqRmtQHNUlBK
