-e ../geonode

-e git://github.com/pinax/django-mailer.git#egg=django-mailer
-e git://github.com/MapStory/icon-commons.git#egg=icon-commons
-e git://github.com/ProminentEdge/django-osgeo-importer.git@mapstory-wip#egg=osgeo_importer

docutils
textile

# dev dependencies
dj.paste
PasteDeploy
https://github.com/MapStory/django-maploom/archive/composer.zip
django-haystack==2.4.0
elasticsearch==1.6.0
django-slack==4.1.0

# Celery Requirements
celery==3.1.23
django-celery==3.1.16

SQLAlchemy==1.0.14
django-health-check==1.1.2

#specific dependency versions from mapstory v1 to support oauth and social authnz
django-oauth2-provider==0.2.6.1
django-social-auth==0.7.22
oauth2==1.5.211

# Add new social login app
requests>=2.5.1
python-social-auth

#AWS S3 dependencies
django-storages==1.1.8
boto==2.38.0

#threaded comments dependencies
django-contrib-comments==1.6.2
django-threadedcomments==1.0.1
django-fluent-comments==1.0.5

#custom thumb dependencies
django-solo==1.1.2
python-resize-image==1.1.10 

# Testing dependencies
coverage

# Security Updates
pycsw==2.0.2

#command line picker
pick
