<div class="organization_card">
    <a href="{% url 'organizations:detail' slug=organization.slug %}">
        <div class="organization_icon" style="float: left; margin-right: 1em;">
            <img class="img-circle avi-45-backup" src="https://docker/static/mapstory/img/default_avatar_lg.png" width="100%">
        </div>
        <div class="org_label">
            <strong>{{ organization }}</strong>
            <p><span>{{ organization.slogan }}</span></p>
        </div>
        <div style="clear: both"></div>
    </a>
    <div style="clear: both"></div>
</div>
