/* tell bootstrap to prefix icons */
@icon-font-path: '/static/maploom/fonts/';

/*
Put additional variables here.
*/
@brownish: rgb(70, 68, 59);

/*
Put any maploom specific (as in, from their variables) overrides here.
*/
@mainFont: normal 16px 'Open Sans', Helvetica, Arial, sans-serif;
@mainPanelColor: white;
@mainHeaderColor: white;
@layerHeaderColor: chocolate;
@layerVisibleColor: chocolate;
@modalHeaderFontColor: @brownish;
@mainFontColor: @brownish;
@mainHeaderFontColor: @brownish;
@layerHeaderFontColor: white;
