/*=========SECTIONS=========*/

.slice {
    padding-top: 75px;
    padding:bottom: 75px;
}

#homesplash {
    padding: 0;
}

#welcome {
    padding: 10px 0 50px;
    background-color: #e37236; 
    color: white;
}

#getstarted {
    background-color: #ffb44d;
    color: white;
}

#getinvolved {
    background-color: white;
    color: black;
    height: 500px;
}

#getskills {
    background-color: #ffb44d;
    color: white;
}

#thinkers {
    background-color: white;
    color: black;
}

#news {
    background-color: #ffb44d;
    color: white;
}


/* ======== PARALLAX ========= */

#paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4, #paralaxSlice5, #homeFullScreen {
	width:100%;
	background-repeat: repeat;
	background-attachment: scroll;
    background-position: 50% 0;
	background-size: cover;
		/**/
	overflow: hidden;
	/*position: relative;*/
}
.maskParent{position: relative; height:100%;width:100%}
.paralaxText {
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	position: relative;

}
.paralaxMask {width:100%; height:100%;overflow:hidden;position:absolute;background:rgba(0,0,0,0.15);}

.paralaxText blockquote:before, .paralaxText blockquote:after {
	color:#fff;
}

#home, #paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4, #paralaxSlice5 {
	background-color:#EB7F37;
}

.paralaxText blockquote, .paralaxText h1, .paralaxText h2, .paralaxText h3, .paralaxText p, .paralaxText i{
	color:#fff;
}

//thumbnails

.rdphoto {
	width: 120px;
	height: 120px;
	border: 0;
	border-radius: 30%;
	display: block;
    margin-left: auto;
    margin-right: auto	
}

.photobox {
	padding:10px 5px;

}
