/*=========SECTIONS=========*/

#paralaxSlice1 {
    position: absolute;
    z-index: 2;
    top: 50px;
    height: 600px;
    width: 100%;
    opacity: 1;
}

#welcome {
    background-color:chocolate;
    position: absolute;
    z-index: 3;
    top: 410px;
    width: 100%;
    opacity: 1;
}

#mapstories {
    position:absolute;
    z-index:4;
    top:600px;
    height:500px;
    width:100%;
}

#paralaxSlice2 {
    position:absolute;
    z-index:4;
    top:1100px;
    height: 300px;
    width:100%;
}

#getstarted{
    position:absolute;
    z-index:4;
    top:1400px;
    height:500px;
    width:100%;
}

#paralaxSlice3 {
    position:absolute;
    z-index:4;
    top:1900px;
    height: 300px;
    width:100%;
}


#getinvolved {
    position:absolute;
    z-index:4;
    top:2200px;
    height:500px;
    width:100%;
}

#paralaxSlice4 {
    position:absolute;
    z-index:4;
    top:2700px;
    height: 300px;
    width:100%;
}

#getskills {
    position:absolute;
    z-index:4;
    top:3000px;
    height:500px;
    width:100%;
}

#paralaxSlice5 {
    position:absolute;
    z-index:4;
    top:3500px;
    height: 300px;
    width:100%;
}


#news {
    position:absolute;
    z-index:4;
    top:3800px;
    height:700px;
    width:100%;
    
}

#paralaxSlice6 {
    position:absolute;
    z-index:4;
    top: 4500px;
    height: 300px;
    width:100%;
}

#thinkers {
    position:absolute;
    z-index:4;
    top:4800px;
    height:500px;
    width:100%;
}

#paralaxSlice7 {
    position:absolute;
    z-index:4;
    top: 5300px;
    height: 300px;
    width:100%;
}

#sponsors {
    position:absolute;
    z-index:4;
    top:5600px;
    height:500px;
    width:100%;
}


/*FOOTER*/

footer.color4 {
    position:absolute;
    z-index:4;
    top:6100px
}


/* ======== PARALLAX ========= */

#paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4, #paralaxSlice5, #homeFullScreen {
	width:100%;
	background-repeat: repeat;
	background-attachment: scroll;
    background-position: 50% 0;
	background-size: cover;
		/**/
	overflow: hidden;
	/*position: relative;*/
}
.maskParent{position: relative; height:100%;width:100%}
.paralaxText {
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	position: relative;

}
.paralaxMask {width:100%; height:100%;overflow:hidden;position:absolute;background:rgba(0,0,0,0.15);}

.paralaxText blockquote:before, .paralaxText blockquote:after {
	color:#fff;
}

#home, #paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4, #paralaxSlice5 {
	background-color:#EB7F37;
}

.paralaxText blockquote, .paralaxText h1, .paralaxText h2, .paralaxText h3, .paralaxText p, .paralaxText i{
	color:#fff;
}

//thumbnails

.rdphoto {
	width: 120px;
	height: 120px;
	border: 0;
	border-radius: 30%;
	display: block;
    margin-left: auto;
    margin-right: auto	
}

.photobox {
	padding:10px 5px;

}
