{% load i18n %}
<div class="container" id="footer">
    <div class="row">
        <div class="col-sm-9">
            <div class="footerWidget">
                <strong> Storyscapes</strong> {% trans "is the atlas of change that everyone can edit. We are a community, not a company, that envisions a world where everyone's knowledge can be tapped, peer reviewed, organized and shared so that we all can dramatically improve our understanding of the rich past, complex present and uncertain future we share as living beings on planet Earth." %}
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <button class="btn btn-sm btn-block btn-default">
                    <a href="{% url 'donate' %}">{% trans "Help Storyscapes grow." %}<br> {% trans "Make a donation." %}</a>
                </button>
            </div>
            <div class="social">
                <a href="https://twitter.com/mapstory"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/mapstories"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/mapstory"><i class="fa fa-github"></i></a>
                <a href="http://help.mapstory.org"><i class="fa fa-support"></i></a>
            </div>
        </div>
    </div>
</div>