{% load i18n %}
<div class="container">
    <nav id="filter" class="col-md-12 text-center" style="left: -20px;">
        <ul class="nav nav-tabs" style="padding-left: 50px;">
            <!-- NOTE: The specific category names for querying may need to be updated -->
            <li><a ng-click="query_category();" class="btn btn-filter btn-sm sectionTab">{% trans "All Storyscapes" %}</a></li>
            <li><a ng-click="query_category('crisis');" class="btn btn-filter btn-sm sectionTab">{% trans "Crisis" %}</a></li>
            <li><a ng-click="query_category('geopolitics');" class="btn btn-filter btn-sm sectionTab">{% trans "Geopolitics" %}</a></li>
            <li><a ng-click="query_category('scienceIndustry');" class="btn btn-filter btn-sm sectionTab">{% trans "Science & Industry" %}</a></li>
            <li><a ng-click="query_category('humanSettlement');" class="btn btn-filter btn-sm sectionTab">{% trans "Human Settlement" %}</a></li>
            <li><a ng-click="query_category('cultureIdeas');" class="btn btn-filter btn-sm sectionTab">{% trans "Culture & Ideas" %}</a></li>
            <li><a ng-click="query_category('natureEnvironment');" class="btn btn-filter btn-sm sectionTab">{% trans "Nature & Environment" %}</a></li>
            <li><a ng-click="query_category('health');" class="btn btn-filter btn-sm sectionTab">{% trans "Health" %}</a></li>
            <li><a ng-click="query_category('biography');" class="btn btn-filter btn-sm sectionTab">{% trans "Biography" %}</a></li>
        </ul>
    </nav>
    <div class="row">
        <p ng-hide="results.length">{% trans "No Featured Items in this category" %} ...</p>
    </div>
</div>