{% load i18n %}
<div class="row links" style="padding-top:15px;padding-bottom:5px;">
    <div class="col-sm-3">
        <h3>
            <a href="#" data-toggle="modal" data-target="#loginModal">
                {% trans "Sign up now" %}
            </a>
        </h3>
    </div>
    <div class="col-sm-3">

        <h3>
            {% if user.is_authenticated %}
                <a class="pointer" ng-controller="ImportController" ng-click="open(null, '{{ STATIC_URL }}osgeo_importer/partials/uploadWizard.html', '{{ STATIC_URL }}mapstory/img/mapstory-icon.png', '{{STATIC_URL}}')" target="_self">
            {% else %}
                <a class="pointer" data-toggle="modal" data-target="#loginModal">
            {% endif %}
                {% trans "Upload StoryLayers" %}
            </a>
        </h3>
    </div>
    <div class="col-sm-3">
        <h3>
            <a href="{% url 'new_map' %}?tour">
                {% trans "Compose Storyscape" %}
            </a>
        </h3>
    </div>
    <div class="col-sm-3">
        <h3>
            <a href="{% url 'getpage' 'started' %}">
                {% trans "Learn more" %}
            </a>
        </h3>
    </div>
</div>