{% load i18n %}
{% load avatar_tags %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
                {% for item in diary_entries %}
                {% if forloop.counter0|divisibleby:4 %}<div class="row" style="padding:20px">{% endif %}
                    <div class="col-sm-3 photobox">
                        <a href="{% url "diary-detail" item.pk %}">
                            <img class="img-circle" src="{% avatar_url item.author 150 %}" width="150" height="150"/>
                            <h5 class="text-center">
                                <strong>{{ item.title|truncatechars:48 }}</strong>
                                <br/>
                                {% include "people/_profile_name_display.html" with profile=item.author only %}
                            </h5>
                        </a>
                    </div>
                {% if forloop.counter|divisibleby:4 or forloop.last %}</div>{% endif %}
                {% empty %}
                <p>{% trans "No Featured Thinkers and Thoughts" %}...</p>
                {% endfor %}
        </div>
        <div class="col-sm-4">
            <h1>{% trans "Thinkers and Thoughts" %}</h1>
            <h3>{% trans "The latest insights from leading Storyscapetellers. For more, visit the" %} <a href="{% url 'diary' %}">{% trans "Community Journal" %}</a>
            </h3>
        </div>
    </div>
</div>