{% load i18n %}
<div class="container">
        <h1>{% trans "Get Skills" %}</h1>
        <h3>{% trans "Storyscapes is for everyone, not just web developers and GIS experts. We work hard to get you the help you need to improve and succeed." %}
        </h3>
    <br/>
    <div class="row">
        <div class="col-sm-4">
            <img class="rdphoto" src="{{ STATIC_URL }}mapstory/img/101.png">
            <a href="{% url 'getpage' 'skills' %}"><h2>1. {% trans "Storyscapes 101" %}</h2></a>
            <h5>{% trans "Learn all the basic skills you need to start collecting data and creating Storyscapes of your own." %}</h5>
        </div>
        <div class="col-sm-4">
            <img class="rdphoto" src="{{ STATIC_URL }}mapstory/img/wiki.png">
            <a href="http://wiki.mapstory.org"><h2>2. {% trans "Storyscapes Wiki" %}</h2></a>
            <h5>{% trans "Find and share more resources alongside the global Storyscapes community." %}</h5>
        </div>
        <div class="col-sm-4">
            <img class="rdphoto" src="{{ STATIC_URL }}mapstory/img/Help.png">
            <a href="http://help.mapstory.org"><h2>3. {% trans "Help Center" %}</h2></a>
            <h5>{% trans "Ask questions, find answers, and help others." %}</h5>
        </div>
        </div>
</div>