{% extends "site_base.html" %}
{% load webdesign %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load mapstory_tags %}
{% load cache %}
{% load avatar_tags %}

{% block extra_head %}
<link href="{{ STATIC_URL }}mapstory/css/search.css" rel="stylesheet" />
{% endblock %}

{% block title %}{{ groupprofile.title }}{% endblock %}

{% block body_outer %}
				<!-- content -->
        <section class="parallax">
          <!-- TODO: This doesn't look very good -->
          <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Africa' }});">
						<div class="maskParent">
							<div class="paralaxMask"></div>
							<div class="paralaxText container" style="text-align:left;padding-bottom:0">
								<div class="row">
									<div class="col-sm-1">
										{% if groupprofile.logo %}
										<img class="img-rounded" src="{{ groupprofile.logo.url }}" width="75" height="75" style="margin-top:55px;margin-bottom:0px"/>
										{% endif %}
									</div>
									<div class="col-sm-6">
										<div style="padding:60px 0px 0px 10px;">
											<h1 style="font-size:3em">{{ groupprofile.title }}</h1>
											<h1 style="font-size:1.1em;">
												{{ groupprofile.city }}, {{ groupprofile.country }}</h1>
										</div>
									</div>
									<div class="col-sm-5">
										<div class="row"  style="padding:80px 0px 10px 10px;">
										  <div class="col-sm-4 col-sm-offset-8">
										<a class="btn btn-sm btn-block" style="font-size:1em;background-color:transparent;color:white;border:1px solid white;" title="" href="#" target="blank">
											message
										</a>
									   </div>
								    </div>
									</div>
							   </div>
						  </div>
					 </div>
          </div>
        </section>
				<!-- dashboard -->
				<section class="slice" id="dashboard" style="padding-top:20px">
					<div class="container">
						<div class="row" >
							<div class="col-lg-3" style="padding-top:10px;border-right:1px solid darkgray">
								<!-- TODO: Hook in mapstory messaging system -->
								<h3>
									<span style="color:orange">send message</span>
								</h3>
								<!--
								<hr style="margin:5px"> -->
								<!-- TODO: Hook in social links when this is changed to a regular user, and make it only appear if they exist -->
								<!--
								<h3>
									<span style="color:dodgerblue">facebook.com/</span>
								</h3>
								<hr style="margin:5px">
								<h3>
									<span style="color:deepskyblue">twitter @</span>
								</h3>
								<hr style="margin:5px">
								-->
								<h3>Interests</h3>
									{% for interest in groupprofile.interests.all %}
										<span class="label label-default">{{ interest }}</span>
									{% endfor %}
								<hr style="margin:5px">
								<h3>Org summary <br/>
									<div style="max-height:200px; overflow-y:scroll; overflow-x:hidden;font-size:0.9em">
										<i>
										{{ groupprofile.description }}
										</i>
									</div>
								</h3>
            	</div>
            	<div class="col-lg-9">
								{% include "branding/groups_organization_visit_nav.html" %}
								<div class="tab-content">
									<div class="tab-pane active" id="mapstories">
										<div class="col-lg-12">
											<div class="clearfix search-results">
									{% include "branding/groups_organization_visit_ul.html" %}
							        </div>
							        <span>Total: </span>
											<span ng-bind="total_counts"></span>
											<a href><strong ng-click="paginate_down()">&laquo;</strong></a>
											<span>page </span>
											<span ng-model="page" ng-bind="page"></span>
											<span> of </span>
											<span ng-bind="numpages"></span>
											<a href><strong ng-click="paginate_up()">&raquo;</strong></a>
							      </div>
									</div>
									<div class="tab-pane" id="storylayers">
										<div class="col-lg-12">
											<div class="clearfix search-results">
						            <ul>
						            	<!-- TODO: Figure out how to filter by storylayer -->
								          {% for layer in layers %}
													<li class="col-md-4">
														<div style="text-align: left;">
															<a href="{{ layer.detail_url}}"><img class="thumb img-responsive" src="{{ layer.thumbnail_url}}"/></a>
															<h3><a href="{{ layer.detail_url}}">{{ layer.title}}</a></h3>
															<div><p><i>StoryLayer</p></i></div>
															<h4><span class="owner"><i class="fa fa-user"></i>{{ layer.owner.first_name }} {{ layer.owner.last_name }}</span></h4>
		        									<h4><span><i class="fa fa-flag-o"></i></span>{{ layer.category.gn_description}}</h4>
		        									<!-- TODO: Hook in the edits -->
		        									<h4><a href="{{ layer.detail_url}}"><i class="fa fa-pencil"></i> edits</a></h4>
		        									<h4><a href="{{ layer.detail_url}}#rate"><i class="fa fa-star"></i> {{ layer.rating}}</a></h4>
		        									<div><h5 class="abstract"><a href="#">{{ layer.abstract|slice:"70" }}<i>...read more</i></a></h5></div>
		        									<div class="btn-toolbar">
		        										<h4>
									                <!-- goes to composer -->
									                <a href="{% url "new_map" %}?layer={{ layer.detail_url|slice:"8:" }}"><button class="btn btn-primary btn-xs"><i class="fa fa-play"></i> use</button></a>
									                <!-- goes to layer edit -->
									                <a href='{% url "map-edit" %}?layer={{layer.service_typename}}'><button class="btn btn-primary btn-xs"><i class="fa fa-share-alt"></i> edit</button></a>
									                <!-- TODO: Hook in favorites functionality -->
									                <button class="btn btn-primary btn-xs"><i class="fa fa-heart-o"></i> favorite</button>
		        										</h4>
		        									</div>
														</div>
													</li>
													{% empty %}
													There are no layers made by this group.
													{% endfor %}
						            </ul>
							        </div>
							        <span>Total: </span>
											<span ng-bind="total_counts"></span>
											<a href><strong ng-click="paginate_down()">&laquo;</strong></a>
											<span>page </span>
											<span ng-model="page" ng-bind="page"></span>
											<span> of </span>
											<span ng-bind="numpages"></span>
											<a href><strong ng-click="paginate_up()">&raquo;</strong></a>
							      </div>
									</div>
									<div class="tab-pane" id="activities">
										<!-- TODO: Was this supposed to be something? -->
									</div>
									<div class="tab-pane" id="storytellers">
										<div class="col-lg-12">
											<div class="clearfix search-results">
						            <ul>
													{% for user in groupprofile.member_queryset %}
														<li class="col-md-4">
											        <div style="text-align: left;">
											            <a href="{{ user.user.profile_detail_url}}"><img class="thumb img-responsive img-circle" ng-src="{{ user.user.avatar_100}}"/></a>
											            <h3><a href="{{ user.user.profile_detail_url}}">{{ user.user.first_name }} {{ user.user.last_name }}</a></h3>
											            <!-- If both exist, comma separated... otherwise no comma separation -->
											            {% if user.user.position and user.user.organization %}
											            	<h4><i class="fa fa-briefcase"></i>{{ user.user.position }}, {{ user.user.organization }}</h4>
											            {% else %}
											            	{% if user.user.position or user.user.organization %}
											            		<h4><i class="fa briefcase"></i>{{ user.user.position }} {{ user.user.organization }}</h4>
											            	{% endif %}
											            {% endif %}
											            {% if user.user.city and user.user.country %}
											            	<h4><i class="fa fa-map-marker"></i>{{ user.user.city }}, {{ user.user.country }}</h4>
											            {% else %}
											            	{% if user.user.city or user.user.country %}
											            		<h4><i class="fa fa-map-marker"></i>{{ user.user.city }} {{ user.user.country }}</h4>
											            	{% endif %}
											            {% endif %}
											            <h4>{{ user.user.profile }}</h4>

											            <a href="{{ user.user.profile_detail_url }}"><button class="btn btn-primary btn-xs"><i class="fa fa-user"></i> view profile</button></a>
											            <!-- TODO: Hook in messaging functionality -->
											            <a><button class="btn btn-primary btn-xs"><i class="fa fa-envelope"></i> message</button></a>
											        </div>
											      </li>
													{% empty %}
													<p>There are no members in this group. </p>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
									<div class="tab pane" id="blogs">
									</div>
									<div class="tab-pane" id="favorites">
										<!-- TODO: Hook in favorites -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- dashboard -->
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL }}mapstory/js/paginate.js"></script>
{% endblock extra_script %}
