{% load i18n %}
{% load threadedcomments_tags %}
{% load fluent_comments_tags %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load guardian_tags %}
{% load flag_tags %}

{% get_comment_count for resource as num_comments %}
<div ng-controller="detailController as ctrl">
    <section class="slice" id="dashboard">
        <div class="container">
            <div class="row">
                <div style="text-align: left">
                    <div>
                        <h2>{{resource.title}} 
                        {% if not resource.is_published %}
                            <a href="#metaForm" data-toggle="modal" class="btn btn-danger">
                                <i class="fa fa-lock"></i> Private
                            </a>
                        {% endif %}
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <span class="small">{% trans "Imported by" %}
                                <a ng-href="{% url 'profile_detail' slug=resource.owner.username %}" target="_blank">
                                    {% if resource.owner.first_name != '' %}
                                        {{ resource.owner.first_name }} {{ resource.owner.last_name }}
                                    {% else %}
                                        {{ resource.owner.username }}
                                    {% endif %}
                                </a> on {{ resource.date|date }}
                            </span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-lg-9">
                    <div id="embedded_map" class="mrg-btm layer">
                        <div id="preview_map"></div>
                    </div>
                    {% if request.user.is_authenticated %}
                    {% user_rating request.user resource "layer" as user_layer_rating %}
                    <div id="user_rating" class="pull-right category-layer" data-score="{{ user_layer_rating }}"></div>
                    {% endif %}
                    <div  class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs details-tabs" 
                                {% if GEOGIG_ENABLED and resource.link_set.geogig %} 
                                    ng-controller="geogigController"
                                 {% endif %}   
                                >
                                <li class="active"><a href="#Metadata" data-toggle="tab">About this StoryLayer</a></li>
                                {% if GEOGIG_ENABLED and resource.link_set.geogig %} 
                                <li><a href="#Edits" data-toggle="tab">Contributions ({% verbatim %}{{ stats.totalCommits| number}}{% endverbatim %})</a></li>
                                {% endif %}  
                                <li><a href="#Comments" data-toggle="tab">Comments ({{ num_comments }})</a></li>
                                <li><a href="#ShareLayer" data-toggle="tab">Share</a></li>
                                {% if resource.category %}
                                <li><a href="#Related" data-toggle="tab" ng-click="query_category('{{ resource.category }}', '{{page}}');">Related</a></li>
                                {% endif %}
                            </ul>
                            <div class="tab-content details">
                                <div class="tab-pane active" id="Metadata">
                                    <table class="table table-condensed table-hover">
                                        <tr>
                                            <td width="35%">Category</td>
                                            <td width="65%">{{ resource.category }}</td>
                                        </tr>
                                        <tr>
                                            <td width="35%">Summary</td>
                                            <td width="65%">{{ resource.abstract }}</td>
                                        </tr>
                                        <tr>
                                            <td width="35%">Purpose</td>
                                            <td width="65%">{{ resource.purpose }}</td>
                                        </tr>
                                        <tr>
                                            <td width="35%">Data Source</td>
                                            <td width="65%">{{ resource.distribution_url }}</td>
                                        </tr>
                                        <tr>
                                            <td width="35%">Data Quality Statement</td>
                                            <td width="65%">{{ resource.data_quality_statement }}</td>
                                        </tr>
                                        <tr>
                                            <td width="35%">Tags</td>
                                            <td width="65%">
                                                <script type="text/javascript">
                                                    // Pass the keyword list from the django template into the javascript
                                                    var keywords = {{keywords|safe}};
                                                    var url = "{{ resource.detail_url }}";
                                                    var loggedIn = "{{user.is_authenticated}}";
                                                </script>
                                                <md-content class="md-padding" layout="column">
                                                    <md-chips ng-model="chips" 
                                                    readonly="readOnly"
                                                    md-on-add="addTag($chip)"
                                                    md-on-remove="removeTag($chip)"
                                                    md-transform-chip="newChip($chip)"
                                                    md-separator-keys="separateOn"
                                                    placeholder="Add tags for this StoryLayer...">
                                                    </md-chips>
                                                </md-content>
                                            </td>
                                        </tr>
                                        {% if content_moderators in user.groups.all or user == resource.owner or user.is_superuser %}
                                        <tr>
                                            <td width="35%">Thumbnail</td>
                                            <td width="35%">
                                                <a href="{{ thumbnail }}"><img ng-src="{{ thumbnail }}" src="{{ thumbnail }}" id="change-thumbnail-image"></a>

                                                <form action="" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <p>{{ thumb_form.non_field_errors }}</p>
                                                <p>{{ thumb_form.docfile.label_tag }} </p>
                                                <p>
                                                  {{ thumb_form.thumbnail_image.errors }}
                                                  {{ thumb_form.thumbnail_image }}
                                                </p>
                                                <p>MapStory supports jpeg, gif, png, and bitmap file types.</p>
                                                <button style="width:200px" class="btn btn-primary btn-md btn-block" type="submit">
                                                    Change Image
                                                </button>
                                          </form>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </table>
                                </div>
                                <div class="tab-pane" id="Edits">
                                    <div>
                                        {% if GEOGIG_ENABLED and resource.link_set.geogig %}
                                            {% with "layers/_geogig_layer_detail.html" as geogig_template %}
                                                <article id="geogig" class="tab-pane">
                                                    {% with resource as obj %}
                                                        {% include geogig_template %}
                                                    {% endwith %}
                                                </article>
                                            {% endwith %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="Related">
                                    <div>
                                        {% verbatim %}
                                        <div ng-hide="results.length">No related content found...</div>
                                        <div ng-show="results.length">
                                            <div class="col-sm-12" ng-repeat="item in results">
                                                <div ng-show="{{ item.id }} != {% endverbatim %}{{ resource.id }}{% verbatim %}">
                                                    <div class="row boxFeature">
                                                        <div class="col-xs-3">
                                                            <a href="{{ item.detail_url }}">
                                                                <img class="thumb img-responsive details" ng-src="{{ item.thumbnail_url }}"/>
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-9">
                                                            <h3><a href="{{ item.detail_url }}">{{ item.title }}</a></h3>
                                                            <p>{{ item.abstract|limitTo:"250"  }}
                                                                {% endverbatim %}
                                                                {% if item.abstract != 'No abstract provided' %}
                                                                {% verbatim %}
                                                                <a href="{{ item.detail_url }}"><i>...read more</i></a>
                                                                {% endverbatim %}
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane layer-comments" id="Comments">
                                    {% render_comment_list for resource %}
                                    {% if user.is_authenticated %}
                                        {% render_comment_form for resource %}
                                    {% endif %}
                                </div>
                                <div class="tab-pane" id="ShareLayer">
                                    <h3>Social</h3>
                                    {% block share_icons %}
                                        {% include "share_icons.html" %}
                                    {% endblock share_icons %}
                                    <h3>Map Services</h3>
                                    <div class="embed">WMS
                                        <i class="fa fa-question-circle ng-scope">
                                            <md-tooltip>OpenGIS® Web Map Service Interface Standard</md-tooltip>
                                        </i>
                                        <input id="shareWMS" value ="https://{{ request.get_host }}/geoserver/geonode/{{ resource }}/wms?REQUEST=GetCapabilities&SERVICE=WMS&TILED=true&VERSION=1.1.1">

                                        <button class="copyclip btn" data-clipboard-target="#shareWMS">
                                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="embed"> WFS
                                        <i class="fa fa-question-circle ng-scope">
                                            <md-tooltip>OGC® Web Feature Service</md-tooltip>
                                        </i>
                                        <input id="shareWFS" value ="https://{{ request.get_host }}/geoserver/geonode/{{ resource }}/wfs?REQUEST=GetCapabilities&SERVICE=WFS&VERSION=2.0.0">

                                        <button class="copyclip btn" data-clipboard-target="#shareWFS">
                                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% include 'layers/_sidebar.html' %}
            </div>
        </div>
    </section>
</div>