{% load i18n %}
{% load dialogos_tags %}
{% load url from future %}
{% load guardian_tags %}
{% load flag_tags %}

<div class="modal fade" id="download-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Download StoryLayer as:" %}</h4>
            </div>
            <div class="modal-body download">
                {% if links %}
                    <ul>
                    {% for link in links %}
                        <li class="download-link"><a href="{{ link.url }}" data-extension="{{ link.name }}" data-id="{{ resource.id }}">{% trans link.name %}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>