{% load geogig_tags %}
<script src="{{ STATIC_URL }}mapstory/js/dist/mapstory.geogig.js"></script>

<script type="text/javascript">
    var module = angular.module('mapstory');
    module.constant('geogigConfig', {
        workspace: '{{ resource.workspace }}',
        store: '{{ resource.store }}',
        typename: '{{ resource.typename }}',
        geoserverURL: '{{ GEOSERVER_BASE_URL }}',
        statisticsURL: '{%  geogig_statistics_url resource %}',
        logURL: '{% geogig_log_url resource %}',
        repoURL: '{% geogig_repo_url resource %}'
    });
    module.requires.push('geogig');

    moment.locale('en', {
        calendar: {
            lastDay: '[yesterday at] LT',
            sameDay: '[today at] LT',
            lastWeek: '[last] dddd [at] LT',
            sameElse: '[on] D MMM YYYY'
        }
    });
</script>