{% load i18n %}
{% load threadedcomments_tags %}
{% load fluent_comments_tags %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load guardian_tags %}
{% load flag_tags %}

<div id="metaForm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{% trans 'Edit Metadata' %}</h4>
            </div>
            <form name="metadata_form" method="POST" id="form_post_metadata" action="{{ resource.detail_url }}">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ metadata_form|as_bootstrap }}
                    {{ distributionurl_form|as_bootstrap }}
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                        {% trans "Cancel" %}
                    </button>
                    <button class="btn btn-primary" aria-hidden="true" id="metadata_submit_btn" type="submit">
                        {% trans "Save" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
