{% load i18n %}
{% load threadedcomments_tags %}
{% load fluent_comments_tags %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load guardian_tags %}
{% load flag_tags %}

<div class="col-md-2 side-column details">
    <ul class="layer-sidebar">
        <li>
            <i class="fa fa-star"></i>
            {% if resource.rating %}
                {{ resource.rating }} of 5 stars
            {% else %}
                Not yet rated
            {% endif %}
        </li>
        <li><i class="fa fa-eye"></i> {{ resource.popular_count }} {% trans 'views' %}</li>
    </ul>
    {% if request.user.is_authenticated %}
    <ul class="layer-sidebar">
        <li>{% include "favorite/_favorite.html" %}</li>
        <li><i class="fa fa-flag"></i>
            <a href="#flag" role="button" data-toggle="modal" style="hover: cursor;">Flag</a>
        </li>
        {% include '_flag_content.html' %}
    </ul>
    {% endif %}
    
    {% if request.user.is_authenticated %}
    {% get_obj_perms request.user for resource.get_self_resource as "perms" %}
    {% get_obj_perms request.user for resource.get_self_resource.layer as "layer_perms" %}
        {% if "change_layer_data" in layer_perms %}
            <div class="side-column-header">Edit this Layer</div>
            <a href='{% url "map-edit" %}?layer={{ resource.service_typename }}&mode=edit' target="_blank">
                <button class="btn btn-block btn-detailpage">
                    {% trans "Edit Features" %}
                </button>
            </a>
            <a ng-controller="ImportController" style="cursor: pointer"
               ng-click="open(null, '{{ STATIC_URL }}mapstory/partials/uploadWizard.html', '{{ STATIC_URL }}mapstory/img/mapstory-icon.png', '{{ STATIC_URL }}', '{{ default_append_config }}', '{{ resource.typename }}', '{{ shapefile_link }}','{{ csv_link }}')">
                <button class="btn btn-block btn-detailpage">
                    {% trans 'Append Data' %}
                </button>
            </a>
        {% endif %}
        {% if "change_resourcebase" in perms or "change_resourcebase_metadata" in perms%}
            <a href="#metaForm" data-toggle="modal">
                <button class="btn btn-block btn-detailpage">
                    {% trans "Update Metadata" %}
                </button>
            </a>
            {% include "layers/_meta_modal.html" %}
        {% endif %}

        <div class="side-column-header">Use this Layer</div>
        <a href="{% url "new-story" %}?layer={{ resource.service_typename }}" target="_blank">
            <button class="btn btn-block btn-detailpage">{% trans "Compose Story" %}</button>
        </a>
        {% if resource.storeType != "remoteStore" and "download_resourcebase" in perms %}
            <a href="#" data-toggle="modal" data-target="#download-layer">
                <button class="btn btn-block btn-detailpage">{% trans "Download Layer" %}
                </button>
            </a>
            {% include "layers/_download_modal.html" %}
        {% endif %}
        {% if "delete_resourcebase" in perms %}
            <a href="{% url "layer_remove" resource.service_typename %}" class="">
                <button class="btn btn-block btn-detailpage layer-delete">
                    <i class="fa fa-trash"></i> {% trans "Delete Layer" %}
                </button>
            </a>
        {% endif %}
        {% if request.user.is_authenticated %}
            {% if organizations.count > 0 %}
                <div class="side-column-header">Use on Organization Page</div>
                {% for org in organizations %}
                    <form action='{% url "organizations:add_layer" slug=org.organization.slug layer_pk=resource.pk%}' method="post">
                        {% csrf_token %}
                        <input class="btn btn-block btn-detailpage" type="submit" name="add_to_layers" value="{{ org.organization }}" />
                    </form>
                {% endfor %}
            {% endif %}
            {% if initiatives.count > 0 %}
                <div class="side-column-header">Use on Initiative Page</div>
                {% for ini in initiatives %}
                    <form action='{% url "initiatives:add_layer" slug=ini.initiative.slug layer_pk=resource.pk%}' method="post">
                        {% csrf_token %}
                        <input class="btn btn-block btn-detailpage" type="submit" name="add_to_layers" value="{{ ini.initiative }}" />
                    </form>
                {% endfor %}
            {% endif %}
        {% endif %}

    {% else %}
    {% comment %} Public Sidebar, every link to login {% endcomment %}
    <div class="side-column-header">Edit this Layer</div>
        <button   class="btn btn-block btn-detailpage" data-toggle="modal" data-target="#loginModal">
            {% trans "Edit Features" %}
        </button>
        <button   class="btn btn-block btn-detailpage" data-toggle="modal" data-target="#loginModal">
            {% trans "Append Data" %}
        </button>
    <div class="side-column-header">Use this Layer</div>
        <button   class="btn btn-block btn-detailpage" data-toggle="modal" data-target="#loginModal">
            {% trans "Compose Story" %}
        </button>
        <button   class="btn btn-block btn-detailpage" data-toggle="modal" data-target="#loginModal">
            {% trans "Download Layer" %}
        </button>
    {% endif %}
</div>