{% extends "layers/layer_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
{% load friendly_loader %}
{% friendly_load avatar_tags %}

{% block title %}{{ resource.title|default:resource.typename }} — {{ block.super }}{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css"/>
    {{ block.super }}
{% endblock %}

{% block body_class %}layers{% endblock %}

{% block body_outer %}
{% include "layers/_details.html" %}
{% endblock %}

{% block extra_script %}
{% if GEOGIG_ENABLED and resource.link_set.geogig %}
    {% with "layers/_geogig_scripts.html" as geogig_scripts_template %}
        {% include  geogig_scripts_template %}
    {% endwith %}
{% endif %}
<script type="text/javascript">
    var app;
    $(document).ready(function () {
        {% autoescape off %}
        $('<iframe>', {
            src: '{%  url 'layer_viewer' resource.typename %}',
            id: 'myFrame',
            allowfullscreen: 'true',
            frameborder: 0,
            style: 'width: 100%; height: 100%;',
            scrolling: 'no'
        }).appendTo('#embedded_map');
        {% endautoescape %}
    });

    {% if request.GET.showMetadata == 'true'%}
        // prompt user to fill out metadata if the showMetadata GET param is true
        $(window).load(function () {
            $('#metaForm').modal('show');
        });
    {% endif %}
</script>
{% if request.user.is_authenticated %}
    {% user_rating_js request.user resource "layer" %}
{% endif %}

{% if GEONODE_SECURITY_ENABLED %}
    {% get_obj_perms request.user for resource.get_self_resource as "perms" %}
    {% if "change_resourcebase_permissions" in perms %}
        {% include "_permissions_form_js.html" %}
    {%  endif %}    
{% endif %}
<script src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
{% endblock extra_script %}