{% extends "site_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load guardian_tags %}

{% block twitter-cards %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ resource.title }}" />
    <meta name="twitter:creator" content="{{ resource.owner.username }}">
    {% if resource.owner.first_name != '' %}
        <meta name="twitter:description" content="By {{ resource.owner.first_name }} {{ resource.owner.last_name }}. {{ resource.abstract }}" />
    {% else %}
        <meta name="twitter:description" content="By {{ resource.owner.username }}. {{ resource.abstract }}" />
    {% endif %}
    <meta name="twitter:image" content="{{ thumbnail }}" />
    <meta name="twitter:site" content="@mapstory" />
{% endblock %}

{% block title %}{{ resource.title|default:resource.typename }} — {{ block.super }}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css"/>
{% endblock %}

{% block body_class %}layers{% endblock %}

{% block body_outer %}
{% include "layers/_details.html" %}
{% endblock %}

{% block extra_script %}
{% if GEOGIG_ENABLED and resource.link_set.geogig %}
    {% include "layers/_geogig_scripts.html" %}
{% endif %}
<script type="text/javascript">
    var app;
    $(document).ready(function () {
        {% autoescape off %}
        $('<iframe>', {
            src: '{%  url 'layer_viewer' resource.typename %}',
            id: 'myFrame',
            allowfullscreen: 'true',
            frameborder: 0,
            style: 'width: 100%; height: 100%;',
            scrolling: 'no'
        }).appendTo('#embedded_map');
        {% endautoescape %}
    });

    {% if request.GET.showMetadata == 'true'%}
        // prompt user to fill out metadata if the showMetadata GET param is true
        $(window).on('load',function () {
            $('#metaForm').modal('show');
        });
    {% endif %}
</script>
{% if request.user.is_authenticated %}
    {% user_rating_js request.user resource "layer" %}
{% endif %}

<script src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
{% endblock extra_script %}