[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

/* --- BASE - Text --- */

html, body {
  height: unset; //overwrite angular material 100%
}

body {
  font-family: @base-font-family;
  color: @base-font-color;
  line-height: @base-line-height;
  font-size: 16px;
  line-height: 22px;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

p, h1, h2, h3, h4, h5, h6, legend {
  font-style: normal;
  text-transform: none;
  font-weight: 200;
  font-family: @base-font-family;
}

// reseting heading font sizes to closer to browser default
// bootstrap makes them bigger and we're overwriting their rules
h1 {
  font-size: 2.500em;
  font-weight: 300;
}

h2 {
  font-size: 1.875em
}

h3, legend {
  font-size: 1.250em;
}

h4 {
  font-size: 1.000em;
}

h5 {
  font-size:  0.875em;
}

h6 {
  font-size:  0.625em;
}

//mapstory/templates/provider/authorize.html
//mapstory/partials/uploadWizard.html:
select {
  background: @white;
  color: @black;
  border: 1px solid @gray60;
  height: 30px;
  line-height: 30px;
}

p, ul {
  font-size: 18px;
  font-weight: 200;
}

small {
  font-size: 80%;
}

.tiny {
  font-size: 70%;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  &:hover, &:focus, &:active {
    color: @gray60;
    text-decoration: none;
  }
}

h2.page-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  margin: 0;
}

h2.side-title {
  font-size: 1.15em;
  font-weight: 600;
}

h3.bold-caps {
  font-size: 0.9em;
  font-weight: 600;
  float: left;
  text-transform: uppercase;
}

h4.tiny-caps, .tiny-caps {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.7em;
  color: @gray-700;
}

.social-icons {
  text-align: center;
  i {
    padding-right: 0.2em;
    color: @gray-700;
  }
} 

/* --- BASE - Slices, Sections, Spacing --- */
//layers/_details.html
//maps/_story_details.html
//getpage.html
.slice {
  padding: 33px 20px;
  width: 100%;
  background-color: @white;
  position: relative;
  text-align: center;
}

hr { //overwritten often w inline styles
  padding: 0;
  margin: 10px 0;
}

//geonode/people/templates/people/forgot_username_form.html
//geonode/templates/account/password_reset.html
.grid-spacer {
  margin-top: 30px;
}

//activity list, group members, group activity
.no-style-list {
  list-style-type: none;
  padding-left: 0px;
 // margin-top: 20px; //activity list
}

/* --- BASE - Form Components --- */
form {
  label {
    margin-right: 2.5em;
  }
  input {
    border: 1px solid @gray90;
    padding: 5px;
  }
}

///mapstory/templates/provider/authorize.html
.oauth-body {
  width: 800px;
  margin: 15px auto;
  padding-top: 15px;
  .h2 {
    color: @secondary;
  }
}

//geonode/templates/_permissions.html
.controls, .controls > select, .controls > textarea, .controls > input, .controls > div {
  width: 320px;
}

.org_container {
  margin-left: 2em;

  .org-slogan {
    font-style: italic;
    letter-spacing: 1px;
  }

  .organization_hero {
    margin-left: 1em;
  }

  .organization_icon {
    width: 7em;
    height: 7em;
    float: left;
    margin-right: 3em;
    margin-bottom: 2em;
    .organization_icon_image {
      width: 100%;
      height: 100%;
    }
  }

  .organization_header {
    margin-top: 1em;
  }

  .org_left_column {
    float:left;
    width: 28%;
    height: 100%;
  }
  .org_right_column {
    width: 69%;
    align-content: center;
    float: left;
    padding-left: 4em;
  }

  .organization_about_city {
    padding-left: 1.2em;
  }

  .organization_about {
    padding: 1.3em;

    .organization_about_title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1em;
    }

    .organization_about_content {
      p {
        font-weight: normal;
        font-size: 0.9em;
      }
    }
  }

  .organization_urls {
    padding: 0.5em;
    margin-left: 1em;

    .organization_link {
      font-weight: lighter;
      font-size: 0.8em;
      letter-spacing: 1px;
    }
  }

  .organization_social {
    padding: 0.5em;
    margin-left: 1em;
  }

  .organization_navigation_manage {
    margin-top: 1.5em;
  }

  .manage-container {
    padding-top: 20px;
  }

  .org_button {
    border-radius: 2px;
    text-align: center;
    border-color: black;
  }

  .button {
    height: auto;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
  }

  .org-join-button {
    float: left;
    border-width: 1px;
    border-style: solid;
    width: 200px;
    border-radius: 6px;
    margin: 5px;
    padding: 7px;
    font-size: 0.7em;
    cursor: pointer;
    background-color: transparent;
    color: #da4627;
    border-color: #da4627;
  }

  .card-button {
    float: left;
    width: 200px;
    border-radius: 6px;
    margin: 4px;
    padding: 1px;
    font-size: 0.7em;
    cursor: pointer;
    background-color: transparent;
    color: #da4627;
    border-color: #da4627;
  }

  .join-request-card {
    margin-left: 2em;
    padding: 1em;
    border-radius: 6px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-bottom: 1em;
    width: 30em;
  }

  .social_icon {
    font-size: 14px;
    padding-top: 1em;
    i {
      padding-right: 0.4em;
    }
  }
}

.org_manage_field {
  width: 100%;
  margin-bottom: 0.71em;
}

.org_summary {
  height: 8em;
}

.basic_form {
  margin-top: 3em;
}

.organization_card{
    padding: 0.9em;
}

.org_slogan_container {
  margin-left: 10.4em;
}

.organization_member_card {
  padding-left: 1em;
  padding-top: 1em;
}

.btb_orgs{
  width: auto !important;
  padding: 0.4em;
}

// manipulates size of the default avatar returned from geonode/avatar template tags used in geonode/user_messages thread_detail.html 
.message-avatar img {
  max-height: 50px;
}
// same, for {% avatar user 30 %} used in _message_snippet.html
.inbox-avatar img {
  max-height: 30px;
}