.storyteller-card {
    background-color: @gray-50;
    border: 1px solid @gray-100;
    border-radius: 6px;
    margin: 0 16px 16px 0;
    box-sizing: border-box;
    padding: 16px;
    overflow: auto;
    font-size: 0.8em;
    height: 145px;

    .profile-info {
        float: left;
        width: 70%;
    }
    .profile-text {
        clear: both;
        font-weight: 400;
    }
    .thumb {
        max-height: 75px;
        border: 1px solid @gray-400;
    }
    .storyteller-name {
        color: @blue-500;
        font-weight: 600;
        &:hover, &:active {
            color: @blue-300;
        }
    }
    // .social-icons {
    //     text-align: center;
    // }
    .storyteller-location {
        font-size: 0.9em;
        font-weight: 400;
        color: @gray-700;
        span {
            float: left;
        }
    }
}

.avatar-and-social-links {
    float: left;
    margin-right: 16px;
    a {
        color: @gray-800;
        &:hover, &:active {
            color: @gray-700;
        }
    }
}

.content-card {
    background-color: @gray-50;
    border: 1px solid @gray-100;
    border-radius: 6px;
    margin: 0 16px 20px 0;
    width: 240px;
    height: 375px;
    box-sizing: border-box;
    padding: 16px;
    overflow: auto;
    font-size: 0.8em;
    img {
        border: 1px solid @gray-500;
        width: 200px;
        height: 150px;
    }
    .content-title {
        overflow-wrap: break-word;
        font-weight: 500;
        font-size: 1.1em;
        color: @gray-900;
        margin: 10px 0 3px 0;
        font-weight: 600;
    }
    .content-owner {
        clear: both;
        color: @blue-500;
        font-weight: 400;
        &:hover {
            color: @blue-300;
        }
    }

    .content-date, .content-views {
        font-weight: 300;
        font-size: 0.8em;
        margin: 8px 0;
    }
    .content-date {
        float: left;
        width: 50%;
    }
    .content-views {
        float: right;
        width: 50%;
        text-align: right;
    }
    .content-abstract {
        font-weight: 400;
        margin-top: 8px;
    }
}

.thumbnail-and-content-type {
    position: relative;
    width: 200px;
}

.content-result-type {
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 0 4px;
    border: 1px solid @gray-500;
    border-radius: 3px;
    background-color: @gray-200;
}

.unpublished {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.75;
}

.story-cards, .layer-cards, .draft-cards{  
  padding-left: 12px;
  padding-right: 25px;
  height: 100%;
  // border: @debugBorder;

  ul {
    list-style-type: none;
  }
}

.detailss {
    font-size: smaller;
   
    height: inherit;
      max-height: 190px;
      overflow: scroll;
}

span {
    &.more{
        position: relative;
        float: right;
        top: 40px;
    }
   
    &.less{
        position: relative;
        float: right;
        bottom: 220px;
    }
}

.card-shadow {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 150px;
}