/*--- Index ---*/
// HOMEPAGE
@font: 'Lato', sans-serif;
@debugBorder: 1px dotted gray;
@h1_font_size: 42px;
@h1_color: #424242;

@p_font_size: 22px;
@p_font_color: #606060;

@button_bg_color: #da4627;
@button_font_size: 18px;
@button_padding: 14px 12px;
@button_font: 'Lato', sans-serif;

@section_bg_color: #F9F9F9;

.transparent(@amount) {
  filter: alpha(opacity=@amount);
  -khtml-opacity: @amount;
  -moz-opacity: @amount;
  opacity: @amount;
}

// Functions
.radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  -ms-border-radius: @radius;
  border-radius: @radius;
}

.centered_container() {
  min-height: 6.5em;
  display: table-cell;
  vertical-align: middle;
}

.mapstory_font(@size) {
  font-family: @font;
  font-size: @size;
}

.debug() {
  border: @debugBorder;
}

.debug_sections() {
  border: 1px dotted red;
}

.button {
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  font-size: @button_font_size;
  padding: @button_padding;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: @button_font;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

.call_to_action_button {
text-align: center;
}

.button-style-1 {
background-color: @button_bg_color;
color: #FFFFFF;
border: none;
}

.button-style-2 {
background-color: transparent;
color: @button_bg_color;
border: solid;
border-color: @button_bg_color;
}

//--------------------
// New Homepage CSS ->
.outer-container {
  box-sizing: border-box;
  section {
    //.debug_sections();
    div {
      //.debug();
      display: block;
    }
    h1 {
      text-align: center;
      .mapstory_font(@h1_font_size);
      color: @h1_color;
    }
    p {
      .mapstory_font(@p_font_size);
      color: @p_font_color;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }

    .image-content {
      .span-columns(4);
      float: left;
    }

    .text-content {
      .span-columns(8);
      float: left;
      padding: 20px;
    }
  }

  .story_rounded_box {
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #e8e8e8;
    .radius(8px);
  }

  // Featured section
  .featured-section {
    background-color: #F9F9F9;
    padding-bottom: 20px;
    .span-columns(12);
    .featured-wrapper {

    }
    .featured-container {
      .outer-container();
    }
    .card_row {
      .span-columns(12);
      padding: 20px;
      .card {
        background-color: #ffffff;
        .story_rounded_box;
        float: left;
        padding: 10px;
        .span-columns(6);
        overflow: auto;
        .img-container {
          float: left;
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
          width: 40%;
          margin-right: 12px;
        }
        .card-container {
          padding-left: 10px;
          p {
            margin: 0
          }
          .card-category {
            .mapstory_font(12px);
            font-weight: 400;
            color: #6d6d6d;
            letter-spacing: 1px;
          }
          .card-title {
            .mapstory_font(16px);
            font-weight: 900;
            color: #333333;
          }
          .card-author {
            .mapstory_font(16px);
            color: #0c9fc0;
            font-weight: 700;
          }
          .card-meta {
            .mapstory_font(12px);
            color: #8e8e8e;
          }
        }
      }
    }
  }
}

//--------------------
// Em's maintainability fixes

@splash: 390px; 

.splash {
  overflow: hidden;
  height: @splash;
  width: 100%;

  .backdrop {
    height: inherit;
  }

  .overlay {
    //ORDERING & TRANSPARENCY PROPERTIES
    @top-offset: @splash * -1.3;
    @left-offset: @splash * -0.2;

    z-index: 0;

    position: relative;
    top: @top-offset;
    left: @left-offset;

    background-color: rgba(255, 255, 255, 0.75);

    //SHAPE PROPERTIES
    &.circle {
      @diameter: @splash * 1.75;

      .radius(50%);

      width: @diameter;
      height: @diameter;
    }

    // Example rectangle mixin if needed in the future!
    // ------------------
    // &.rectangle {
    //   top: -@splash;
    //   left: 0;
    //   width: @splash;
    //   height: @splash;
    // }
   
  }

  .content {
    position: relative;
    padding-top: @splash / 2.5;
    padding-left: @splash / 3;
    padding-right: @splash / 8;
    z-index: 99;

    // these fonts are copy-pasta exactly the same as before
    // refine SOON for site-wide consistency
    h1 {
      font-weight: 900;
      color: #333333;
      text-align: left;
      
      .mapstory_font(@h1_font_size);
      color: @h1_color;
    }

    p {
      .mapstory_font(@p_font_size);
      color: @p_font_color;
      height: auto;
      font-weight: 700;
      color: #333333;
      line-height: normal;
    }
  }
}

// these fonts are copy-pasta exactly the same as before
// refine SOON for site-wide consistency

h2.homepage {
    text-align: center;
    .mapstory_font(@h1_font_size);
    color: @h1_color;
  }

.how-icon {
  height: 100px;
  margin: 0 60px 0 15px;
  img {
    max-height: 100%
  }
  //last child {
  //  margin-right: 30px;
  //}
  @media @desktops {
    margin: 0 30px 0 15px;
  }
}

.how-homepage {
  background-color: #E5E0D9;
  padding: 25px 0;

  p, h3, div {
    text-align: left;
  }

  aside {
    padding: 10px;

    @media @tablets {
      max-width: 500px;
    }
  }

  article {
    padding-top: 20px; 

    @media @desktops {
      max-width: 320px;

      p, h3, div {
        text-align: center;
      }
    }
  }
}

h3.homepage {
  font-weight: 900;
  font-size: x-large;
}

p.homepage {
  .mapstory_font(@p_font_size);
  color: @p_font_color;

  font-weight: 400;
  font-size: large;
}

p.more {
  font-size: 22px;
  font-family: @base-font-family;
  font-weight: 900;
  line-height: 140%;
  color: white;

  padding: 40px 70px;

  // this is a ratio and I should make it a variable
  // for maintainability
  @media @desktops {
    font-size: 42px;
  }

  @media @tablets {
    font-size: 32px;
  }
}

video {
  width: 100%;
  min-height: @splash;
  z-index: -3;
  overflow: hidden;
} //video gets too short at window width of 715

.sponsor-logos {
  text-align: center;

  div {
    height: 110px;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
.home-shadow {
  -webkit-box-shadow: 2px 2px 28px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 28px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 28px 6px rgba(0, 0, 0, 0.25);
}