/*--- Index ---*/

// Color Variables for Homepage //

.home-shadow {
  -webkit-box-shadow: 2px 2px 28px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 28px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 28px 6px rgba(0, 0, 0, 0.25);
}

// spacing between sections (except splash)
.homepage section {
  padding: 50px 0;
}

section.splash {
  padding: 0;
}

// section backgrounds!
section.featured-cards, 
section.contribute-commons, 
section.share-expertise, 
section.to-life {
  background-color: #F9F9F9; //offwhite
}

section.how-homepage {
  background-color: #E5E0D9; //lightbrown
}

section.sponsors {
  background-color: #BFB4A3; //darkerbrown
}

/*---homepage hover buttons---*/
//also used in footer!

@button-accent: #da4627; //redorange

.homepage, .blog-banner {
  .button {
    display: inline-block;
    width: 200px;
    border-radius: 6px;
    margin: 5px;
    padding: 14px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      white-space:nowrap;
      &:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
    }
    &:hover span {
      padding-right: 25px;
      white-space:nowrap;
      &:after {
        opacity: 1;
        right: 0;
      }
    }
  }
}

.button-solid {
  background-color: @button-accent;
  color: @gray-0;
  border: none;
}

.button-inverse(@color) {
  background-color: transparent;
  color: @color;
  border: solid;
  border-color: @color;
}

.white-button-inverse{
  .button-inverse(@white)
}

.accent-button-inverse{
  .button-inverse(@button-accent)
}

/*--- homepage typography ---*/
// these fonts are copy-pasta exactly the same as before
// refine SOON for site-wide consistency

.splash-content {
  h1 {
    font-size: 42px;
    font-weight: 900;
    text-align: left;
  }

  p {
    font-size: 22px;
    font-weight: 700;
    
    height: auto;
    line-height: normal;
  }
}

h2.homepage {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: @gray-900;
  }

h3.homepage {
  font-weight: 900;
  font-size: x-large;
}

p.homepage {
  font-size: 22px;
  color:  @gray-800;
  font-weight: 400;
  font-size: large;
}

p.more {
  font-size: 22px;
  font-weight: 900;
  line-height: 140%;
  color: white;
  padding: 40px 70px;

  // this is a ratio and I should make it a variable
  // for maintainability
  @media @desktops {
    font-size: 42px;
  }

  @media @tablets {
    font-size: 32px;
  }
}

.how-icon {
  height: 100px;
  margin: 0 60px 0 15px;
  img {
    max-height: 100%
  }
  //last child {
  //  margin-right: 30px;
  //}
  @media @desktops {
    margin: 0 30px 0 15px;
  }
}

.how-homepage {
  padding: 25px 0;

  p, h3, div {
    text-align: left;
  }

  aside {
    padding: 10px;

    @media @tablets {
      max-width: 500px;
    }
  }

  article {
    padding-top: 20px; 

    @media @desktops {
      max-width: 320px;

      p, h3, div {
        text-align: center;
      }
    }
  }
}

.sponsor-logos {
  text-align: center;

  div {
    height: 110px;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}