/* --- journal --- */
.blog-banner {
  text-align:center; 
  padding: 80px; 
  opacity:0.9;

  .white-button-inverse{
    margin-top: 20px;
    border: solid 3px;
  }
}

.blog-content {
  padding: 15px 15px;
  border-left: 1px solid @gray80;
}

.blog-entry-banner {
  padding:60px 0px 30px 10px;
}

.blog-panel{
  margin: 30px 0;
  border-bottom: 1px solid @gray30
}

.blog-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dropdown.draft-button {
  padding-left: 15px;
  font-weight: 100;
}

.label-font {
  font-size: 23px;
  font-weight: 100;
  padding: 20px 0 0 0;
}

#leader-banner{
  border-bottom: 1px solid @gray30;
  padding-bottom: 30px;
}