.explore-tabs {
    li {
        float: left;
        list-style: none;
        font-size: 0.9em;
        margin: 10px 40px 10px 0;
        padding: 5px 15px;
        color: @gray55;
        font-weight: 400;
    }
    .active {
        font-weight: 600;
        border-bottom: 2px solid @primary;
        color: @gray30;
    }
}

.explore-filters {
    clear: both;

    h2.side-title {
        float: left;
    }

    .clear-filters {
        a {
            font-size: 0.8em;
            float: right;
            margin-top: 18px;
            margin-bottom: 10px;
            &:active, &:hover {
                color: @blue-300;
            }
        }
    }
    .filter-content {
        clear: both;
        a {
            color: @blue-500;
            &:active, &:hover {
                color: @blue-300;
            }
        }
        p {
            font-family: @base-font-family;
            font-weight: 400;
            font-size: 0.85em;
        }
        h4 {
            font-family: @base-font-family;
            color: @gray-800;
            font-weight: 600;
            font-size: 0.9em;
            margin: 15px 0 0 0;
        }
        .tag {
            background: rgb(224,224,224);
            color: rgb(66,66,66);
            cursor: default;
            border-radius: 16px;
            display: block;
            height: 32px;
            line-height: 32px;
            margin: 8px 8px 0 0;
            padding: 0 12px;
            float: left;
            box-sizing: border-box;
            max-width: 100%;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover, &:active, a:hover, a:active {
                background: @primary;
                color: @gray-50;
            }
        }
        // over-ride default bootstrap styling
        label {
            font-weight: inherit;
            margin: inherit;
        }
    }
    section {
        clear: both;
        margin-bottom: 10px;
    }
    .search-bar {
        form {
            position: relative;

            input[type=search] {
                font-family: @base-font-family;
                font-weight: 400;
                font-size: 0.85em;
                background: @white;
                border: 1px solid @gray-400;
                border-radius: 6px;
                box-sizing: border-box;
                color: @gray-900;
                font-style: italic;
                margin: 0;
                padding: 3px 8px;
                width: 100%;
                box-shadow: none;
                -webkit-box-shadow: none;

                @media @desktops {
                    width: 100%;
                }
            }

            button[type=submit] {
                background: @white;
                border: 0;
                bottom: 0.3em;
                left: auto;
                outline: none;
                padding: 0 9px;
                position: absolute;
                right: 0.3em;
                top: 0.3em;
                color: @gray-700;

                img {
                    height: 12px;
                    opacity: 0.7;
                    padding: 1px;
                }

                &:active {
                    box-shadow: none;
                    -webkit-box-shadow: none;
                }
            }
        }
    }
}

.showing-results, .sort-by {
    font-size: 0.85em;
    font-weight: 400;
}

.showing-results {
    float: left;
    margin-bottom: 16px;
}

.sort-by {
    float: right;
}

.storyteller-results, .content-results {
    clear: both;
    overflow: auto;
    text-align: left;
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        padding: 0;
    }
}