{% load i18n %}
{% load mapstory_tags %}
<section class="slice" id="community">
    <div class="container">
        <div class="row">
            <h1 class="text-center">{% trans "Join the Initiatives" %}</h1>
            <h3 class="text-center">{% trans "Our Community Initiative leads are taking on huge data collection tasks, like mapping the history of human settlement and country borders. Click on one below, and start contributing" %}...
            </h3>
        </div>
        <hr/>
        <div class="row">
            <slice infinite="true" slides-to-show="6" autoplay="true">
                {% for community in communities %}
                <div class="col-sm-2">
                    {% ifequal community.profile_type 'org' %}
                    <a href="{% url 'getpage' 'started' %}">
                    {% comment %}<a href="{% url "organization_detail" community.slug %}">{% endcomment %}
                        {% if community.logo %}
                            <img class="rdphoto" src="{{ community.logo.url }}" alt="{{ community.title }} - {{ community.description }}">
                        {% endif %}
                    </a>
                    {% else %}
                    <a href="{% url 'getpage' 'started' %}">
                    {% comment %}<a href="{% url "initiative_detail" community.slug %}">{% endcomment %}
                        {% if community.logo %}
                            <img class="rdphoto" src="{{ community.logo.url }}" alt="{{ community.title }} - {{ community.description }}">
                        {% endif %}
                    </a>
                    {% endifequal %}
                </div>
                {% empty %}
                <p>{% trans "No Community Initiatives." %} {% trans "Add" %} <a href="{% url 'initiative_create' %}">{% trans "some" %}</a></p>
                {% endfor %}
            </slice>
        </div>
    </div>
</section>
<section class="parallax">
    <div style="background-image: url({{ images|by_name:'Parallax2' }});"></div>
</section>