{% load webdesign %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load mapstory_tags %}
{% load cache %}
{% load avatar_tags %}
<section class="slice" id="community">
    <div class="container">
        <div class="row">
            <h1 class="text-center">{% trans "Join the Initiatives" %}</h1>
            <h3 class="text-center">{% trans "Our Community Initiative leads are taking on huge data collection tasks, like mapping the history of human settlement and country borders. Click on one below, and start contributing" %}...
            </h3>
        </div>
        <hr/>
        <div class="row">
            <slice infinite="true" slides-to-show="6" autoplay="true">
                {% for community in communities %}
                <div class="col-sm-2">
                    {% ifequal community.profile_type 'org' %}
                    <a href="{% url "organization_detail" community.slug %}">
                        {% if community.logo %}
                            <img class="rdphoto" src="{{ community.logo.url }}" alt="{{ community.title }} - {{ community.description }}">
                        {% endif %}
                    </a>
                    {% else %}
                    <a href="{% url "initiative_detail" community.slug %}">
                        {% if community.logo %}
                            <img class="rdphoto" src="{{ community.logo.url }}" alt="{{ community.title }} - {{ community.description }}">
                        {% endif %}
                    </a>
                    {% endifequal %}
                </div>
                {% empty %}
                <p>{% trans "No Community Initiatives." %} {% trans "Add" %} <a href="{% url 'initiative_create' %}">{% trans "some" %}</a></p>
                {% endfor %}
            </slice>
        </div>
    </div>
</section>
<section class="parallax">
    <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0"
         style="background-image: url({{ images|by_name:'Parallax1' }});"></div>
</section>
<section class="slice howto">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Get Started</h2>
                <p>MapStory is an open platform for organizing our knowledge about how the world changes over time and space. Click on a link to the right, and learn how you can start contributing observations of your own.</p>
                <ul>
                    <li>Students</li>
                    <li>Educators</li>
                    <li>Humanitarians</li>
                    <li>Businesspeople</li>
                    <li>Librarians</li>
                    <li>Researchers</li>
                    <li>Policy Makers</li>
                    <li>Journalists</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Get Involved</h2>
                <p>Join with your neighbors, or collaborators on another continent, to launch initiatives, help others, write code and govern the mapstory.org platform. We’re a community, not a company.</p>
                <ul>
                    <li>Community Initiatives</li>
                    <li>MapStory Projects</li>
                    <li>Thinkers and Thoughts</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Get Skills</h2>
                <p>MapStory is for everyone, not just web developers and GIS experts. We work hard to get you the help you need to improve and succeed.</p>
                <ul>
                    <li>MapStory 101</li>
                    <li>MapStory Wiki</li>
                    <li>Help Center</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="parallax">
    <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Parallax2' }});"></div>
</section>