{% load i18n %}
<footer class="color4" style="padding:20px 10px;width:100%;">
    <section id="mainFooter">
        <div class="container" id="footer">
            <div class="row">
                <div class="col-sm-9">
                    <div class="footerWidget">
                        <strong> MapStory</strong> {% trans "is the atlas of change that everyone can edit. We are a community, not a company, that envisions a world where everyone's knowledge can be tapped, peer reviewed, organized and shared so that we all can dramatically improve our understanding of the rich past, complex present and uncertain future we share as living beings on planet Earth." %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>
                        <button class="btn btn-sm btn-block btn-default">
                            <a href="{% url 'donate' %}">{% trans "Help MapStory grow." %}<br> {% trans "Make a donation." %}</a>
                        </button>
                    </div>
                    <div class="social">
                        <a href="https://twitter.com/mapstory"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/mapstories"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/mapstory"><i class="fa fa-github"></i></a>
                        <a href="{% url 'getpage' 'started' %}"><i class="fa fa-support"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container">
            <hr style="margin:10px 0 10px 0">
            <div class="row">
                <div class="col-sm-8">
                    <p><small>{% trans "By using this site, you agree to the License" %}, <a href="http://wiki.mapstory.org/wiki/Terms_of_Service">{% trans "Terms of Use and Privacy Policy." %}</a> MapStory® {% trans "is a registered trademark of the MapStory Foundation, Inc., a non-profit organization." %}</small></p>
                    <p><small><a href="{% url 'getpage' 'started' %}">{% trans "About the MapStory Foundation" %}</a> | <a href="http://blog.mapstory.org">{% trans "Blog" %}</a> | <a href="http://wiki.mapstory.org/wiki/The_MapStory_Foundation">{% trans "Contact" %}</a> | <a href="http://wiki.mapstory.org/wiki/Developers">{% trans "Developers" %}</a> | {% trans "Mobile View" %} | <a href="http://wiki.mapstory.org/wiki/The_MapStory_Foundation#News_Coverage">{% trans "Press" %}</a> | <a href="http://wiki.mapstory.org/wiki/Terms_of_Service">{% trans "Disclaimers" %}</a> | <a href="http://wiki.mapstory.org/wiki/Community_Ethics">{% trans "Values" %}</a> | <a href="http://mapstory.myshopify.com/">{% trans "Merchandise" %}</a> | <a href="http://wiki.mapstory.org">wiki.MapStory.org</a> | <a href="{% url 'getpage' 'started' %}">help.Mapstory.org</a></small></p>
                </div>
                <div class="col-sm-4">
                    <label class="hidden">{% trans "Language" %}</label>
                    {% if csrf_token != "NOTPROVIDED" %}
                    {% get_current_language as LANGUAGE %}
                    <form class="form-inline" action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <select class="col-md-6 pull-right" name="language" onchange="javascript:form.submit()">
                        {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                            {{ lang.1 }}
                        </option>
                        {% endfor %}
                    </select>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</footer>


<!--footer class="color4" style="width:100%;padding:20px 30px">
    <section>
    <div id="footer">
        <div class="row">
            <div class="col-lg-9">
                <h4><strong>{% trans "MapStory is the atlas of change that everyone can edit. We are a community, not a company, that envisions a world where everyone's wisdom can be tapped so that we all can dramatically improve our understanding of the rich past, complex present and uncertain future we share as living beings on planet Earth." %}</strong> </h4>
                <hr style="margin:15px 0px">
                <h5>By using this site, you agree to the License, Terms and Privacy Policy. MapStory® is a registered trademark of the MapStory Foundation, Inc., a non-profit organization.</h5>
                <h5>About | Blog | Contact | Disclaimers | Tools | Merchandise | Wiki</h5>
            </div>
            <div class="col-lg-3 text-center">
                <button class="btn btn-sm btn-block btn-default">
                    <a href="{% url 'donate' %}">Help MapStory grow.<br> Make a donation.</a>
                </button>
            </div>
        </div>
    </div>
    </section>
</footer-->
