<footer class="color4" style="width:100%;padding:20px 30px">
    <section>
    <div id="footer">
        <div class="row">
            <div class="col-lg-9">
                <h4><strong>MapStory is the atlas of change that everyone can edit. We are a community, not a company, that envisions a world where everyone's wisdom can be tapped so that we all can dramatically improve our understanding of the rich past, complex present and uncertain future we share as living beings on planet Earth.</strong> </h4>
                <hr style="margin:15px 0px">
                <h5>By using this site, you agree to the License, Terms and Privacy Policy. MapStory® is a registered trademark of the MapStory Foundation, Inc., a non-profit organization.</h5>
                <h5>About | Blog | Contact | Disclaimers | Tools | Merchandise | Wiki</h5>
            </div>
            <div class="col-lg-3 text-center">
                <a href="donate.html"><h2>Help MapStory.<br/>Make a donation.</h2></a>
            </div>
        </div>
    </div>
    </section>
</footer>