<div class="modal fade" id="loginModal">
    <div class="modal-dialog" style="width:1000px;margin:50px auto">
        <div class="modal-content">
            <div class="modal-body" style="padding:20px 30px">
                <div class="row">
                    <div class="col-sm-6 br">
                        <h3>Log in</h3>
                        <hr>
                        <form class="form form-horizontal" method="post" action="{% url 'account_login' %}?next={{ request.path }}" accept-charset="UTF-8">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-3 control-label label-font-sm" for="username">Username</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="username" id="username" placeholder="Username" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label label-font-sm" for="password">Password</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="password" id="password" placeholder="Password" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-3">
                                    <div class="checkbox">
                                        <h4>
                                            <a href="#">Forgot password?</a>
                                        </h4>
                                        <h4>
                                            <input type="checkbox" value="">
                                            Remember me
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions form-actions-padding-sm">
                                <div class="row">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <button class="btn btn-md bg-ms btn-block">Sign in to MapStory</button>
                                    </div>
                                </div>
                            </div>
                            <hr class="col-sm-11">
                            <div class="form-actions form-actions-padding-sm">
                                <h3>Connect your account</h3>
                                 <div class="row text-center" style="padding:10px 10px">
                                    <button class="btn btn-social bg-fb">facebook</button>
                                    <button class="btn btn-social bg-tw">twitter</button>
                                    <button class="btn btn-social bg-ya">yahoo</button>
                                    <button class="btn btn-social bg-go">google</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6" >
                        <h3>Sign up to MapStory
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </h3>
                        <hr>
                        <form class="form form-horizontal" method="post" action="#" accept-charset="UTF-8">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-md-2 control-label label-font-sm" for="inputText1">Name</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="inputText1" placeholder="First" type="text">
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" id="inputText1" placeholder="Last" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-md-2 control-label label-font-sm" for="inputText1">Email</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="inputText1" placeholder="@email.com" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-md-2 control-label label-font-sm" for="inputPassword4">Password</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="inputPassword4" placeholder="(minimum of 8 characters)" type="password" value="Top secret!">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-md-2 control-label label-font-sm" for="inputPassword4">Confirm Password</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="inputPassword4" placeholder="(minimum of 8 characters)" type="password" value="Top secret!">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-11 col-md-offset-1">
                                    <div class="checkbox">
                                        <h4>
                                            <a href="#" style="font-weight:400">Signing up as an organization? Click here.</a>
                                        </h4>
                                        <h4>
                                            <input type="checkbox" value="" checked>
                                            Receive the monthly digest of cool projects and community updates.
                                        </h4>
                                        <h4>
                                            <input type="checkbox" value="">
                                            I agree with the <a href="#">Terms and Conditions</a>.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions form-actions-padding-sm">
                                <div class="row">
                                    <div class="col-sm-offset-2 col-sm-9">
                                         <button class="btn btn-md bg-ms btn-block">Join MapStory</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>