<div class="modal fade" id="loginModal">
    <div class="modal-dialog" style="width:1000px;margin:50px auto">
        <div class="modal-content">
            <div class="modal-body" style="padding:20px 30px">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#login" role="tab" data-toggle="tab">Log In</a></li>
                    <li><a href="#signup" role="tab" data-toggle="tab">Sign Up</a></li>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="login">
                        <br/>
                        {% include "branding/mapstory_login_register_form.html" %}
                    </div>
                    <div class="tab-pane" id="signup">
                        <br/>
                        <form class="form form-horizontal" method="post" action="{% url 'account_signup' %}" accept-charset="UTF-8">
                            {% csrf_token %}

                             <div class="form-group">
                                <label class="col-md-3 control-label label-font-sm" for="id_username">Username</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="username" id="id_username" placeholder="username" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label label-font-sm" for="id_firstname">Name</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="firstname" id="id_firstname" placeholder="First" type="text">
                                </div>
                                <div class="col-md-4">
                                     <input class="form-control" id="id_lastname" name="lastname" placeholder="Last" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label label-font-sm" for="id_email">Email</label>
                                <div class="col-md-8">
                                <input class="form-control" id="id_email" name="email" placeholder="@email.com" type="text">
                                </div>
                            </div>
                            <div class="form-group" ng-init="password = ''">
                                <label class="col-md-3 control-label label-font-sm" for="id_password">Password</label>
                                <div class="col-md-8">
                                <input class="form-control" id="id_password" name="password" placeholder="(minimum of 8 characters)" type="password" ng-model="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label label-font-sm" for="password_confirm">Confirm Password</label>
                                <div class="col-md-8">
                                <input class="form-control" id="password_confirm" name="password_confirm" placeholder="(minimum of 8 characters)" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <div class="col-md-8 checkbox under-form-area">
                                    <h4>
                                        <a href="/getinvolved#Organization Pages" style="font-weight:400">Signing up as an organization? Click here.</a>
                                    </h4>
                                    <h4>
                                        <input type="checkbox" value="" name="digest" checked>
                                        Receive the monthly digest of cool projects and community updates.
                                    </h4>
                                    <h4>
                                        <input type="checkbox" value="" ng-model="agreed">
										{% include "branding/mapstory_login_register_wiki.html" %}
                                    </h4>
                                </div>
                            </div>

                                <div class="form-group">
                                <label class="col-md-3 control-label label-font-sm"></label>
                                {% include "branding/mapstory_login_register_verbatim.html" %}
                            </div>

                        </form>
                    </div>
                </div>
                <hr/>
                {% if ENABLE_SOCIAL_LOGIN %}

                <div class="row">
                    <div class="col-sm-4">
                        <a href="{% url 'socialauth_begin' 'facebook' %}">
                            <div class="facebook-btn btn btn-md bg-ms btn-block">
                                <i class="fa fa-facebook"></i> Log In with Facebook
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'socialauth_begin' 'google-oauth2' %}">
                            <div class="google-btn btn btn-md bg-ms btn-block">
                                <i class="fa fa-google"></i> Log In with Google</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                </div>

                {% endif %}

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>