<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" style="margin:10px">
                    <div class="col-sm-6" style="border-right:1px solid darkgray">
                        <h1 style="font-size:1.4em"><strong>Log in</strong></h1>
                        <hr class="col-sm-10" style="margin:10px">
                        <form class="form form-horizontal" method="post" action="{% url 'account_login' %}?next={{ request.path }}" accept-charset="UTF-8">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="username">Username</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="username" id="username" placeholder="Username" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="password">Password</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="password" id="password" placeholder="Password" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-3">
                                    <label>
                                        <a href="#" style="color:black">Forgot password?</a>
                                    </label>
                                </div>
                            </div>
                            <div class="form-actions form-actions-padding-sm">
                                <div class="row">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <button class="btn btn-sm btn-block"><a href="profile.html">Sign in</a></button>
                                    </div>
                                </div>
                            </div>
                            <hr class="col-sm-11" style="margin:10px">
                            <div class="form-actions form-actions-padding-sm">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h1 style="font-size:1.2em;">Connect your account</h1>
                                        <div class="col-sm-6">
                                            <button class="btn btn-sm btn-block" style="background-color:dodgerblue;color:white"><i class="icon-social-facebook"></i></button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-sm btn-block" style="background-color:deepskyblue;color:white"><i class="icon-social-twitter"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6" >
                        <h1 class="col-sm-offset-1" style="font-size:1.4em">
                            <strong>Sign up to MapStory</strong>
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </h1>
                        <hr class="col-sm-offset-1 col-sm-10" style="margin:10px">
                        <form class="form form-horizontal" method="post" action="#" accept-charset="UTF-8">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-md-2 control-label" for="inputText1">Name</label>
                                <div class="col-md-4">
                                    <input class="form-control" id="inputText1" placeholder="First" type="text">
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" id="inputText1" placeholder="Last" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-md-2 control-label" for="inputText1">Email</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="inputText1" placeholder="@email.com" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-md-2 control-label" for="inputPassword4">Password</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="inputPassword4" placeholder="Password field" type="password" value="Top secret!">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-md-2 control-label" for="inputPassword4">Confirm Password</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="inputPassword4" placeholder="Password field" type="password" value="Top secret!">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <div class="checkbox">
                                        <label>
                                            <a href="#" style="color:black">Signing up as an organization?</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            I agree with the <a href="#" style="color:black">Terms and Conditions</a>.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions form-actions-padding-sm">
                                <div class="row">
                                    <div class="col-sm-offset-2 col-sm-9">
                                        <button class="btn btn-sm btn-block">Join MapStory</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>