{% extends "site_base.html" %}

{% load avatar_tags %}

{% block extra_head %}
<link href="{{ STATIC_URL }}mapstory/css/diary.css" rel="stylesheet" />
{% endblock %}

{% block middle %}

<div class="container" id="diary-banner">
	<div class="row text-center" >
        <h1>MapStory Community Journal</h1>
        <h3>Share your ideas, projects and questions with the rest of the MapStory community...</h3>
    </div>
</div>
<div class="container" id="diary-menu">
	{% if user.is_authenticated %}
    	<span id="new-button" style="border-right: 1px solid darkgray">
    		<a href="{% url 'diary-create' %}">
        		write a new entry
    		</a>
    	</span>
    	{% if drafts %}
    		<span class="dropdown" id="draft-button">
 		 		<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
    				complete a draft entry <span class="caret"></span>
  				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					{% for d in drafts %}
   			 			<li>
   			 			 	<a href="{% url 'diary-update' pk=d.pk %}">
        						{{ d.title }} - {{ d.date }}
    						</a>
    					</li>
    				{% endfor %}
  				</ul>
			</span>
		{% endif %}
    {% endif %}
</div>
<div class="container">
    {% if not entries %}
    <h2>No Journal Entries Yet :(</h2>
    {% endif %}
    {% for entry in entries %}
    <div class="row blog-panel">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2  col-xs-12 blog-header">
                    <h5 class="blog-title">{{ entry.date }}</h5>
                    <h2 class="blog-title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
                    <h5 class="blog-title">{% avatar entry.author 30 %} {{ entry.author }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-xs-6 qlink-right">
                    <div class="qlink qlink-gen"><a href="#">comment</a></div>
                    <div class="qlink qlink-gen"><a href="#">favorite</a></div>
                    <div class="qlink qlink-fb"><a href="#">facebook</a></div>
                    <div class="qlink qlink-tw"><a href="#">twitter</a></div>
                    <div class="qlink qlink-dg"><a href="#">flag/report</a></div>
                </div>
                <div class="col-lg-10 col-xs-6 blog-content bl">
                    {{ entry.html|safe }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row pagination text-center">
        {% if page_obj.has_previous %}
        <a href="{% url 'diary' %}?page={{ page_obj.previous_page_number }}">[ previous ]</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="{% url 'diary' %}?page={{ page_obj.next_page_number }}">[ next ]</a>
        {% endif %}
    </div>
</div>
{% endblock %}