{% extends "site_base.html" %}

{% load mapstory_tags %}

{% block body_class %}getpage{% endblock %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}mapstory/css/getpage.css" rel="stylesheet" />
{% endblock %}

{% block middle %}

<article id="get-banner" class="text-right">
    <h1 style="font-size: 5em">{{ getpage.title }}</h1>
    <h5 style="font-size: 2em">{{ getpage.subtitle }}</h5>
</article>
             
<article>
    {% for entry in getpage.published_entries %}
    <div class="row" id="get-panel">
        <div class="col-lg-4" style="padding-left:0">
            {% link entry.main_link entry.title 400 300 %}
        </div>
        <div class="col-lg-8" style="padding-right:0">
            <div id="get-header">
                <h2 id="get-title">{{ entry.title }}</h2>
                <h3 id="get-subtitle">{{ entry.subtitle }}</h3>
            </div>
            <div id="get-content">
                {{ entry.html|safe }}
            </div>
            {% if entry.example_map %}
            <div class="text-right bt get-links" style="background-color:#97d7ea">
                <a href="{% url 'map_detail' entry.example_map %}">{{ entry.example_map.title }}</a>
            </div>
            {% endif %}
            {% if entry.external_link %}
            <div class="text-right bt get-links">
                <a href="{{ entry.external_link }}">More</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</article>
{% endblock %}