{% extends "site_base.html" %}
{% load webdesign %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load mapstory_tags %}
{% load cache %}
{% load avatar_tags %}

{% block extra_head %}
<link href="{{ STATIC_URL }}mapstory/css/search.css" rel="stylesheet" />
{% endblock %}

{% block title %}{{ community.name }}{% endblock %}

{% block middle %}
<div ng-app="paginate"><div ng-controller="paginate_controller">
				<!-- content -->
        <section class="parallax">
          <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Africa' }}); background-size: 100%; background-position: 0% 20%;">
						<div class="maskParent">
							<div class="paralaxMask"></div>
							<div class="paralaxText container" style="text-align:left;padding-bottom:0">
								<div class="row">
									<div class="col-sm-1">
										<img class="img-rounded" src="{{ community.url }}" width="75" height="75" style="margin-top:55px;margin-bottom:0px"/>
										
									</div>
									<div class="col-sm-11">
										<div style="padding:60px 0px 0px 10px;">
											<h1 style="font-size:3em; color: white;">{{ community.name }}</h1>
										</div>
									</div>
							   </div>
						  </div>
					 </div>
          </div>
        </section>
				<!-- dashboard -->
				<section class="slice" id="dashboard" style="padding-top:20px">
					<div class="container">
						<div class="row" >
							<div class="col-lg-3" style="padding-top:10px">
								<h3>
									<span>Help lead this initiative! Send a message to one of the current Initiative Leads</span>
								</h3>
                        	</div>
                        	<div class="col-lg-9" style="border-left:1px solid darkgray">
								<ul class="nav nav-tabs">
  									<li  class="active"><a href="#guidelines" data-toggle="tab">Overview &<br/> Guidelines</a></li>
  									<li><a href="#tasks" data-toggle="tab">Tasks &<br/> Milestones</a></li>
  									<li><a href="#storylayers" data-toggle="tab">StoryLayers<br/>List</a></li>
									<li><a href="#mapstories" data-toggle="tab">Favorited <br/>MapStories</a></li>
  									<li><a href="#leads" data-toggle="tab">Initiative <br/>Leads</a></li>
  									<li><a href="#blogs" data-toggle="tab">Journal<br/>Entries</a></li>
								</ul>
								<div class="tab-content">
									<!-- TODO: Hook in favorites here -->
									<div class="tab-pane" id="mapstories">
										<div class="container">
											
										</div>
									</div>
									<div class="tab-pane" id="tasks">
										<div class="container">
											<ul>
												{% for task in community.tasks.all %}
													<li>
													{{ task.task }}
													</li>
												{% empty %}
												There are no tasks for this initiative.
												{% endfor %}
											</ul>
										</div>
									</div>
									<div class="tab-pane active" id="guidelines">
									    {{ community.description }}
									</div>
									<div class="tab-pane" id="storylayers">
										<div class="col-lg-12">
											<div class="clearfix search-results">
						            <ul>
								          {% for layer in community.layer.all %}
													<li class="col-md-4">
														<div style="text-align: left; height: 500px;">
															<a href="{{ layer.detail_url}}"><img class="thumb img-responsive" src="{{ layer.thumbnail_url}}"/></a>
															<h3><a href="{{ layer.detail_url}}">{{ layer.title}}</a></h3>
															<div><p><i>StoryLayer</p></i></div>
															<h4><span class="owner"><i class="fa fa-user"></i>{{ layer.owner.first_name }} {{ layer.owner.last_name }}</span></h4>
		        									<h4><span><i class="fa fa-flag-o"></i></span>{{ layer.category.gn_description}}</h4>
		        									<!-- TODO: Hook in the edits -->
		        									<h4><a href="{{ layer.detail_url}}"><i class="fa fa-pencil"></i> edits</a></h4>
		        									<h4><a href="{{ layer.detail_url}}#rate"><i class="fa fa-star"></i> {{ layer.rating}}</a></h4>
		        									<div><h5 class="abstract"><a href="#">{{ layer.abstract|slice:"70" }}<i>...read more</i></a></h5></div>
		        									<div class="btn-toolbar">
		        										<h4>
									                <!-- goes to composer -->
									                <a href="{% url "new_map" %}?layer={{ layer.detail_url|slice:"8:" }}"><button class="btn btn-primary btn-xs"><i class="fa fa-play"></i> use</button></a>
									                <!-- goes to layer edit -->
									                <a href='{% url "map-edit" %}?layer={{layer.service_typename}}'><button class="btn btn-primary btn-xs"><i class="fa fa-share-alt"></i> edit</button></a>
									                <!-- TODO: Hook in favorites functionality -->
									                <button class="btn btn-primary btn-xs"><i class="fa fa-heart-o"></i> favorite</button>
		        										</h4>
		        									</div>
														</div>
													</li>
													{% empty %}
													There are no layers for this initiative.
													{% endfor %}
						            </ul>
							        </div>
							        <span>Total: </span>
											<span ng-bind="total_counts"></span>
											<a href><strong ng-click="paginate_down()">&laquo;</strong></a>
											<span>page </span>
											<span ng-model="page" ng-bind="page"></span>
											<span> of </span>
											<span ng-bind="numpages"></span>
											<a href><strong ng-click="paginate_up()">&raquo;</strong></a>
							      </div>
									</div>
									<div class="tab-pane" id="leads">
										<div class="col-lg-12">
											<div class="clearfix search-results">
						            <ul>
													{% for lead in community.leads.all %}
														<li class="col-md-4">
											        <div style="text-align: left;">
											            <a href="{{ lead.profile_detail_url}}"><img class="thumb img-responsive img-circle" ng-src="{{ lead.avatar_100}}" src="http://www.gravatar.com/avatar/b3770ff767657838215cefd0d00e7769/?s=100"/></a>
											            <h3><a href="{{ lead.profile_detail_url}}">{{ lead.first_name }} {{ lead.last_name }}</a></h3>
											            <!-- If both exist, comma separated... otherwise no comma separation -->
											            {% if lead.position and lead.organization %}
											            	<h4><i class="fa fa-briefcase"></i>{{ lead.position }}, {{ lead.organization }}</h4>
											            {% else %}
											            	{% if lead.position or lead.organization %}
											            		<h4><i class="fa briefcase"></i>{{ lead.position }} {{ lead.organization }}</h4>
											            	{% endif %}
											            {% endif %}
											            {% if lead.city and lead.country %}
											            	<h4><i class="fa fa-map-marker"></i>{{ lead.city }}, {{ lead.country }}</h4>
											            {% else %}
											            	{% if lead.city or lead.country %}
											            		<h4><i class="fa fa-map-marker"></i>{{ lead.city }} {{ lead.country }}</h4>
											            	{% endif %}
											            {% endif %}
											            <h4>{{ lead.profile }}</h4>

											            <a href="{{ lead.profile_detail_url }}"><button class="btn btn-primary btn-xs"><i class="fa fa-user"></i> view profile</button></a>
											            <!-- TODO: Hook in messaging functionality -->
											            <a><button class="btn btn-primary btn-xs"><i class="fa fa-envelope"></i> message</button></a>
											        </div>
											      </li>
													{% empty %}
													<p>There are no leads for this initiative.</p>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="blogs">
										<div class="col-lg-12">
											{% for entry in community.journals.all %}
										    <div class="row blog-panel">
										        <div class="col-sm-12">
										            <div class="row">
										                <div class="col-lg-10 col-lg-offset-2  col-xs-12 blog-header">
										                    <h5 class="blog-title">{{ entry.date }}</h5>
										                    <h2 class="blog-title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
										                    <h5 class="blog-title">{% avatar entry.author 30 %} {{ entry.author }}</h5>
										                </div>
										            </div>
										            <div class="row">
										                <div class="col-lg-2 col-xs-6 qlink-right">
										                    <div class="qlink qlink-gen"><a href="#">comment</a></div>
										                    <div class="qlink qlink-gen"><a href="#">favorite</a></div>
										                    <div class="qlink qlink-fb"><a href="#">facebook</a></div>
										                    <div class="qlink qlink-tw"><a href="#">twitter</a></div>
										                    <div class="qlink qlink-dg"><a href="#">flag/report</a></div>
										                </div>
										                <div class="col-lg-10 col-xs-6 blog-content bl">
										                    {{ entry.html|safe }}
										                </div>
										            </div>
										        </div>
										    </div>
											{% empty %}
											<p>There are no journals for this initiative.</p>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- dashboard -->
</div></div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL }}mapstory/js/paginate.js"></script>
{% endblock extra_script %}