{% extends "site_base.html" %}
{% load webdesign %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load mapstory_tags %}
{% load cache %}
{% load avatar_tags %}
{% block body_outer %}
				<!-- content -->
        <section class="parallax">
          <!-- TODO: Need to incorporate parallax but images aren't loading -->
          <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
						<div class="maskParent">
							<div class="paralaxMask"></div>
							<div class="paralaxText container" style="text-align:left;padding-bottom:0">
								<div class="row">
									<div class="col-sm-1">
										<img class="img-rounded" src="{{ community.url }}" width="75" height="75" style="margin-top:55px;margin-bottom:0px"/>
										
									</div>
									<div class="col-sm-6">
										<div style="padding:60px 0px 0px 10px;">
											<h1 style="font-size:3em">{{ community.name }}</h1>
											<h1 style="font-size:1.1em;">
                        <!-- TODO: What goes here?-->
												Subtitle
											</h1>
										</div>
									</div>
									<div class="col-sm-5">
										<div class="row"  style="padding:80px 0px 10px 10px;">
										  <div class="col-sm-4 col-sm-offset-8">
										<a class="btn btn-sm btn-block" style="font-size:1em;background-color:transparent;color:white;border:1px solid white;" title="" href="#" target="blank">
											join 
										</a>
									   </div>
								    </div>
									</div>
							   </div>
						  </div>
					 </div>
          </div>
        </section>
				<!-- dashboard -->
				<section class="slice" id="dashboard" style="padding-top:20px">
					<div class="container">
						<div class="row" >
							<div class="col-lg-3" style="padding-top:10px">
								<h3>
                  <!-- TODO: How do they join? -->
									<span>join this initiative</span>
								</h3>
								<hr style="margin:5px">
								<h3>
                  <!-- TODO: How does share work? -->
									<span>share this page</span>
								</h3>
                        	</div>
                        	<div class="col-lg-9" style="border-left:1px solid darkgray">
								<ul class="nav nav-tabs">
  									<li  class="active"><a href="#guidelines" data-toggle="tab">Overview &<br/> Guidelines</a></li>
  									<li><a href="#tasks" data-toggle="tab">Tasks &<br/> Milestones</a></li>
  									<li><a href="#storylayers" data-toggle="tab">StoryLayers<br/>List</a></li>
									<li><a href="#mapstories" data-toggle="tab">Favorited <br/>MapStories</a></li>
  									<li><a href="#leads" data-toggle="tab">Initiative <br/>Leads</a></li>
  									<li><a href="#blogs" data-toggle="tab">Journal<br/>Entries</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane" id="mapstories">
										<div class="container">
											<div class="row" style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
							<div class="col-sm-4">
								<article class="col-sm-12"><!--SM-->
													<section class="imgWrapper"> 
														<img src="images/portfolio/europe1.jpg" class="img-responsive" alt="Ashleye template image news"> 
													</section>
													<section class="newsText color1">
														<h3>MapStory Title</h3>
														<h4 class="date">MapStory</h4>
														<h4 class="date"><i class="icon-user"></i> John Applessed</h4>
														<h4 class="date"><i class="icon-flag"></i> Wars and Conflicts</h4>
														<h4 class="date"><i class="icon-eye"></i> 123 views</h4>
														<h4 class="date"><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i></h4>
														<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
														<div class="btn-toolbar" style="padding-top:10px">
															<a class="btn btn-xs" >
																<i class="icon-control-play"></i> play
															</a>
															<a class="btn btn-xs">
																<i class="icon-heart"></i> favorite
															</a>
															<a class="btn btn-xs">
																<i class="icon-share"></i> share
															</a>
														</div>
													</section>
												</article><br/>
								<!--MD--> <article class="col-sm-12"> 
									<section class="imgWrapper"> 
										<img src="images/portfolio/asia.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>MD MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne, ne appareat intellegat liberavisse nec. Ea per impetus insolens mediocrem, nam et augue placerat, duis congue corpora te eos. Mel ei commodo alterum singulis, eu est quod interpretaris.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
								<!--SM--><article class="col-sm-12">
									<section class="imgWrapper"> 
										<img src="images/portfolio/usa.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>SM MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
							</div>
							<div class="col-sm-4">
								<article class="col-sm-12"><!--SM-->
													<section class="imgWrapper"> 
														<img src="images/portfolio/europe1.jpg" class="img-responsive" alt="Ashleye template image news"> 
													</section>
													<section class="newsText color1">
														<h3>StoryLayer Title</h3>
														<h4 class="date">StoryLayer</h4>
														<h4 class="date"><i class="icon-user"></i> John Applessed</h4>
														<h4 class="date"><i class="icon-flag"></i> Wars and Conflicts</h4>
														<h4 class="date"><i class="icon-pencil"></i> 123 edits</h4>
														<h4 class="date"><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i></h4>
														<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
														<div class="btn-toolbar" style="padding-top:10px">
															<a class="btn btn-xs" >
																<i class="icon-control-play"></i> use
															</a>
															<a class="btn btn-xs">
																<i class="icon-pencil"></i> edit
															</a>
															<a class="btn btn-xs">
																<i class="icon-heart"></i> favorite
															</a>
														</div>
													</section>
												</article><br/>
								<!--LG--><article class="col-sm-12">
									<section class="imgWrapper"> 
										<img src="images/portfolio/japan.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>LG MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne. Ne appareat intellegat liberavisse nec. Ea per impetus insolens mediocrem, nam et augue placerat, duis congue corpora te eos. Mel ei commodo alterum singulis, eu est quod interpretaris. Ad case propriae elaboraret sea. Ex sit accusam forensibus cotidieque, wisi feugiat omittantur vel ex. Id legere aliquid reprehendunt his. Sea etiam movet putent ad, ad ludus doming eam.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
							</div>
							<div class="col-sm-4">
								<!--SM--><article class="col-sm-12">
									<section class="imgWrapper"> 
										<img src="images/portfolio/usa.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>SM MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
								<!--XS--> <article class="col-sm-12"> 
									<section class="imgWrapper"> 
										<img src="images/portfolio/europe1.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>XS MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
								<!--XS--> <article class="col-sm-12"> 
									<section class="imgWrapper"> 
										<img src="images/portfolio/europe1.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>XS MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
								<!--XS--> <article class="col-sm-12"> 
									<section class="imgWrapper"> 
										<img src="images/portfolio/europe1.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>XS MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
							</div>
						</div>
										</div>
									</div>
									<div class="tab-pane" id="storylayers">
										<div class="container">
										    <div class="row" style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
							<div class="col-sm-4">
								<article class="col-sm-12"><!--SM-->
													<section class="imgWrapper"> 
														<img src="images/portfolio/europe1.jpg" class="img-responsive" alt="Ashleye template image news"> 
													</section>
													<section class="newsText color1">
														<h3>MapStory Title</h3>
														<h4 class="date">MapStory</h4>
														<h4 class="date"><i class="icon-user"></i> John Applessed</h4>
														<h4 class="date"><i class="icon-flag"></i> Wars and Conflicts</h4>
														<h4 class="date"><i class="icon-eye"></i> 123 views</h4>
														<h4 class="date"><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i></h4>
														<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
														<div class="btn-toolbar" style="padding-top:10px">
															<a class="btn btn-xs" >
																<i class="icon-control-play"></i> play
															</a>
															<a class="btn btn-xs">
																<i class="icon-heart"></i> favorite
															</a>
															<a class="btn btn-xs">
																<i class="icon-share"></i> share
															</a>
														</div>
													</section>
												</article><br/>
								<!--MD--> <article class="col-sm-12"> 
									<section class="imgWrapper"> 
										<img src="images/portfolio/asia.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>MD MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne, ne appareat intellegat liberavisse nec. Ea per impetus insolens mediocrem, nam et augue placerat, duis congue corpora te eos. Mel ei commodo alterum singulis, eu est quod interpretaris.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
								<!--SM--><article class="col-sm-12">
									<section class="imgWrapper"> 
										<img src="images/portfolio/usa.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>SM MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
							</div>
							<div class="col-sm-4">
								<article class="col-sm-12"><!--SM-->
													<section class="imgWrapper"> 
														<img src="images/portfolio/europe1.jpg" class="img-responsive" alt="Ashleye template image news"> 
													</section>
													<section class="newsText color1">
														<h3>StoryLayer Title</h3>
														<h4 class="date">StoryLayer</h4>
														<h4 class="date"><i class="icon-user"></i> John Applessed</h4>
														<h4 class="date"><i class="icon-flag"></i> Wars and Conflicts</h4>
														<h4 class="date"><i class="icon-pencil"></i> 123 edits</h4>
														<h4 class="date"><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i></h4>
														<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
														<div class="btn-toolbar" style="padding-top:10px">
															<a class="btn btn-xs" >
																<i class="icon-control-play"></i> use
															</a>
															<a class="btn btn-xs">
																<i class="icon-pencil"></i> edit
															</a>
															<a class="btn btn-xs">
																<i class="icon-heart"></i> favorite
															</a>
														</div>
													</section>
												</article><br/>
								<!--LG--><article class="col-sm-12">
									<section class="imgWrapper"> 
										<img src="images/portfolio/japan.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>LG MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne. Ne appareat intellegat liberavisse nec. Ea per impetus insolens mediocrem, nam et augue placerat, duis congue corpora te eos. Mel ei commodo alterum singulis, eu est quod interpretaris. Ad case propriae elaboraret sea. Ex sit accusam forensibus cotidieque, wisi feugiat omittantur vel ex. Id legere aliquid reprehendunt his. Sea etiam movet putent ad, ad ludus doming eam.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
							</div>
							<div class="col-sm-4">
								<!--SM--><article class="col-sm-12">
									<section class="imgWrapper"> 
										<img src="images/portfolio/usa.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>SM MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
								<!--XS--> <article class="col-sm-12"> 
									<section class="imgWrapper"> 
										<img src="images/portfolio/europe1.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>XS MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
								<!--XS--> <article class="col-sm-12"> 
									<section class="imgWrapper"> 
										<img src="images/portfolio/europe1.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>XS MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
								<!--XS--> <article class="col-sm-12"> 
									<section class="imgWrapper"> 
										<img src="images/portfolio/europe1.jpg" class="img-responsive" alt="Ashleye template image news"> 
									</section>
									
								<section class="newsText color1">
									<h3>XS MapStory</h3>
									<h4 class="date">by @mapstoryteller</h4>
									<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
									<a href="#"><i class="icon-right-open-mini"></i>explore</a>
								</section>
								</article><br/>
							</div>
						</div>
										</div>
									</div>
									<div class="tab-pane" id="blogs">
										<div class="container">
											<div class="row" style="margin-top:10px;border-bottom:1px solid gainsboro">
												<div class="col-sm-12">
													<h2>Maiestatis Deseruisse<p><small>01/01/2014</small></p></h2>
													<h4>
														Lorem ipsum dolor sit amet modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne. Ne appareat intellegat liberavisse nec. Ea per impetus insolens mediocrem, nam et augue placerat, duis congue corpora te eos. Mel ei commodo alterum singulis, eu est quod interpretaris. Ad case propriae elaboraret sea. Ex sit accusam forensibus cotidieque, wisi feugiat omittantur vel ex. Id legere aliquid reprehendunt his. Sea etiam movet putent ad, ad ludus doming eam.
													</h4>
												</div>
											</div>
											<div class="row" style="margin-top:10px;border-bottom:1px solid gainsboro">
												<div class="col-sm-12">
													<h2>Oratio Propriae Pertinacia<p><small>01/01/2014</small></p></h2>
													<h4>
														Lorem ipsum dolor sit amet modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne. Ne appareat intellegat liberavisse nec. Ea per impetus insolens mediocrem, nam et augue placerat, duis congue corpora te eos. Mel ei commodo alterum singulis, eu est quod interpretaris. Ad case propriae elaboraret sea. Ex sit accusam forensibus cotidieque, wisi feugiat omittantur vel ex. Id legere aliquid reprehendunt his. Sea etiam movet putent ad, ad ludus doming eam.
													</h4>
												</div>
											</div>
											<div class="row" style="margin-top:10px;border-bottom:1px solid gainsboro">
												<div class="col-sm-12">
													<h2>Feugait Suavitate<p><small>01/01/2014</small></p></h2>
													<h4>
														Lorem ipsum dolor sit amet modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne. Ne appareat intellegat liberavisse nec. Ea per impetus insolens mediocrem, nam et augue placerat, duis congue corpora te eos. Mel ei commodo alterum singulis, eu est quod interpretaris. Ad case propriae elaboraret sea. Ex sit accusam forensibus cotidieque, wisi feugiat omittantur vel ex. Id legere aliquid reprehendunt his. Sea etiam movet putent ad, ad ludus doming eam.
													</h4>
												</div>
											</div>
											<div class="row" style="margin-top:10px;border-bottom:1px solid gainsboro">
												<div class="col-sm-12">
													<h2>Vim Quod Recteque<p><small>01/01/2014</small></p></h2>
													<h4>
														Lorem ipsum dolor sit amet modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne. Ipsum ignota scripserit sed ne. Ne appareat intellegat liberavisse nec. Ea per impetus insolens mediocrem, nam et augue placerat, duis congue corpora te eos. Mel ei commodo alterum singulis, eu est quod interpretaris. Ad case propriae elaboraret sea. Ex sit accusam forensibus cotidieque, wisi feugiat omittantur vel ex. Id legere aliquid reprehendunt his. Sea etiam movet putent ad, ad ludus doming eam.
													</h4>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane active" id="guidelines">
									    {{ community.description }}
									</div>
									<div class="tab-pane" id="milestones">
									    <ul>
									        <li>Lists of milestones and progress</li>
									        <li>Lists of tasks per milestone</li>
									    </ul>
									</div>
									<div class="tab-pane" id="leads">   
									    <div class="container">
									        <div class="row" style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
											<div class="col-sm-4">
												<article class="col-sm-12"><!--SM-->
													<section class="color1 imgWrapper" style="text-align:center"> 
														<img src="images/avatars/ava1.png" class="img-circle" alt="Ashleye template image news" width="100" height="100" style="margin:20px 0 10px 0"> 
													</section>
													<section class="newsText color1">
														<h3>Mafalda Hopkirk</h3>
														<h4 class="date"><i class="icon-briefcase"></i>Georgetown University</h4>
														<h4 class="date"><i class="icon-pointer"></i> Washington, DC, United States</h4>
														<div class="btn-toolbar">
															<a class="btn btn-xs" >
																<i class="icon-user"></i> view profile
															</a>
															<a class="btn btn-xs">
																<i class="icon-envelope"></i> message
															</a>
														</div>
													</section>
												</article><br/>
												<article class="col-sm-12"><!--MD-->
													<section class="color1 imgWrapper" style="text-align:center"> 
														<img src="images/avatars/ava3.png" class="img-circle" alt="Ashleye template image news" width="100" height="100" style="margin:20px 0 10px 0"> 
													</section>
													<section class="newsText color1">
														<h3>Penelope Clearwater</h3>
														<h4 class="date"><i class="icon-briefcase"></i> Educator, AppleSeed Foundation</h4>
														<h4 class="date"><i class="icon-pointer"></i> Washington, DC, United States</h4>
														<p>Lorem ipsum dolor sit amet modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri.</p>
														<div class="btn-toolbar">
															<a class="btn btn-xs" >
																<i class="icon-user"></i> profile
															</a>
															<a class="btn btn-xs">
																<i class="icon-user-follow"></i> follow
															</a>
															<a class="btn btn-xs">
																<i class="icon-share"></i> share
															</a>
														</div>
													</section>
												</article><br/>
												<article class="col-sm-12"><!--LG-->
													<section class="color1 imgWrapper" style="text-align:center"> 
														<img src="images/avatars/ava2.png" class="img-circle" alt="Ashleye template image news" width="100" height="100" style="margin:20px 0 10px 0"> 
													</section>
													<section class="newsText color1">
														<h3>Lee Jordan</h3>
														<h4 class="date"><i class="icon-briefcase"></i> Educator, AppleSeed Foundation</h4>
														<h4 class="date"><i class="icon-pointer"></i> Washington, DC, United States</h4>
														<p>Lorem ipsum dolor sit amet modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne.</p>
														<div class="btn-toolbar">
															<a class="btn btn-xs" >
																<i class="icon-user"></i> profile
															</a>
															<a class="btn btn-xs">
																<i class="icon-user-follow"></i> follow
															</a>
															<a class="btn btn-xs">
																<i class="icon-share"></i> share
															</a>
														</div>
													</section>
												</article><br/>
											</div>
											<div class="col-sm-4">
												<article class="col-sm-12"><!--MD-->
													<section class="color1 imgWrapper" style="text-align:center"> 
														<img src="images/avatars/ava3.png" class="img-circle" alt="Ashleye template image news" width="100" height="100" style="margin:20px 0 10px 0"> 
													</section>
													<section class="newsText color1">
														<h3>Penelope Clearwater</h3>
														<h4 class="date"><i class="icon-briefcase"></i> Educator, AppleSeed Foundation</h4>
														<h4 class="date"><i class="icon-pointer"></i> Washington, DC, United States</h4>
														<p>Lorem ipsum dolor sit amet modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri.</p>
														<div class="btn-toolbar">
															<a class="btn btn-xs" >
																<i class="icon-user"></i> profile
															</a>
															<a class="btn btn-xs">
																<i class="icon-user-follow"></i> follow
															</a>
															<a class="btn btn-xs">
																<i class="icon-share"></i> share
															</a>
														</div>
													</section>
												</article><br/>
												<article class="col-sm-12"><!--LG-->
													<section class="color1 imgWrapper" style="text-align:center"> 
														<img src="images/avatars/ava2.png" class="img-circle" alt="Ashleye template image news" width="100" height="100" style="margin:20px 0 10px 0"> 
													</section>
													<section class="newsText color1">
														<h3>Lee Jordan</h3>
														<h4 class="date"><i class="icon-briefcase"></i> Educator, AppleSeed Foundation</h4>
														<h4 class="date"><i class="icon-pointer"></i> Washington, DC, United States</h4>
														<p>Lorem ipsum dolor sit amet modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne.</p>
														<div class="btn-toolbar">
															<a class="btn btn-xs" >
																<i class="icon-user"></i> profile
															</a>
															<a class="btn btn-xs">
																<i class="icon-user-follow"></i> follow
															</a>
															<a class="btn btn-xs">
																<i class="icon-share"></i> share
															</a>
														</div>
													</section>
												</article><br/>
												<article class="col-sm-12"><!--SM-->
													<section class="color1 imgWrapper" style="text-align:center"> 
														<img src="images/avatars/ava1.png" class="img-circle" alt="Ashleye template image news" width="100" height="100" style="margin:20px 0 10px 0"> 
													</section>
													<section class="newsText color1">
														<h3>Mafalda Hopkirk</h3>
														<h4 class="date"><i class="icon-briefcase"></i> Educator, AppleSeed Foundation</h4>
														<h4 class="date"><i class="icon-pointer"></i> Washington, DC, United States</h4>
														<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
														<div class="btn-toolbar">
															<a class="btn btn-xs" >
																<i class="icon-user"></i> profile
															</a>
															<a class="btn btn-xs">
																<i class="icon-user-follow"></i> follow
															</a>
															<a class="btn btn-xs">
																<i class="icon-share"></i> share
															</a>
														</div>
													</section>
												</article><br/>
											</div>
											<div class="col-sm-4">
												<article class="col-sm-12"><!--SM-->
													<section class="color1 imgWrapper" style="text-align:center"> 
														<img src="images/avatars/ava1.png" class="img-circle" alt="Ashleye template image news" width="100" height="100" style="margin:20px 0 10px 0"> 
													</section>
													<section class="newsText color1">
														<h3>Mafalda Hopkirk</h3>
														<h4 class="date"><i class="icon-briefcase"></i> Educator, AppleSeed Foundation</h4>
														<h4 class="date"><i class="icon-pointer"></i> Washington, DC, United States</h4>
														<p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec.</p>
														<div class="btn-toolbar">
															<a class="btn btn-xs" >
																<i class="icon-user"></i> profile
															</a>
															<a class="btn btn-xs">
																<i class="icon-user-follow"></i> follow
															</a>
															<a class="btn btn-xs">
																<i class="icon-share"></i> share
															</a>
														</div>
													</section>
												</article><br/>
												<article class="col-sm-12"><!--LG-->
													<section class="color1 imgWrapper" style="text-align:center"> 
														<img src="images/avatars/ava2.png" class="img-circle" alt="Ashleye template image news" width="100" height="100" style="margin:20px 0 10px 0"> 
													</section>
													<section class="newsText color1">
														<h3>Lee Jordan</h3>
														<h4 class="date"><i class="icon-briefcase"></i> Educator, AppleSeed Foundation</h4>
														<h4 class="date"><i class="icon-pointer"></i> Washington, DC, United States</h4>
														<p>Lorem ipsum dolor sit amet modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri. Albucius officiis eu mel, meis ipsum summo ei his, dicit nostrud molestiae has ne.</p>
														<div class="btn-toolbar">
															<a class="btn btn-xs" >
																<i class="icon-user"></i> profile
															</a>
															<a class="btn btn-xs">
																<i class="icon-user-follow"></i> follow
															</a>
															<a class="btn btn-xs">
																<i class="icon-share"></i> share
															</a>
														</div>
													</section>
												</article><br/>
												<article class="col-sm-12"><!--MD-->
													<section class="color1 imgWrapper" style="text-align:center"> 
														<img src="images/avatars/ava3.png" class="img-circle" alt="Ashleye template image news" width="100" height="100" style="margin:20px 0 10px 0"> 
													</section>
													<section class="newsText color1">
														<h3>Penelope Clearwater</h3>
														<h4 class="date"><i class="icon-briefcase"></i> Educator, AppleSeed Foundation</h4>
														<h4 class="date"><i class="icon-pointer"></i> Washington, DC, United States</h4>
														<p>Lorem ipsum dolor sit amet modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri.</p>
														<div class="btn-toolbar">
															<a class="btn btn-xs" >
																<i class="icon-user"></i> profile
															</a>
															<a class="btn btn-xs">
																<i class="icon-user-follow"></i> follow
															</a>
															<a class="btn btn-xs">
																<i class="icon-share"></i> share
															</a>
														</div>
													</section>
												</article><br/>
											</div>
										</div>
									    </div>
									</div>
								</div>
							</div>
							
							
							
						</div>
					</div>
				</section>
				<!-- dashboard -->
{% endblock %}