{% extends "site_base.html" %}
{% load webdesign %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load mapstory_tags %}
{% load cache %}
{% load avatar_tags %}
{% load threadedcomments_tags %}
{% load fluent_comments_tags %}

{% block extra_head %}
<link href="{{ STATIC_URL }}mapstory/css/search.css" rel="stylesheet" />
{% endblock %}

{% block body_outer %}
<div ng-controller="collection_controller">
        <div ng-init="query({{id}})">
        </div>
        <section class="parallax">
          <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Africa' }}); background-size: 100%; background-position: 0% 20%;">
            <div class="maskParent">
              <div class="paralaxMask"></div>
              <div class="paralaxText container" style="text-align:left;padding-bottom:0">
                <div class="row">
                  <div class="col-sm-1">
                    {% verbatim %}
                    <img class="img-rounded" src="{{ avatar }}" width="75" height="75" style="margin-top:55px;margin-bottom:0px" ng-if="avatar"/>
                    {% endverbatim %}
                  </div>
                  <div class="col-sm-6">
                    <div style="padding:60px 0px 0px 10px;">
                      {% verbatim %}
                      <h1 style="font-size:3em; color: #fff">{{ title }}</h1>
                      <h1 style="font-size:1.1em; color: #fff" ng-if="city && country">
                        {{ city }}, {{ country }}</h1>
                      <h1 style="font-size:1.1em; color: #fff" ng-if="city || country" ng-hide="city && country">
                        {{ city }} {{ country }}</h1>
                      {% endverbatim %}
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="row"  style="padding:80px 0px 10px 10px;">
                      <div class="col-sm-4 col-sm-offset-8">
                        {% if managers %}
                          <a class="btn btn-sm btn-block" style="font-size:1em;background-color:transparent;color:white;border:1px solid white; margin-left: -30px" title="" href='{% url "message_create" user_id=managers.0.pk %}' target="blank" id="message-manager">
                            message 
                          </a>
                          {% for manager in managers %}
                            {% ifequal manager user %}
                            <script>
                            // Hide the message button if we're a manager
                            document.getElementById("message-manager").style.display = "none";
                            </script>
                            {% verbatim %}
                            <a class="btn btn-sm btn-block" style="font-size:1em;background-color:transparent;color:white;border:1px solid white; margin-left: -30px" title="" href='/organizations/edit/{{ slug }}' target="blank">
                              edit org page 
                            </a>
                            {% endverbatim %}
                            {% endifequal %}
                          {% endfor %}
                          {% else %}
                          <a class="btn btn-sm btn-block" style="font-size:1em;background-color:transparent;color:white;border:1px solid white; margin-left: -30px" title="" href='{% url "message_create" %}' target="blank">
                            message 
                          </a>
                        {% endif %}
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
           </div>
          </div>
        </section>
        <section class="slice" id="dashboard" style="padding-top:20px">
          <div class="container">
            <div class="row" >
              <div class="col-lg-3" style="padding-top:10px;border-right:1px solid darkgray">
                <h3>
                  {% if managers %}
                    <a href='{% url "message_create" user_id=managers.0.pk %}' id="send-message-manager"><span style="color:orange">send message</span></a>
                    {% for manager in managers %}
                      {% ifequal manager user %}
                      <script>
                      // Hide the message button if we're a manager
                      document.getElementById("send-message-manager").style.display = "none";
                      </script>
                      {% verbatim %}
                      <a href='/organizations/edit/{{ slug }}'><span style="color:orange">edit org page</span></a><br/><br/>
                      <a href='/organizations/members/{{ slug }}'><span style="color:orange">manage members</span></a>
                      {% endverbatim %}
                      {% endifequal %}
                    {% endfor %}
                  {% else %}
                  <a href='{% url "message_create" %}'><span style="color:orange">send message</span></a>
                  {% endif %}
                </h3>
                
                <hr style="margin:5px">
                {% verbatim %}
                <h3 ng-if="facebook">
                  <span style="color:dodgerblue">facebook.com/{{ facebook }}</span>
                </h3>
                <hr style="margin:5px" ng-if="facebook">
                <h3 ng-if="twitter">
                  <span style="color:deepskyblue">twitter @{{ twitter }}</span>
                </h3>
                <hr style="margin:5px" ng-if="twitter">
                {% endverbatim %}
                
                <h3>Interests</h3>
                <input type="text" class="form-control" id="tokenfield-interests"/>

                <hr style="margin:5px">
                <h3>Org summary <br/>
                  <div style="max-height:200px; overflow-y:scroll; overflow-x:hidden;font-size:0.9em">
                    <i>
                    {% verbatim %}
                    {{ summary }}
                    {% endverbatim %}
                    </i>
                  </div>
                </h3>
              </div>
              <div class="col-lg-9">
                {% include "branding/mapstory_organization_detail_ul.html" %}
                <div class="tab-content">
                  <div class="tab-pane active" id="mapstories">
                    <div class="col-lg-12">
                      <div class="clearfix search-results">
                        <ul>
                          {% include "branding/mapstory_organization_detail_verbatim.html" %}
                        </ul>
                      </div>
                      <span>Total: </span>
                      <span ng-bind="total_counts"></span>
                      <a href><strong ng-click="paginate_down()">&laquo;</strong></a>
                      <span>page </span>
                      <span ng-model="page" ng-bind="page"></span>
                      <span> of </span>
                      <span ng-bind="numpages"></span>
                      <a href><strong ng-click="paginate_up()">&raquo;</strong></a>
                    </div>
                  </div>
                  <div class="tab-pane" id="storylayers">
                    <div class="col-lg-12">
                      <div class="clearfix search-results">
                        <ul>
                          {% verbatim %}
                          <li ng-repeat="item in org_layers" resource_id="{{ item.id}}" class="col-md-4">
                            <div style="text-align: left; height: 500px;">
                                <a href="{{ item.detail_url}}"><img class="thumb img-responsive" ng-src="{{ item.thumbnail_url | decodeURIComponent }}"/></a>
                                <h3><a href="{{ item.detail_url}}">{{ item.title}}</a></h3>
                                <div>
                                  <p>
                                    <i>StoryLayer</i>
                                  </p>
                                </div>
                                <h4> Created {{ item.date|date }}</h4>
                                <h4 ng-if="item.owner__first_name || item.owner__last_name"><span class="owner"><i class="fa fa-user"></i> {{ item.owner__first_name }} {{ item.owner__last_name }}</span></h4>
                                <h4 style="text-transform: capitalize;"><span><i class="fa fa-flag-o"></i></span> <span>{{ item.category }}</span><span ng-if="!item.category">Uncategorized</span></h4>
                                <h4><a href="{{ item.detail_url}}"><i class="fa fa-eye"></i> {{ item.popular_count}} views</a></h4>
                                <h4><a href="{{ item.detail_url}}#rate"><i class="fa fa-star"></i> {{ item.rating}}</a></h4>
                                <div><h5 class="abstract">{{ item.abstract|limitTo:70 }}<a href="{{ item.detail_url}}"> <i>...read more</i></a></h5></div>
                                <div class="btn-toolbar">
                                    <h4>
                                        <!-- goes to composer -->
                                        <a href="/maps/new?layer={{ item.detail_url.substring(8) | decodeURIComponent }}"><button class="btn btn-primary btn-xs"><i class="fa fa-play"></i> use</button></a>
                                        <!-- goes to layer edit -->
                                        <a href='/maps/edit?layer={{ item.detail_url.substring(8) | decodeURIComponent }}'><button class="btn btn-primary btn-xs"><i class="fa fa-share-alt"></i> edit</button></a>
                                        <!-- TODO: Hook in favorites functionality -->
                                        <!-- <button class="btn btn-primary btn-xs" id="favoriteLink"><i class="fa fa-heart-o"></i> favorite</button> -->
                                    </h4>
                                </div>
                            </div>
                          </li>
                          <p ng-if="org_layers.length == 0">There are no layers made by this organization.</p>
                          {% endverbatim %}
                        </ul>
                      </div>
                      <span>Total: </span>
                      <span ng-bind="total_counts"></span>
                      <a href><strong ng-click="paginate_down()">&laquo;</strong></a>
                      <span>page </span>
                      <span ng-model="page" ng-bind="page"></span>
                      <span> of </span>
                      <span ng-bind="numpages"></span>
                      <a href><strong ng-click="paginate_up()">&raquo;</strong></a>
                    </div>
                  </div>
                  <div class="tab-pane" id="storytellers">
                    <div class="col-lg-12">
                      <div class="clearfix search-results">
                        <ul>
                          {% verbatim %}
                          <li class="col-md-4" ng-repeat="user in storytellers">
                              <div style="text-align: left;">
                                  <a href="{{ user.profile_detail_url}}"><img class="thumb img-responsive img-circle" ng-src="{{ user.avatar_100}}"/></a>
                                  <h3><a href="{{ user.profile_detail_url}}">{{ user.first_name }} {{ user.last_name }}</a></h3>
                                  <!-- If both exist, comma separated... otherwise no comma separation -->
                                  <h4 ng-if="user.position && user.organiation"><i class="fa fa-briefcase"></i>{{ user.position }}, {{ user.organization }}</h4>
                                  <h4 ng-if="user.position || user.organization && !(user.position && user.organization)"><i class="fa briefcase"></i>{{ user.position }} {{ user.organization }}</h4>
                                  <h4 ng-if="user.city && user.country"><i class="fa fa-map-marker"></i>{{ user.city }}, {{ user.country }}</h4>
                                  <h4 ng-if="user.city || user.country && !(user.city && user.country)"><i class="fa fa-map-marker"></i>{{ user.city }} {{ user.country }}</h4>
                                  <h4>{{ user.profile }}</h4>

                                  <a href="{{ user.profile_detail_url }}"><button class="btn btn-primary btn-xs"><i class="fa fa-user"></i> view profile</button></a>
                                  <a href="/messages/create/{{ user.id }}/"><button class="btn btn-primary btn-xs"><i class="fa fa-envelope"></i> message </button></a>
                              </div>
                          </li>
                          <p ng-if="!storytellers">There are no members in this organization.</p>
                          {% endverbatim %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="blogs">
                    {% if not journals %}
                    <p>There are no journals for this organization.</p>
                    {% endif %}
                    {% for entry in journals %}
                    <div class="row blog-panel">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-2  col-xs-12">
                                    <h5 class="blog-title">{{ entry.date }}</h5>
                                    <h1 class="blog-title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
                                    <h5 class="blog-title"><a href="{% url "profile_detail" slug=entry.author.username %}">{% avatar entry.author 30 %} {{ entry.author.first_name }} {{ entry.author.last_name }}</a></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-xs-6 qlink-right">
                                </div>
                                <div class="col-lg-8 col-xs-6 blog-content bl">
                                    {{ entry.html|safe }}
                                </div>
                                <div class="col-lg-2 col-xs-6">
                                    {% ifequal entry.author request.user %}
                                        <a href="{% url 'diary-update' pk=entry.pk %}">
                                            <button class="btn btn-primary" aria-hidden="true" id="published_submit_btn" type="submit">{% trans "Edit" %}</button>
                                        </a>
                                    {% endifequal %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-xs-6 qlink-right">
                                </div>
                                <div class="col-lg-8 col-xs-6 blog-content bl">
                                    {% get_comment_count for entry as num_comments %}
                                    {{ num_comments }} comments
                                    {% if user.is_authenticated %}
                                    <a href="{{ entry.get_absolute_url }}" class="btn btn-primary btn-xs" role="button">Reply</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
</div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL }}mapstory/js/paginate.js"></script>
{% endblock extra_script %}
