# mapstory.org configuration
version: '3.7'
services:
  backup-sync:
    build: ./docker/backup-sync
    image: quay.io/mapstory/backup-sync:latest
    volumes:
      - backups:/backups
      - geoserver:/var/lib/geoserver
      - mapstory_media:/var/lib/mapstory/media/
    networks:
      internal:

  composer:
    image: quay.io/mapstory/composer:prod
    build:
      args:
        - DEPLOYMENT=production

  pgadmin:
    image: quay.io/mapstory/pgadmin:prod
    ports:
      - "5050:5050"
    secrets:
      - env_db_auth
    volumes:
      - backups:/backups

  elasticsearch:

  rabbitmq:
    image: quay.io/mapstory/rabbitmq:prod
    secrets:
      - env_rabbitmq_auth

  django:
    image: quay.io/mapstory/django:prod
    env_file:
      - docker/env/prod/public_host.env
      - docker/env/prod/geoserver.env
      - docker/env/prod/mapstory.env
    secrets:
      - env_db_auth
      - env_email_auth
      - env_geoserver_auth
      - env_rabbitmq_auth
      - env_slack_auth
      - env_social_auth

  celery:
    image: quay.io/mapstory/django:prod
    env_file:
      - docker/env/prod/public_host.env
      - docker/env/prod/geoserver.env
      - docker/env/prod/mapstory.env
    secrets:
      - env_db_auth
      - env_email_auth
      - env_geoserver_auth
      - env_rabbitmq_auth
      - env_slack_auth
      - env_social_auth

  django_volumes:
    image: quay.io/mapstory/django:prod

  geoserver:
    env_file:
      - docker/env/prod/public_host.env
      - docker/env/prod/geoserver.env
    secrets:
      - env_db_auth
      - env_geoserver_auth

  nginx:
    build:
      args:
        - TAG=prod
    image: quay.io/mapstory/nginx:prod
    env_file:
      - docker/env/prod/public_host.env
    environment:
      - NGINX_NUM_WORKERS=4
      - NGINX_FILE_CACHE_ENABLED=True
    secrets:
      - ssl_cert
      - ssl_key

volumes:
  geoserver:
    driver: rexray
  mapstory_media:
    driver: rexray
  backups:
    driver: local
    driver_opts:
      type: none
      device: /backups
      o: bind

secrets:
  ssl_cert:
    file: ../secrets/ssl_cert
  ssl_key:
    file: ../secrets/ssl_key
  env_db_auth:
    file: ../secrets/env/db_auth
  env_email_auth:
    file: ../secrets/env/email_auth
  env_geoserver_auth:
    file: ../secrets/env/geoserver_auth
  env_rabbitmq_auth:
    file: ../secrets/env/rabbitmq_auth
  env_slack_auth:
    file: ../secrets/env/slack_auth
  env_social_auth:
    file: ../secrets/env/social_auth
