/* ======== NAVBAR ======== */

.navbar-brand {
  background-size: 100%;
  width: 196px;
  margin-top: 10px;
  text-indent: -9999em;
}

.navbar-collapse {
  max-height: none;
}

.navbar-form {
  margin-top: 8px;
  .fa {
    margin-right: 0;
  }
}

.navbar-nav > li > a{
  font-weight: 500;
  padding-top:25px;
}

.navbar-right > li > a {
  padding: 15px 15px;
}

.navbar .search {
    width: 285px;
    margin-top: 10px;
}

.dropdown-menu {
  border-radius: 4px;
  border: none;
  padding: 8px 15px;
}

.dropdown-toggle {
  img {
   margin-right: 8px;
  }
}

#admin-icon {
  padding-top: 25px;
}

#login-icon {
  padding-top: 25px;
  font-size:1.3em;
  cursor:pointer
}

.user-avatar {
  padding: 15px 5px 0 5px;
  margin-top: 5px;
}

.avatar {
  padding: 3px;
  img {
   border-radius: 3px;
  }
}

/*--- Footer ---*/

footer {
  color: @gray55;
  background:@primary;
  border-top:1px solid @gray40;
  padding: 20px 10px;
  width: 100%;
}

.footerWidget{
  color: @white;
}