<script type="text/javascript" src="{{STATIC_URL}}importer/js/angular-resource.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}importer/js/underscore-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}importer/js/ui-bootstrap-tpls-0.14.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}importer/js/angular-cookies.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}importer/js/angular-wizard.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}importer/factories.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}importer/js/angular-file-upload.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}importer/importer.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}importer/css/angular-wizard.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}importer/css/importer.css" />