{% extends "site_base.html" %}
{% load i18n %}

{% block extra_script %}
    {% include 'importer/_importer_scripts.html' %}
    {{ block.super }}
{% endblock %}

{% block body_outer %}

<div class="page-header">
  <a href="{% url 'uploads-new' %}"><div class="pull-right" style="margin-top: 25px; font-size: 14px"><i class="fa fa-long-arrow-left"></i> Add Data</div></a>
  <h2 class="page-title">{% trans "Manage your data" %}</h2>
</div>

<div class="container" ng-app="mapstory.uploader" ng-controller="uploadList">
    <div class="row">
        <div class="col-md-8">
            <div ng-show="loading" style="margin-right: 50%; margin-left: 50%; margin-top: 30px; margin-bottom: 30px">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <div class="layer-upload-counts">Showing uploads {[offset]}-{[offset+uploads.length]} of {[totalItems]}.</div>
            <div ng-repeat="upload in uploads">
                <upload upload-object="upload" i="$index" template-url="{{ STATIC_URL }}importer/partials/upload.html"></upload>
            </div>
            <pagination total-items="totalItems" ng-init="init('{{user.username}}')" ng-change="pageChanged()" max-size="7" class="pagination-sm" items-per-page="limit" ng-model="currentPage"></pagination>
        </div>
    </div>
</div>
{% endblock %}