div.x-slider-progress {
  background-color: #f47a20;
  height: 3px;
  width: 0%;
}
div.gx-overlay-playback .x-btn-icon .x-btn-large .x-btn-text,
.x-btn-noicon .x-btn-large .x-btn-text {
  height: 50px;
  width: 34px;
}
.x-btn-icon .x-btn-medium .x-btn-text,
.x-btn-noicon .x-btn-medium .x-btn-text {
  width: 28px;
}
/*** Playback toolbar positioning ***/
div.gx-playback-wrap div.gx-overlay-playback {
  bottom: 0;
  left: 0;
  position: absolute;
  top: auto;
  width: 100% !important;
}
#preview_map .x-toolbar,
div.gx-playback-wrap .x-toolbar {
  background: rgba(11, 11, 11, 0.6);
}
/*** General playback button properties ***/
.gx-overlay-playback .x-btn-pressed td,
div.gx-playback-wrap .x-btn-pressed td {
  background-image: none;
  background-position: 0px -10px;
  /*background-color: rgba(255, 255, 255, 0.85);*/

}
#map-bbar .x-btn button,
.gx-overlay-playback .x-btn button {
  background-position: 0px -10px;
}
#notes-button button {
  background-position: 0px 0px !important;
}
#map-bbar .x-btn-over button,
#map-bbar .x-btn-pressed td button,
div.gx-playback-wrap .x-btn-over button,
div.gx-playback-wrap .x-btn-pressed td button {
  background-position: 0px -54px;
}
.x-btn button.gxp-icon-settings {
  background-image: url('img/icons/large/settings.png');
}
.x-btn button.gxp-icon-next {
  background-image: url('img/icons/large/step1.png');
}
.x-btn button.gxp-icon-prev {
  background-image: url('img/icons/large/step1_back.png');
}
/*
.x-btn .gxp-icon-last{
    background-image:url('img/icons/control_end_blue.png')
}
*/
.x-btn button.gxp-icon-play {
  background-image: url('img/icons/large/play.png');
}
.x-btn button.gxp-icon-pause {
  background-image: url('img/icons/large/pause.png');
}
/*
.x-btn .gxp-icon-stop{
    background-image:url('img/icons/control_stop_blue.png')
}
*/
.x-btn button.gxp-icon-loop {
  background-image: url('img/icons/large/replay.png');
}
.x-btn button.gxp-icon-ffwd,
.x-btn button.gxp-icon-play2x {
  width: 34px !important;
  background-image: url('img/icons/large/2x.png');
}
.x-btn button.gxp-icon-play4x {
  background-image: url('img/icons/large/4x.png');
}
.x-btn button.gxp-icon-fullScreen {
  background-image: url('img/icons/large/fullscreen.png');
}
.x-btn button.gxp-icon-smallScreen {
  background-image: url('img/icons/large/small_screen.png');
}
.x-btn button.gxp-icon-legend {
  background-image: url('img/icons/large/legend_btn.png');
  background-position: 0px -9px !important;
}
.x-btn button.gxp-icon-editMap {
  background-image: url('img/icons/large/edit_btn.png');
}
/*
.x-btn-over .gxp-icon-reset{
    background-image:url('img/icons/control_start.png')
}
.x-btn-over .gxp-icon-settings{
    background-image:url('img/icons/control_equalizer.png')
}
.x-btn-over .gxp-icon-next{
    background-image:url('img/icons/next_blue.png')
}
.x-btn-over .gxp-icon-last{
    background-image:url('img/icons/control_end.png')
}
.x-btn-over .gxp-icon-play{
    background-image:url('img/icons/control_play.png')
}
.x-btn-over .gxp-icon-pause{
    background-image:url('img/icons/control_pause.png')
}
.x-btn-over .gxp-icon-stop{
    background-image:url('img/icons/control_stop.png')
}
.x-btn-over .gxp-icon-loop{
    background-image:url('img/icons/control_repeat.png')
}
.x-btn-over .gxp-icon-ffwd,.x-item-disabled .gxp-icon-ffwd{
    background-image:url('img/icons/control_fastforward.png')
}
*/
div.gx_timeslider,
div.gx_timeslider .x-slider-end,
div.gx_timeslider .x-slider-inner {
  background-image: none;
}
div.gx_timeslider {
  border: 1px solid white;
  padding-top: 4px;
  padding-left: 12px;
}
div.gx_timeslider .x-slider-thumb {
  /*	background-image: url('img/icons/range_right.png'); */

  background: 0 -44px no-repeat;
  top: -14px;
  margin-left: -5px;
  width: 24px;
  height: 50px;
  cursor: pointer;
}
div.gx_timeslider .x-slider-thumb {
  background-image: url('img/icons/large/range_right.png');
}
div.gx_timeslider .x-slider-min-thumb {
  background-image: url('img/icons/large/range_left.png');
  cursor: pointer;
}
div.gx_timeslider .x-slider-max-thumb {
  background-image: url('img/icons/large/range_right.png');
  cursor: pointer;
}
div.gx_timeslider .x-slider-tail-thumb {
  background-image: url('img/icons/large/range_left.png');
  left: -14px;
  cursor: pointer;
}
#map-bbar .gx-overlay-playback button {
  width: 35px;
}
