{%verbatim%}
<div ng-controller="geonode_search_controller">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#search" data-toggle="tab" style="padding:10px"><i class="text-primary glyphicon glyphicon-search"></i>&nbsp;Add existing</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="search" style="max-height:450px; overflow-y:scroll; overflow-x:hidden">
                    <div class="col-sm-12" style="padding:10px">
                        <div class="box">

                            <alert ng-repeat="error in errors" type="danger" close="closeAlert($index)">{{error}}</alert>

                            <div class="input-group search-bar" >
                                <input name="text_search_input2" id="text_search_input2" placeholder="Search for StoryLayers ..." ng-model="layerName" type="text" class="form-control search-input">
                                    <span class="input-group-btn">
                                        <button id="layers_seach_btn" class="btn btn-primary search-btn" ng-disabled="!layerName" ng-click="showLoadSearchDialog(layerName)"><i class="glyphicon glyphicon-search"></i> Search</button>
                                    </span>
                            </div>

                            <!--div class="checkbox">
                                <label for="vector"><input ng-model="asVector" type="checkbox" id="vector">As vector</label>
                            </div-->

                            <span ng-if="loading">Loading...</span>


                            <a ng-click="showLoadSearchDialog({explore:true})">
                                <div class="box-content box-statistic">
                                    <div class="title text-primary"><i class="glyphicon glyphicon-th"></i>Explore All</div>
                                    <small><span ng-bind="total_counts"></span> Storylayers</small>

                                </div>
                            </a>
                            <a ng-click="showLoadSearchDialog({common:true})">
                                <div class="box-content box-statistic">
                                    <div class="title text-primary"><i class="glyphicon glyphicon-star"></i>Common StoryLayers</div>
                                    <small>0 Storylayers</small>

                                </div>
                            </a>

                            <a ng-click="showLoadSearchDialog({uploads:true})">
                                <div class="box-content box-statistic">
                                    <div class="title text-primary"><i class="glyphicon glyphicon-upload"></i>My Uploads</div>
                                    <small>0 Uploads</small>

                                </div>
                            </a>

                            <a target="_blank" href="/layers/upload">
                                <div class="box-content box-statistic">
                                    <div class="title text-primary"><i class="glyphicon glyphicon-upload"></i>Upload New StoryLayer</div>

                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endverbatim%}