{%verbatim%}

<accordion close-others="true" sv-root sv-part="layers" sv-on-sort="onSort($item, $partFrom, $partTo, $indexFrom, $indexTo)">

    <accordion-group>
        <accordion-heading>
            Add a StoryLayer <i id="layer-manager-panel" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <add-layers map="map"></add-layers>
    </accordion-group>

      <accordion-group sv-element ng-repeat="layer in layers" is-open="accordianOpen" ng-init="accordianOpen = $first">
        <accordion-heading>
            {{layer.get('title')}}
            <div class="pull-right">
                <button type="button" data-toggle="button" ng-click="toggleVisibleLayer(layer); $event.stopPropagation();" class="btn btn-xs btn-default">
                    <i class="glyphicon" ng-class="{'glyphicon-eye-open': layer.get('visibility'), 'glyphicon-eye-close': !layer.get('visibility')}"></i>
                </button>
                <button type="button" data-toggle="button" ng-really-message="Are you sure you want to remove this layer?" ng-really-click="removeLayer(layer); $event.stopPropagation();" class="btn btn-xs btn-default">
                   <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </accordion-heading>
        <!-- to reduce watchers, add ng-if=accordianOpen>
        <style-editor class="minheight" layer="layer" on-change="styleChanged"></style-editor-->

        <div class="row layer-ctrls">
            <div class="col-sm-12" style="padding:10px">

                <div>
                    <div class="col-sm-4">
                        <div class="time-panel box-quick-link" ng-class="{'blue-background':layer.get('times'), 'muted-background':!layer.get('times')}">
                            <a title="{{layer.get('times')[0] |isodate}}" data-toggle="time-info" data-target="{{'#' + layer.get('name')}}-time" tabindex="0" data-trigger="focus">
                                <div class="header">
                                    <div class="glyphicon glyphicon-calendar"></div>
                                </div>
                                <div class=content>Time Info</div>
                            </a>
                        </div>

                        <div id="{{layer.get('name')}}-time" style="display: none;">
                            <div ng-repeat="time in layer.get('times')">
                                {{ time |isodate }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-quick-link muted-background"><a href="/layers/geonode:{{layer.get('id')}}" target="_blank">
                            <div class="header">
                                <div class="glyphicon glyphicon-tag"></div>
                            </div>
                            <div class=content>Edit Metadata</div>
                        </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-sm-4">
                        <div class="box-quick-link muted-background">
                            <a href="/maps/edit?layer={{layer.get('id')}}" target="_blank">
                                <div class="header">
                                    <div class="glyphicon glyphicon-comment"></div>
                                </div>
                                <div class=content>Edit Attrib</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </accordion-group>


     <accordion-group>
        <accordion-heading>
            Basemap <i id="layer-manager-panel-basemap" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
         <div class="form-group">
    <label>Background:</label>
    <button style="margin-bottom:5px;" class="btn btn-default form-control" ng-repeat="baseLayer in baseLayers" ng-click="onChange(baseLayer)">{{baseLayer.title}}</button>

</div>
    </accordion-group>


</accordion>
{%endverbatim%}