<div class="modal-header">
        <h3 class="modal-title">{{appending() === true ? "Append data to StoryLayer" : "Create a StoryLayer"}}<img class="import-wizard-icon" ng-src="{{modalImage}}"/></h3>
</div>
<div class="modal-body row">
    <div class="col-sm-12 col-md-12 col-lg-12 import-wizard-modal">
        <wizard on-finish="importLayer()">

        <wz-step title="Add Data" wz-disabled="{{appending() === true ? false : 'true'}}" class="row">
            <h3><strong>Add Data</strong></h3>
            <p>Instead of adding edits to data one-by-one, with Append you can bulk upload a set of edits all at once. To Append, download a blank schema below, add your features to it, and proceed with your upload here</p>

            <a class="btn-link" style="display: block" href="{{shapefile_link}}" target="_self">Download Shape-file schema</a>
            <a class="btn-link" style="display: block" href="{{csv_link}}"  target="_self">Download csv schema</a>

            <div class="import-wizard-button">
                <button class="btn" type="submit" wz-next value="Continue">Continue <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </wz-step>

        <wz-step title="Upload" wz-disabled="{{layerSet}}" canexit="layer != null" class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-md-offset-2" style="padding-top: 5px; padding-left: 2px;" ng-controller="UploaderController">

                <h3 ng-show="appending() === false"><strong>Upload your data.</strong></h3>
                <p ng-show="appending() === false ">MapStory accepts data in .csv, .geojson, .gpx, .kml,  .tif, and zipped shapefile formats. To upload a print map or raster image, first you need to georeference it with the MapStory Warper. By sharing your data in MapStory, you agree to our <a href="http://wiki.mapstory.org/wiki/Terms_of_Service" target="_blank">licensing and terms</a>.</p>

                <h3 ng-show="appending()"><strong>Upload your feature edits.</strong></h3>
                <p ng-show="appending()">Upload the blank file you downloaded earlier that now has your new feature edits added. Once your append is complete, you should see all of your new features added as edits to this StoryLayer.</p>



                <div style="margin: 23px 0 10px 0;">
                    <input type="file" nv-file-select uploader="uploader"/>
                    </div>

                <div style="margin: 20px 0 10px 0;">

                    <uib-progressbar type="success" ng-show="uploader.progress > 0 && uploader.progress < 100" value="uploader.progress">{{uploader.progress}}%</uib-progressbar>

                    <div ng-repeat="fields in errors" class="clrs-red">
                        <div ng-repeat="error in fields" class="clrs-red">
                            <i class="fa fa-warning" ng-show="error"></i> {{ error }}
                    </div>
                </div>
                </div>

                <div class="import-wizard-button">
                    <button class="btn" type="submit" wz-next value="Continue">Continue <i class="fa fa-arrow-circle-right"></i></button>
                </div>

            </div>
        </wz-step>


        <wz-step title="Name">
            <h3><strong>Name your StoryLayer</strong></h3>
            <p>Descriptive layer names make it easy for others to find your data.</p>
            <form name="importOptionsForm" class="form-horizontal import-options-form">
                <div class="form-group">
                    <input id="layerName" type="text" class=input-lg ng-model="layer.configuration_options.name">
                </div>

                <div class="import-wizard-button">
                    <button class="btn" type="submit" wz-next value="Continue">Continue <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </form>
        </wz-step>

        <wz-step title="Enable Time?" canexit="layer.configuration_options.configureTime || false">
            <img class="import-wizard-image" ng-src="{{staticUrl}}mapstory/img/time.png"/>
            <h3><strong>Confirm dataset has time attributes</strong></h3>
            <p>All datasets uploaded to MapStory must contain time information. If the dataset contains only one timeslice, add a column indicating the timeslice. Learn more about Time Attributes.</p>

            <div class="btn-group">
                <label class="btn btn-success" ng-model="layer.configuration_options.configureTime" uib-btn-radio="true">Yes</label>
                <label class="btn" ng-model="layer.configuration_options.configureTime" uib-btn-radio="false">No</label>
            </div>


            <div class="import-wizard-button">
                <button class="btn" type="submit" wz-next value="Continue">Continue <i class="fa fa-arrow-circle-right"></i></button>
            </div>

        </wz-step>

        <wz-step title="Configure time" wz-disabled="{{timeEnabled(true)}}">
            <h3><strong>Configure your time attributes:</strong></h3>
            <form name="importOptionsForm" class="form-horizontal import-options-form">
                <p>All datasets uploaded to MapStory must contain time information. If the dataset contains only one timeslice, add a column indicating the timeslice. Learn more about Time Attributes.</p>
                    <div class="form-group">
                        <label for="start_date" class="col-sm-4 col-xs-4 col-md-4 control-label">Date field (start date):</label>
                        <select ng-model="layer.configuration_options.start_date" class="col-md-5 col-xs-5 col-sm-5 input-md" id="start_date" ng-required='layer.configuration_options'>
                            <option value="" ng-selected="'' == layer.configuration_options.start_date">--Please select a field--</option>
                            <option ng-repeat="option in layer.fields" ng-selected="option.name == layer.configuration_options.start_date" value="{{option.name}}">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="end_date" class="col-sm-4 col-xs-4 col-md-4 control-label">Optional end date field:</label>
                        <select ng-model="layer.configuration_options.end_date" class="col-md-5 col-xs-5 col-sm-5 input-md" id="end_date">
                            <option value="" ng-selected="'' == layer.configuration_options.end_date">--Please select a field--</option>
                            <option ng-repeat="option in layer.fields" ng-selected="option.name == layer.configuration_options.end_date" value="{{option.name}}">{{option.name}}</option>
                        </select>
                    </div>
                <div class="import-wizard-button">
                <button class="btn" type="submit" wz-next value="Continue">Continue <i class="fa fa-arrow-circle-right"></i></button>
            </div>
            </form>
        </wz-step>
        <wz-step title="Permissions" wz-disabled="{{appending(true)}}">
            <img class="import-wizard-image" ng-src="{{staticUrl}}mapstory/img/edit.png"/>
            <h3><strong>Allow other users to edit this data?</strong></h3>
            <p>StoryLayers are better when multiple authors work together.  Would you like to enable editing?</p>
            <div class="btn-group">
                <label class="btn btn-success"  ng-model='layer.configuration_options.editable' uib-btn-radio="true">Yes</label>
                <label class="btn" ng-model='layer.configuration_options.editable' uib-btn-radio="false">No</label>
            </div>
            <div class="import-wizard-button">
                <button class="btn" type="submit" wz-next value="Continue">Continue <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </wz-step>
        <wz-step title="{{appending() === true ? 'Append' : 'Import'}}">
            <h3><strong>Ok, we're ready to create the StoryLayer!</strong></h3>
            <p>Click below to create your StoryLayer</p>
            <div>
                <div class="clrs-green fnt-weight-400" ng-show="success">The import has finished successfully. View the <a href="{{layer.geonode_layer.url}}?showMetadata=true" class="fnt-weight-600" target="_self">StoryLayer</a>.</div>
                <div class="clrs-red fnt-weight-400" ng-show="errors">StoryLayer creation has failed.  Please adjust your configuration and try again.</div>
            </div>
            <div class="import-wizard-button">
                <i class="fa fa-spinner fa-spin fa-3x" ng-show="processing"></i>
                <button class="btn" ng-show="!processing && !success" type="submit" wz-next value="Continue">Create my StoryLayer <i class="fa fa-arrow-circle-right"></i></button>
            </div>
            <div>
                <ul class="import-wizard-error-list" ng-show="errorMessages">
                    <li class="clrs-red" style="" ng-repeat="error in errorMessages">{{error}}</li>
                </ul>
            </div>

        </wz-step>
    </wizard>
    </div>
</div>
<div class="modal-footer">
    <span class="pull-left modal-footer-help">
        <a href="//help.mapstory.org">Ask for help</a> &#0149; <a href="http://wiki.mapstory.org/wiki/MapStory_Uploader">Example Data</a> &#0149; <a href="//wiki.mapstory.org/wiki/Data_Repositories">Find Data</a></span>
    <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
</div>