
<div class="modal-header">
    <h3 class="modal-title">Upload a StoryLayer <img class="import-wizard-icon" ng-src="{{modalImage}}"/></h3>
</div>
<div class="modal-body row">
    <div class="col-sm-8 col-md-8 col-lg-8 col-md-offset-2" style="padding-top: 5px; padding-left: 2px;">
        <input type="file" nv-file-select uploader="uploader"/>
        <div style="margin: 10px 0 10px 0;">Valid file types are .csv, .geojson, .gpx, .kml, .tif, zipped Shapefile.</div>

        <div ng-repeat="fields in errors" style="color: #d43f3a">
            <div ng-repeat="error in fields" style="color: #d43f3a">
                <i class="fa fa-warning" ng-show="error"></i> {{ error }}
            </div>
        </div>

        <div ng-show="uploadSuccessful" style="color: #3D9970; margin: 10px 0 10px 0;">
            <i class="fa fa-check"></i> Upload successful.
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
</div>
