<div id="profile-icon-list">
    {% if not icons %}
        <div class="no-content">
            <h2>No icons.</h2>
            <h4><a href="/icons/">Upload icons now.</a></h4>
        </div>
    {% else %}
        {% for icon in icons %}
            <div class="profile-icon-list-item">
                <div class="profile-icon-list-image">{{ icon.current_icon_data.svg | safe }}</div>
                <div class="profile-icon-list-name">{{ icon.name }}
                    <br/>last modified on {{ icon.modified | date:"F d Y"}}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>





