{% extends "site_base.html" %}

{% block extra_head %}
{% endblock %}

{% block middle %}
    <div class="container">
        <h1>Upload Icons</h1>
        <form name="icon_form" method="POST" action="" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
                <div>Tags: <br/>{{ icon_form.tags }}{{ icon_form.tags.errors.as_text }}</div>
                <div>SVG File or Zip: {{ icon_form.svg }}{{ icon_form.svg.errors.as_text }}</div>
                <br/>
                <input class="btn btn-primary" id="icon_submit_btn" type="submit" value="Upload"/>
            </div>
        </form>
    </div>
{% endblock %}