.import-wizard-icon {
    float: right;
    height: 40px;
    margin-top:-5px;
    opacity: .8
}
.modal-content{font-size: 14px}
.import-options-form { margin-top: 20px;}
.import-options-form .form-group {margin-bottom:4px; font-size: 13px;}
.import-options-form .control-label {font-weight: 600;}
.clrs-red {color:#FF4136;}
.clrs-green {color: #3D9970}
.user-data-metadata {font-size: 12px;}
.user-data-story-layers-list {font-size: 13px;}
.user-data-story-layer-actions {font-size: 13px; margin-top: 20px;}
.light-bold {font-weight: 600;}
.import-title{font-size: 14px;}
.section-box-subtitle {margin-top: -4px;}
.import-head {cursor: pointer;}
.import-options {margin-left: 15px;}
.importer-layer-name {word-wrap: break-word;}
.layer-in-upload {background-color: #DCDCDC; padding: 8px; margin-top: 20px; border-radius: 3px;}
.layer-upload-field {font-size: 13px; margin-top: 15px;}
.layer-upload-name { padding: 4px; }
.layer-upload-field-name { font-weight: 600; }
.layer-upload-details { font-size: 13px; }
.layer-upload-counts {margin-bottom: 6px;}
.layer-upload-field {max-height: 200px; overflow-y: scroll;}
.import-wizard-button { margin: 30px 0 10px 0;}
.import-wizard-image {height: 100px;}
.import-wizard-modal{padding-top: 5px; padding-left: 2px; text-align:center;}
.steps-indicator {font-size: 12px; margin-top: 46px}
.import-wizard-icon {float: right; height: 40px; margin-top:-5px; opacity: .8}
.import-wizard-error-list{margin-top: 5px; padding-left: 0px}
.import-wizard-error-list li{font-weight: 600; list-style-type:none; font-size: 13px}
.fnt-weight-400 {font-weight: 400}
.fnt-weight-600 {font-weight: 400}
.modal-footer-help {font-size: 13px; color: grey; padding-top: 5px}
.modal-footer-help a {padding-left: 4px; padding-right: 4px;}