{% load i18n %}
{% load scope %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
        <link href="{{ STATIC_URL }}style/themes/{{ THEME }}/site-theme.css" rel="stylesheet"/>
    </head>
    <body>
        {% include '_header.html'  with hide_menu=True %}
        <div class="oauth-body">
            <h2>Login with {{ SITE_NAME }}</h2>
        {% if not error %}
            <p>{{ client.name }} would like to access the following information:</p>
            <ul>
                <li>
                    Your {{ SITE_NAME }} user profile (including username and email address)
                </li>
            </ul>
            <form method="post" action="{% url "oauth2:authorize" %}">
                {% csrf_token %}
                {{ form.errors }}
                {{ form.non_field_errors }}
                <div style="display: none;" />
                    <select type="select" name="scope" multiple="multiple">
                        {% for scope in oauth_data.scope|scopes %}
                        <option value="{{ scope }}" selected="selected">{{ scope }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success" name="authorize" value="Authorize" >AUTHORIZE</button>
                <button type="submit" class="btn btn-danger" value="Cancel">CANCEL</button>
            </form>
        {% else %}
            <div class="alert alert-danger">
                Sorry, an error occurred:<br>{{ error_description }}
            </div>
        {% endif %}
        </div>
    {% include "_site_scripts.html" %}
    {% block extra_script %}{% endblock extra_script %}
    </body>
</html>