---
- name: ensure known hosts
  shell: mkdir ~/.ssh; touch ~/.ssh/known_hosts
  tags: [config]

- name: remove github.com from known host
  shell: ssh-keygen -R github.com
  become_user: '{{ application_user }}'
  when: setup_git_repo is defined and setup_git_repo
  tags: [config]

- name: ensure github.com in known host
  shell: ssh-keyscan -H github.com > ~/.ssh/known_hosts
  become_user: '{{ application_user }}'
  when: setup_git_repo is defined and setup_git_repo
  tags: [config]

- name: mapstory checkout
  git: repo=git://github.com/MapStory/mapstory.git dest={{ top_project }} force=yes
  become_user: '{{ application_user }}'
  when: setup_git_repo is defined and setup_git_repo
  tags: [git]

- name: mapstory branch
  command: git checkout {{ mapstory_branch }} chdir={{ top_project }}
  become_user: '{{ application_user }}'
  when: setup_git_repo is defined and setup_git_repo
  tags: [git]

- name: clean modified geonode content to prevent submodule update fail
  command: git checkout -- . chdir={{ top_project }}/geonode
  become_user: '{{ application_user }}'
  when: setup_git_repo is defined and setup_git_repo
  tags: [update]

- name: mapstory update
  shell: git pull && git submodule sync && git submodule update --init --recursive chdir={{ top_project }}
  become_user: '{{ application_user }}'
  when: setup_git_repo is defined and setup_git_repo
  tags: [update]

- name: check if virtualenv already exists
  stat: path={{venv}}
  register: venv_dir

- name: create virtualenv
  shell: virtualenv --system-site-packages {{venv}}
  become_user: '{{ application_user }}'
  when: venv_dir.stat.isdir is not defined

- name: pip install
  pip: virtualenv={{venv}} chdir={{ project_path }} requirements=requirements.txt
  become_user: '{{ application_user }}'
  tags: [update, debug]

- name: configure media root
  file: path={{ media_root }} owner=www-data group=www-data mode=0775 state=directory
  become_user: '{{ application_user }}'
  tags: [setup, media]

- name: compile python
  shell: '{{ venv }}/bin/python -m compileall -f {{ top_project }}/geonode -f {{ project_path }}'
  become_user: '{{ application_user }}'
  tags: [update]
  notify: restart django
  when: env != 'vagrant'

- name: generate django secret key
  shell: python -c 'import random;print "".join(random.sample("abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)",50))'
  become_user: '{{ application_user }}'
  register: secret_key
  tags: [settings]

- name: write secret key
  template: src=roles/web/files/local_key.py dest={{ project_path }}/{{ project_name }}/settings/local_key.py
  become_user: '{{ application_user }}'
  tags: [settings]
  notify: restart django

- name: write project local settings
  template: src=roles/web/files/local_settings.py.j2 dest={{ project_path }}/{{ project_name }}/settings/local_settings.py
  become_user: '{{ application_user }}'
  notify: restart django
  tags: [settings]

- name: make migrations initial
  django_manage: command="makemigrations sites people notification maps groups" virtualenv={{ venv }} app_path={{ project_path }}
  become_user: '{{ application_user }}'
  tags: [update, syncdb]

- name: make migrations
  django_manage: command="makemigrations" virtualenv={{ venv }} app_path={{ project_path }}
  become_user: '{{ application_user }}'
  tags: [update, syncdb]

- name: migrate sites
  django_manage: command="migrate sites --noinput --fake-initial" virtualenv={{ venv }} app_path={{ project_path }}
  become_user: '{{ application_user }}'
  tags: [update, syncdb]

- name: migrate notification
  django_manage: command="migrate notification --noinput" virtualenv={{ venv }} app_path={{ project_path }}
  become_user: '{{ application_user }}'
  tags: [update, syncdb]

- name: migrate people
  django_manage: command="migrate people --noinput" virtualenv={{ venv }} app_path={{ project_path }}
  become_user: '{{ application_user }}'
  tags: [update, syncdb]

- name: migrate maps
  django_manage: command="migrate maps --noinput" virtualenv={{ venv }} app_path={{ project_path }}
  become_user: '{{ application_user }}'
  tags: [update, syncdb]

- name: migrate groups
  django_manage: command="migrate groups --noinput" virtualenv={{ venv }} app_path={{ project_path }}
  become_user: '{{ application_user }}'
  tags: [update, syncdb]

- name: migrate
  django_manage: command="migrate --noinput" virtualenv={{ venv }} app_path={{ project_path }}
  become_user: '{{ application_user }}'
  tags: [update, syncdb]

- name: load initial data
  django_manage: app_path={{ project_path }} virtualenv={{ venv }} fixtures='{{ fixtures }}' command=loaddata
  become_user: '{{ application_user }}'
  tags: [settings, initial_data]

- name: create or update django super user
  become_user: '{{ application_user }}'
  shell: >
    PYTHONPATH=. DJANGO_SETTINGS_MODULE={{ application_name }}.settings
    {{ venv }}/bin/python -c
    "import django; from geonode.people.models import Profile; django.setup(); p,_ = Profile.objects.get_or_create(username='admin'); p.is_staff=p.is_superuser=True; p.set_password('{{django_su_pass}}'); p.save()"
    chdir={{ project_path }}
  tags: [superuser]

- name: collect-static remote
  # Modify the paver args when using s3 since there is no need to apply --link
  shell: . {{ venv_activate }} && paver collect_static -o '--noinput --ignore node_modules' chdir={{ project_path }}
  become_user: '{{ application_user }}'
  when: use_aws_s3 is defined and use_aws_s3
  tags: [update]

- name: geonode npm install
  shell: npm install
  args:
    chdir: '{{ top_project }}/geonode/geonode/static/'
  become_user: '{{ application_user }}'
  tags: [update]
  when: use_aws_s3 is undefined or use_aws_s3 == False

- name: geonode bower install
  shell: bower install
  args:
    chdir: '{{ top_project }}/geonode/geonode/static/'
  become_user: '{{ application_user }}'
  tags: [update]
  when: use_aws_s3 is undefined or use_aws_s3 == False

- name: geonode grunt copy
  shell: grunt copy
  args:
    chdir: '{{ top_project }}/geonode/geonode/static/'
  become_user: '{{ application_user }}'
  tags: [update]
  when: use_aws_s3 is undefined or use_aws_s3 == False

- name: mapstory npm install
  shell: npm install
  args:
    chdir: '{{ project_path }}/mapstory/static'
  become_user: '{{ application_user }}'
  tags: [update]
  when: use_aws_s3 is undefined or use_aws_s3 == False

- name: mapstory bower install
  shell: bower install
  args:
    chdir: '{{ project_path }}/mapstory/static'
  become_user: '{{ application_user }}'
  tags: [update]
  when: use_aws_s3 is undefined or use_aws_s3 == False

- name: mapstory grunt less
  shell: grunt less:development
  args:
    chdir: '{{ project_path }}/mapstory/static'
  become_user: '{{ application_user }}'
  tags: [update]
  when: use_aws_s3 is undefined or use_aws_s3 == False

- name: mapstory grunt copy
  shell: grunt copy:development
  args:
    chdir: '{{ project_path }}/mapstory/static'
  become_user: '{{ application_user }}'
  tags: [update]
  when: use_aws_s3 is undefined or use_aws_s3 == False

- name: collect-static local
  django_manage: app_path={{ project_path }} virtualenv={{ venv }} command='collectstatic --link --noinput --ignore node_modules'
  become_user: '{{ application_user }}'
  when: use_aws_s3 is undefined or use_aws_s3 == False
  tags: [update]

- name: reload indexes
  django_manage: app_path={{ project_path }} virtualenv={{ venv }} command='rebuild_index --noinput'
  become_user: '{{ application_user }}'
  tags: [elasticsearch]
  ignore_errors: True

- name: create temp folder for icons
  file: state=directory path=/tmp/{{ application_name }} owner={{ application_user }}
