// === BRANDED THEME VARIABLES GO HERE ====
@primary: #f59620;
@primary-highlight: lighten(@primary, 10%);
@primary-shadow: darken(@primary, 6%);

@secondary: #e46e25;
@secondary-highlight: lighten(@secondary, 10%);
@secondary-shadow: darken(@secondary, 6%);

@navigation-gradient: linear-gradient(107deg, #383635 8%, #f1642e 140%);
