http://launchpad.net/python-distutils-extra/trunk/2.28/+download/python-distutils-extra-2.28.tar.gz
-e git://github.com/mapstory/geonode.git#egg=GeoNode
-e git://github.com/MapStory/icon-commons.git#egg=icon-commons
-e git://github.com/pinax/django-mailer.git#egg=django-mailer
-e git://github.com/ProminentEdge/django-osgeo-importer.git@d9e1f9b7843e4b7a1a5b67c85a922984d3b14833#egg=osgeo_importer
https://github.com/MapStory/django-maploom/archive/mapstory.zip
django-slack==4.1.0
boto==2.38.0
akismet==0.2.0
amqp==1.4.9
anyjson==0.3.3
# apt-xapian-index==0.45
awesome-slugify==1.6.2
beautifulsoup4==4.2.1
billiard==3.3.0.22
# celery==3.1.17
chardet==2.1.1
Cheetah==2.4.4
cloudbase-init
colorama==0.2.5
configobj==4.7.2
decorator==3.4.0
dj.paste==1.14
Django==1.6.10
django-activity-stream==0.4.5
django-appconf==0.5
django-autocomplete-light==1.4.14
django-bootstrap3-datetimepicker==2.2.3
django-celery==3.1.16
django-contrib-comments==1.6.2
django-crispy-forms==1.6.0
django-downloadview==1.2
django-extensions==1.2.5
django-fluent-comments==1.0.5
django-forms-bootstrap==3.0.1
django-friendly-tag-loader==1.1
django-geoexplorer==4.0.4
django-guardian==1.2.0
django-haystack==2.4.0
#-e git://github.com/MapStory/icon-commons.git@f21c39c4bd8513a92c2725a132969e23268ae29e#egg=django_icon_commons
django-jsonfield==0.9.12
django-leaflet==0.13.7
#-e git://github.com/pinax/django-mailer.git@410673ff1f9df8f52062a5d2455521db536d59af#egg=django_mailer
django-maploom==1.0
django-modeltranslation==0.8
django-mptt==0.6.1
django-nose==1.2
django-oauth2-provider==0.2.6.1
django-pagination==1.0.5
django-polymorphic==0.5.6
django-social-auth==0.7.22
django-storages==1.1.8
django-tag-parser==2.1
django-taggit==0.12
django-tastypie==0.11.0
django-threadedcomments==1.0.1
docutils==0.12
elasticsearch==1.6.0
flake8==2.3.0
FormEncode==1.2.6
GDAL==2.0.1
geolinks==0.0.1
dj-database-url==0.3.0
#-e git://github.com/terranodo/geonode.git@24f5b409fe2f298a819bee173ffad70847b58975#egg=GeoNode
geonode-agon-ratings==0.3.1
geonode-announcements==1.0.5
geonode-arcrest==10.2
geonode-avatar==2.1.4
geonode-dialogos==0.4
geonode-notification==1.1.1
geonode-user-accounts==1.0.10
geonode-user-messages==0.1.2
gisdata==0.5.4
gsconfig==0.6.13
gsimporter==0.1
gunicorn==17.5
html5lib==0.999
httplib2==0.8
# ipython==1.2.1
jsonpatch==1.3
jsonpointer==1.0
keyring==3.5
kombu==3.0.33
# Landscape-Client==14.12
launchpadlib==1.10.2
lazr.restfulclient==0.13.1
lazr.uri==1.0.3
lockfile==0.12.2
lxml==3.3.3
mccabe==0.4.0
meld3==0.6.10
MultipartPostHandler==0.1.0
nose==1.0.0
numpy==1.8.2
oauth==1.0.1
oauth2==1.5.211
OWSLib==0.8.10
#PAM==0.4.2
Paste==1.7.5.1
PasteDeploy==1.5.2
PasteScript==1.7.5
Paver==1.2.4
pbr==1.8.1
pep8==1.6.2
pexpect==3.1
Pillow==2.3.0
pinax-theme-bootstrap==3.0a11
pinax-theme-bootstrap-account==1.0b2
prettytable==0.7.2
psycopg2==2.4.5
pycrypto==2.6.1
pycsw==1.10.0
pycurl==7.19.3
pydns==2.3.6
pyelasticsearch==0.6.1
pyflakes==1.1.0
Pygments==2.1.2
# pygobject
pyOpenSSL==0.13
pyproj==1.9.3
pyserial==2.6
# python-apt
python-dateutil==2.5.0
python-debian==0.1.21
python-mimeparse==1.5.1
python-openid==2.2.5
pytz==2015.7
PyYAML==3.10
regex==2016.2.25
requests==2.2.1
scgi
SecretStorage==2.0.0
Shapely==1.3.1
shortuuid==0.4.3
simplegeneric==0.8.1
simplejson==3.3.1
six==1.10.0
ssh-import-id==3.21
stevedore==1.12.0
supervisor==3.0b2
Tempita==0.5.2
textile==2.2.2
transifex-client==0.10
#Twisted-Core==13.2.0
#Twisted-Names==13.2.0
#Twisted-Web==13.2.0
Unidecode==0.4.19
#urlgrabber==3.9.1
urllib3==1.14
#virtualenv==14.0.6
#virtualenv-clone==0.2.6
#virtualenvwrapper==4.7.1
wadllib==1.3.2
WebError==0.12
WebOb==1.5.1
wheel==0.29.0
WhiteNoise==1.0.4
zope.interface==4.0.5