{% load i18n %}
<footer class="site-footer">
    <div class="container">
        {{ site.assets.footer_text |safe }}
        <div class="version-number">
            {% trans "version" %} {{ VERSION }}
        </div>
    </div>
    {% if THEME == 'default' %}
    {# only show language trans in development environment until bugs fixed #}
        <label class="hidden">{% trans "Language" %}</label>
        {% if csrf_token != "NOTPROVIDED" %}
            {% get_current_language as LANGUAGE %}
            <form action="/i18n/setlang/" method="post">
                {% csrf_token %}
                <select name="language" onchange="javascript:form.submit()">
                    {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                            {{ lang.1 }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        {% endif %}
    {% endif %}
</footer>
