{% load i18n %}
<footer class="site-footer">
    <div layout-gt-sm="row" layout="column" layout-align="space-around start">
        <section layout="column" flex-gt-sm="33">
            <h3 class="bold-caps">Support Us</h3>
            <p> {{ site.assets.footer_text | safe }} </p>
            <a href="{% url 'donate' %}" class="homepage">
                <button class="button button-solid" style="vertical-align:middle">
                    <span>Donate</span>
                </button>
            </a>
        </section>
        <section layout="column" flex-gt-sm="33">
            <h3 class="bold-caps">Create an Account</h3>
            <p>{{ SITE_NAME }} is free to use for anyone age 13 and up. Sign up now!</p>
            <a href="#" data-toggle="modal" data-target="#loginModal" class="homepage">
                <button class="button button-solid" style="vertical-align:middle">
                    <span>Sign Up</span>
                </button>
            </a>
        </section>
        <section layout="column" flex-gt-sm="33">
            <h3 class="bold-caps">Ways to Connect</h3>
            <p>We want to hear from you! Visit <a href="https://wiki.mapstory.org">the Wiki</a> to find and share more
                resources with the community</p>
            <p>Find us on Github or Twitter. Use the feedback tool below to report any issues
                you encounter</p>
            <span layout="row">
                <a href="https://github.com/MapStory/mapstory">
                    <i class="fa fa-github fa-inverse fa-2x github-icon" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/MapStory">
                    <i class="fa fa-twitter-square fa-inverse fa-2x twitter-icon"  aria-hidden="true"></i>
                </a>
            </span>
        </section>
    </div>
    <div class="pull-left version-number">{% trans "version" %} {{ VERSION }}</div>
</footer>