{% load i18n avatar_tags %}
<header class="navigation" role="banner">
    <div class="navigation-wrapper container">
        {% if site.assets.logo %}
            <div class="logo-wrapper">
                <a href="{% url 'home' %}">
                    <h1 class="site-title" style="background:url('{{ MEDIA_URL }}{{ site.assets.logo.name }}') no-repeat; background-size:100%;">
                        {{ SITE_NAME }}
                    </h1>
                </a>
                {% if THEME == 'orange' %}
                    <div class="beta-tag">Beta</div>
                {% endif %}
            </div>
        {% endif %}

        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu" aria-expanded="false" area-controls="navbar">MENU</a>
        <nav role="navigation">
            <ul id="js-navigation-menu" class="navigation-menu show">

                <li class="nav-link"><a href="{% url 'search' %}">{% trans "Explore" %}</a></li>
                <li id="js-navigation-more" class="nav-link more">
                    <a href="javascript:void(0)">{% trans 'Create' %}</a>
                    <ul class="submenu">
                        {% if user.is_authenticated %}
                            <li>
                                <a class="pointer" ng-controller="ImportController"
                                   ng-click="open(null, '{{ STATIC_URL }}mapstory/partials/uploadWizard.html', '/uploaded/{{ site.assets.logo.name }}', '{{ STATIC_URL }}', '{{ default_layer_config }}', null, null, null)">{% trans "Import StoryLayer" %}</a>
                            </li>
                            <li>
                                <a class="pointer" ng-controller="createLayerCtrl"
                                   ng-click="open('{{ STATIC_URL }}mapstory/partials/createLayerModal.html', '/uploaded/{{ site.assets.logo.name }}', '{{ STATIC_URL }}')">{% trans "Create StoryLayer" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'upload' %}">{% trans "Upload Icons" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'new-story' %}?tour">{% trans "Compose Story" %}</a>
                            </li>
                        {% else %}
                            <li><a href="#" data-toggle="modal" data-target="#loginModal">{% trans "Import StoryLayer" %}</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#loginModal">{% trans "Create StoryLayer" %}</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#loginModal">{% trans "Upload Icons" %}</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#loginModal">{% trans "Compose Story" %}</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-link"><a href="{% url 'getpage' 'started' %}">{% trans "Get Started" %}</a></li>
                <li class="nav-link"><a href="{% url 'journal' %}">{% trans "Journal" %}</a></li>

                {% if user.is_authenticated %}
                    <li id="js-navigation-more" class="nav-link more user-menu">
                        <a href="javascript:void(0)" class="desktop-menu-only">
                            <img class="nav-avatar" src="{% avatar_url user 35 %}"/>
                        </a>
                        <a href="javascript:void(0)" class="mobile-menu-only">
                            {{ user.username }}
                        </a>
                        <ul class="submenu">
                            <li><a href="{% url 'profile_detail' slug=user.username %}">{{ user.username }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url "messages_inbox" %}">{% trans "Messages" %}</a></li>
                            <li><a href="{% url 'edit_profile' user.username %}">{% trans "Edit Profile" %}</a></li>
                            <li><a href="{% url 'account_password' %}">{% trans "Change Password" %}</a></li>
                            <li><a href="{% url 'profile_detail' slug=user.username %}?showNotifications=true">{% trans "Notification Settings" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'getpage' 'started' %}">{% trans "Help" %}</a></li>
                            <li class="divider"></li>
                            {#TODO: Add Organizations management menu here#}
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">{% trans "Admin Panel" %}</a></li>
                        {% endif %}
                        {% if perms.announcements.can_manage %}
                            <li><a href="{% url 'announcements_list' %}">{% trans "Announcements" %}</a></li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li><a href="{% url 'account_invite_user' %}">{% trans "Invite User" %}</a></li>
                            <li><a href="{% url 'services' %}">{% trans "Remote Services" %}</a></li>
                            <li><a href="{{ GEOSERVER_BASE_URL }}">{% trans "GeoServer" %}</a></li>
                            <li class="divider"></li>
                        {% endif %}
                            <li class="desktop-menu-only">
                                <form action="{% url 'account_logout' %}" id="logout_form" method="post">
                                    {% csrf_token %}
                                    <a href="javascript:{}" onclick="document.getElementById('logout_form').submit();">
                                        {% trans "Log out" %}
                                    </a>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-link mobile-menu-only">
                        <form action="{% url 'account_logout' %}" id="logout_form" method="post">
                            {% csrf_token %}
                            <a href="javascript:{}" onclick="document.getElementById('logout_form').submit();">
                                {% trans "Log out" %}
                            </a>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-link"><a data-toggle="modal" data-target="#loginModal">{% trans "Log In" %}</a></li>
                {% endif %}
            </ul>
            <div class="navigation-tools">
                <div class="search-bar">
                    <form action="{% url 'search' %}" role="search">
                        <div>
                            <input type="search"
                                placeholder="Quick Search"
                                {% if HAYSTACK_SEARCH %} name="q"
                                {% else %} name="keywords__slug__in"
                                {% endif %}
                            >
                            <button class="btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>
{% if not hide_menu %} {% include '_login_register.html' %} {% endif %}
