{% load socialaccount %}
{% get_providers as socialaccount_providers %}
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#login" role="tab" data-toggle="tab">Log In</a></li>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
                </ul>
                <div class="tab-content">
                    {% comment %} Log In {% endcomment %}
                    <div class="tab-pane active" id="login">
                        <br/>
                        <form class="form form-horizontal" method="post" action="{% url 'account_login' %}?next={{ request.path }}">
                        {% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-3 control-label label-font-sm" for="id_username">Username</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="login" id="id_username" placeholder="username" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label label-font-sm" for="id_password">Password</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="password" id="id_password" placeholder="password" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <a href="{% url 'account_reset_password' %}">Forgot password?</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label label-font-sm"></label>
                                <div class="col-md-8">
                                    <button type="submit" class="login-auth-btn btn btn-md btn-block">
                                        Sign in to {{ SITE_NAME }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% if ACCOUNT_OPEN_SIGNUP %}
                    Don't have an account? <a href="{% url "account_signup" %}">Sign Up.</a>
                {% endif %}
                <hr/>
                <div class="justify-content-center">
                {% for provider in socialaccount_providers %}
                    {% if provider.id == "google" %}
                    <div class="col-sm-4">
                        <a href="{% provider_login_url "google" %}">
                                     <div class="login-auth-btn btn btn-md bg-ms btn-block">
                                         <i class="fa fa-google"></i> Log In with Google
                                     </div>
                                 </a>
                    </div>
                    {% endif %}
                    {% if provider.id == "geoaxis" %}
                    <div class="col-sm-4">
                        <a href="{% provider_login_url "geoaxis" %}">
                                     <div class="login-auth-btn btn btn-md bg-ms btn-block">
                                         <i class="fa fa-lock"></i> Log In with GeoAxis
                                     </div>
                                 </a>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>

            </div><!-- /login.modal-body -->
        </div><!-- /login.modal-content -->
    </div><!-- /login.modal-dialog -->
</div>
