{% load i18n %}
<script type="text/javascript">
    CATEGORIES_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='categories' %}';
    KEYWORDS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='keywords' %}';
    INTERESTS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='interests' %}';
    REGIONS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='regions' %}';
    HAYSTACK_SEARCH = "{{ HAYSTACK_SEARCH }}".toLowerCase() === "true";
    HAYSTACK_FACET_COUNTS = "{{ HAYSTACK_FACET_COUNTS }}".toLowerCase() === "true";
    CLIENT_RESULTS_LIMIT = {{ CLIENT_RESULTS_LIMIT }};
    AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "ResourceBaseAutocomplete" %}';
    AUTOCOMPLETE_URL_REGION = '{% url "autocomplete_light_autocomplete" "RegionAutocomplete" %}';
    AUTOCOMPLETE_URL_KEYWORD = '{% url "autocomplete_light_autocomplete" "TagAutocomplete" %}';
    {% if HAYSTACK_SEARCH %}
        SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}'
    {% else %}
        SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='base' %}'
    {% endif %}
    USER = "{{ user }}";
</script>

<script src="{{ STATIC_URL }}mapstory/js/dist/vendor-assets-min.js"></script>
<script src="{{ STATIC_URL }}lib/js/moment-with-locales.min.js"></script>

<script src="{{ STATIC_URL }}mapstory/js/dist/mapstory.js"></script>

<!-- Script for animating navigation submenus -->
<script type="text/javascript">
    $(window).resize(function() {
        var more = document.getElementById("js-navigation-more");
        if ($(more).length > 0) {
            var windowWidth = $(window).width();
            var moreLeftSideToPageLeftSide = $(more).offset().left;
            var moreLeftSideToPageRightSide = windowWidth - moreLeftSideToPageLeftSide;

            if (moreLeftSideToPageRightSide < 330) {
                $("#js-navigation-more .submenu .submenu").removeClass("fly-out-right");
                $("#js-navigation-more .submenu .submenu").addClass("fly-out-left");
            }

            if (moreLeftSideToPageRightSide > 330) {
                $("#js-navigation-more .submenu .submenu").removeClass("fly-out-left");
                $("#js-navigation-more .submenu .submenu").addClass("fly-out-right");
            }
        }
    });

    $(document).ready(function() {
        var menuToggle = $("#js-mobile-menu").unbind();
        var submenuToggle = $("li.nav-link.more").unbind();

        $("#js-navigation-menu").removeClass("show");

        menuToggle.on("click", function(e) {
            e.preventDefault();
            $("#js-navigation-menu").slideToggle(function() {
                if($("#js-navigation-menu").is(":hidden")) {
                    $("#js-navigation-menu").removeAttr("style");
                }
            });
        });

    submenuToggle.on("click", function(e) {
        thisSubmenu = $(this).children(".submenu");
        otherSubmenus = $(this).siblings().children(".submenu");
        otherSubmenus.slideUp();
        thisSubmenu.slideToggle();

        clicked = $(this);
        menuElements = $(this).children(".nav-avatar");
        $(clicked, menuElements).mouseleave(function() {
            thisSubmenu.slideUp();
        });
    });
});
</script>

{% include "osgeo_importer/_importer_scripts.html" %}
{% include 'autocomplete_light/static.html' %}
{% include "favorite/_favorite_js.html" %}

<script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script type="text/javascript" src="{% url "lang" %}"></script>
{% if  USER_SNAP %}
    <script type="text/javascript">
        (function () {
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            s.src = '//api.usersnap.com/load/' +
                    'bbadd6c6-bbf7-4426-a52c-965ebb008963.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    </script>
{% endif %}
<script>
// instantiate clipboard for link sharing   
    new Clipboard('.copyclip'); 
</script>