{% load i18n %}
{% load threadedcomments_tags %}
{% load fluent_comments_tags %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
{% load friendly_loader %}
{% load flag_tags %}
{% friendly_load avatar_tags %}

<div ng-controller="detail_page_controller">
    <section class="slice" id="dashboard">
        <div class="container">
            <div class="row">
                {{ resource.tags }}
                <div class="col-lg-9" style="padding-right:15px;">
                    <h2 class="page-title">{{ resource.title }}</h2>
                    <small>Uploaded By <a href="{% url "profile_detail" resource.owner.username %}"></a></small>
                    <br>
                    <div id="embedded_map" class="mrg-btm">
                        <div id="preview_map"></div>
                    </div>
                    {% ifequal page "layer" %}
                        {% include "layers/layer_data.html" %}
                        {% else %}
                        {% ifequal page "map" %}
                            {% include "maps/map_data.html" %}
                            {% else %}
                        {% endifequal %}
                    {% endifequal %}
                    <br>
                </div>
                <div class="col-lg-3" style="padding:15px">
                    {% ifequal page "layer" %}
                        <a href="{% url "new_map" %}?layer={{ resource.service_typename }}" target="_blank">
                            <button>Compose a mapstory</button>
                        </a>
                        <a href='{% url "map-edit" %}?layer={{ resource.service_typename }}&mode=edit' target="_blank">
                            <button>Edit this storylayer</button>
                        </a>
                        <h3>StoryLayer Metadata</h3>
                        {% else %}
                        {% ifequal page "map" %}
                            <button>play fullscreen</button>
                            <h3>MapStory Properties</h3>
                            {% else %}
                        {% endifequal %}
                    {% endifequal %}
                    <ul>
                        <li><i class="fa fa-user"></i> {{ resource.owner.first_name }} {{ resource.owner.last_name }}</li>
                        <li><i class="fa fa-plus"></i> Uploaded on {{ resource.date|date }}</li>
                        {% if resource.region_name_list|length > 0 %}
                            <li><i class="fa fa-globe"></i> {{ resource.region_name_list.0 }}</li>
                        {% endif %}
                        <li><i class="fa fa-book"></i> {{ resource.category }}</li>
                        <li><i class="fa fa-tags"></i> Tags Go Here</li>
                    </ul>
                    <h3>User Actions</h3>
                    <ul>
                        {% ifequal page "layer" %}
                            <li><i class="fa fa-paste"></i> <a ng-controller="ImportController" style="cursor: pointer"
                                                               ng-click="open(null, '{{ STATIC_URL }}osgeo_importer/partials/uploadWizard.html', '{{ STATIC_URL }}mapstory/img/mapstory-icon.png', '{{ STATIC_URL }}', '{{ resource.typename }}', '{{ shapefile_link }}','{{ csv_link }}')">Append
                                Data</a></li>
                            <div>
                                <li><i class="fa fa-flag"></i> <a href="#flag" role="button" data-toggle="modal" style="hover: cursor;">Flag
                                    content</a></li>
                                <div id="flag" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">{% trans 'Flag Content' %}</h4>
                                            </div>
                                            <div class="modal-body">
                                                {% flag resource 'owner' %}
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li>
                                <i class="fa fa-heart"></i> {% include "favorite/_favorite.html" with span_style="font-size:18px;color:black" btn_style="font-size:18px;color:black;border:none;background:none" %}
                            </li>
                            {% if resource.storeType != "remoteStore" %}
                                {% get_obj_perms request.user for resource.get_self_resource as "perms" %}
                                {% if links %}
                                    <li><i class="fa fa-download"></i> <a href="#" data-toggle="modal"
                                                                          data-target="#download-layer">{% trans "Download Layer" %}</a></li>
                                {% endif %}
                            {% endif %}
                            <div class="modal fade" id="download-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{% trans "Download Layer" %}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% if links %}
                                                <ul>
                                                    {% for link in links %}
                                                        <li><a href="{{ link.url }}" class="download-link" data-extension="{{ link.name }}"
                                                               data-id="{{ resource.id }}">{% trans link.name %}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If the owner is this user, or it is a content moderator, make a button visible which spawns a modal to modify the metadata -->
                            {% if content_moderators in user.groups.all or user == resource.owner %}
                                <li><i class="fa fa-edit"></i> <a href="#metaForm" data-toggle="modal">{% trans "Update StoryLayer Settings" %}</a>
                                </li>
                                <li><i class="fa fa-edit"></i> <a
                                        href="{% url "layer_remove" resource.service_typename %}">{% trans "Delete StoryLayer" %}</a></li>
                                <div id="metaForm" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">{% trans 'Edit Metadata' %}</h4>
                                            </div>
                                            <form name="metadata_form" method="POST" id="form_post_metadata"
                                                  action="{{ resource.detail_url }}">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    {{ metadata_form|as_bootstrap }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                    <button class="btn btn-primary" aria-hidden="true" id="metadata_submit_btn"
                                                            type="submit">{% trans "Save" %}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% else %}
                            {% ifequal page "map" %}
                                <li><i class="fa fa-flag"></i> Flag Content</li>
                                <li><i class="fa fa-heart"></i> Mark as favorite</li>
                                {% else %}
                            {% endifequal %}
                        {% endifequal %}
                    </ul>
                    <h3>Usage Summary</h3>
                    <ul>
                        {% ifequal page "layer" %}
                            <!--<li>Rating</li>-->
                            <li><i class="fa fa-eye"></i> views</li>
                            <li><i class="fa fa-heart"></i> favorites</li>
                            <li><i class="fa fa-pencil"></i> community edits</li>
                            {% else %}
                            {% ifequal page "map" %}
                                <!--<li>Rating</li>-->
                                <li><i class="fa fa-eye"></i> views</li>
                                <li><i class="fa fa-heart"></i> favorites</li>
                                {% else %}
                            {% endifequal %}
                        {% endifequal %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>