{% load i18n %}
{% load threadedcomments_tags %}
{% load fluent_comments_tags %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
<div ng-controller="geonode_search_controller" class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs details-tabs">
            <li class="active"><a href="#Summary" data-toggle="tab">Summary</a></li>
            {% ifequal page "layer" %}
            <li><a href="#Metadata" data-toggle="tab">Metadata</a></li>
            <li><a href="#Edits" data-toggle="tab">Edits</a></li>
            <li><a href="#Comments" data-toggle="tab">Comments</a></li>
            <li><a href="#ShareLayer" data-toggle="tab">Share</a></li>
            {% endifequal%}
            {% ifequal page "map" %}
            <li><a href="#Chapters" data-toggle="tab">{% trans "Chapters" %}</a></li>
            <li><a href="#Layers" data-toggle="tab">{% trans "Layers" %} Used</a></li>
            <li><a href="#ShareStory" data-toggle="tab">Share</a></li>
            {% endifequal %}
            {% if resource.category %}
            <li><a href="#Related" data-toggle="tab" ng-click="query_category('{{ resource.category }}', '{{page}}');">Related</a></li>
            {% endif %}
        </ul>
        <div class="tab-content details">
            <div class="tab-pane active" id="Summary">
                <div>{{ resource.abstract }}</div>
            </div>
            <div class="tab-pane" id="Metadata">
                <table class="table table-condensed table-hover">
                    <tr>
                        <td width="35%">Category</td>
                        <td width="65%">{{ resource.category }}</td>
                    </tr>
                    <tr>
                        <td width="35%">Purpose</td>
                        <td width="65%">{{ resource.purpose }}</td>
                    </tr>
                    <tr>
                        <td width="35%">Data Source</td>
                        <td width="65%">{{ resource.distribution_url }}</td>
                    </tr>
                    <tr>
                        <td width="35%">Data Quality Statement</td>
                        <td width="65%">{{ resource.data_quality_statement }}</td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="Edits">
                <div>
                    {% if GEOGIG_ENABLED and resource.link_set.geogig %}
                        {% with "layers/_geogig_layer_detail.html" as geogig_template %}
                            <article id="geogig" class="tab-pane">
                                {% with resource as obj %}
                                    {% include geogig_template %}
                                {% endwith %}
                            </article>
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="Related">
                <div>
                    {% verbatim %}
                    <div ng-hide="results.length">No related content found...</div>
                    <div ng-show="results.length">
                        <div class="col-sm-12" ng-repeat="item in results">
                            <div ng-show="{{ item.id }} != {% endverbatim %}{{ resource.id }}{% verbatim %}">
                                <div class="row boxFeature">
                                    <div class="col-xs-3">
                                        <a href="{{ item.detail_url }}">
                                            <img class="thumb img-responsive details" ng-src="{{ item.thumbnail_url }}"/>
                                        </a>
                                    </div>
                                    <div class="col-xs-9">
                                        <h3><a href="{{ item.detail_url }}">{{ item.title }}</a></h3>
                                        <p>{{ item.abstract|limitTo:"250"  }}
                                            {% if item.abstract != 'No abstract provided' %}
                                            <a href="{{ item.detail_url }}"><i>...read more</i></a>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>
            </div>
            <div class="tab-pane" id="Comments">
                {% get_comment_count for resource as num_comments %}
                {{ num_comments }} comments
                {% if user.is_authenticated %}
                    {% render_comment_form for resource %}
                {% endif %}
                {% render_comment_list for resource %}
            </div>
            <div class="tab-pane" id="Chapters">
            <!-- TODO: What do we want to show for chapters? -->
                <div>
                    {% for item in resource.chapters %}
                    <div class="col-sm-12">
                        <div class="row boxFeature">
                            <div class="col-xs-3">
                                <img class="thumb img-responsive details" ng-src="{{ item.thumbnail_url }}"/>
                            </div>
                            <div class="col-xs-9">
                                <h3>{{ item.title }}</h3>
                                <p>{{ item.abstract|slice:"250"  }}<i>...read more</i></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="Layers">
                <div>
                    {% for item in layers %}
                    <div class="col-sm-12">
                        <div class="row boxFeature">
                            <div class="col-xs-3">
                                <a href="{{ item.detail_url }}">
                                    <img class="thumb img-responsive details" ng-src="{{ item.thumbnail_url }}"/>
                                </a>
                            </div>
                            <div class="col-xs-9">
                                <h3><a href="{{ item.detail_url }}">{{ item.title }}</a></h3>
                                <p>{{ item.abstract|slice:"250"  }}
                                    {% if item.abstract != 'No abstract provided' %}
                                    <a href="{{ item.detail_url }}"><i>...read more</i></a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="ShareLayer">
                <h3>Map Services</h3>
                <div class="embed">WMS 
                    <i class="fa fa-question-circle ng-scope" tooltip-append-to-body="true" tooltip-placement="top" tooltip="OpenGIS® Web Map Service Interface Standard"></i>
                    <input id="shareWMS" value ="http://{{ request.get_host }}/geoserver/geonode/{{ resource }}/wms?REQUEST=GetCapabilities&SERVICE=WMS&TILED=true&VERSION=1.1.1">
                    <button class="copyclip btn" data-clipboard-target="#shareWMS">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="embed"> WFS
                    <i class="fa fa-question-circle ng-scope" tooltip-append-to-body="true" tooltip-placement="top" tooltip="OGC® Web Feature Service"></i>
                    <input id="shareWFS" value ="http://{{ request.get_host }}/geoserver/geonode/{{ resource }}/wfs?REQUEST=GetCapabilities&SERVICE=WFS&VERSION=2.0.0">
                    <button class="copyclip btn" data-clipboard-target="#shareWFS">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </button>        
                </div>
            </div>
            <div class="tab-pane" id="ShareStory">
                <div class="embed">Share link:  
                    <input id="shareStory" value ="https://{{ request.get_host }}{% url 'mapstory.views.map_detail' resource.id %}">
                    <button class="copyclip btn" data-clipboard-target="#shareStory">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </button>
                </div>
                {% if resource.chapters %}
                <div class="embed"> Embed link: 
                    <input id="embedStory" value="<iframe style='border: none;' height='400' width='600' src='http://{{ request.get_host }}/story/{{ resource.id }}/embed'></iframe>">
                    <button  class="copyclip btn" data-clipboard-target="#embedStory">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </button>
                </div>
                {% endif %} 
            </div>
        </div>
    </div>
</div>