{% load i18n %}
{% load threadedcomments_tags %}
{% load fluent_comments_tags %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
{% load friendly_loader %}
{% load mapstory_tags %}
{% load flag_tags %}
{% friendly_load avatar_tags %}

<div ng-controller="detail_page_controller">
    <section class="slice" id="dashboard">
        <div class="container">
            <div class="row">
                {{ resource.tags }}
                <div class="col-lg-9" style="padding-right:15px;">
                    <h2 class="page-title">{{ resource.title }}</h2>
                    {% if resource.owner.first_name != '' %}
                        <small>Uploaded by: <a ng-href="/storyteller/{{ resource.owner.username }}" target="_blank">{{ resource.owner.first_name }} {{ resource.owner.last_name }}</a></small>
                    {% else %}
                        <small>Uploaded by: <a ng-href="/storyteller/{{ resource.owner.username }}" target="_blank">{{ resource.owner.username }}</a></small>
                    {% endif %}
                    <br>
                    <div id="embedded_map" class="mrg-btm">
                        <div id="preview_map"></div>
                    </div>
                    {% ifequal page "layer" %}
                        {% include "layers/layer_data.html" %}
                        {% else %}
                        {% ifequal page "map" %}
                            {% include "maps/map_data.html" %}
                            {% else %}
                        {% endifequal %}
                    {% endifequal %}
                    <br>
                </div>
                <div class="col-lg-3" style="padding:15px">
                    {% ifequal page "layer" %}
                        <a href="{% url "new_map" %}?layer={{ resource.service_typename }}" target="_blank">
                            <button class="btn btn-block btn-detailpage">Compose a mapstory</button>
                        </a>
                        <a href='{% url "map-edit" %}?layer={{ resource.service_typename }}&mode=edit' target="_blank">
                            <button class="btn btn-block btn-detailpage">Edit this storylayer</button>
                        </a>
                        <div class="side-column-header">StoryLayer Metadata</div>
                        {% else %}
                        {% ifequal page "map" %}
                            <button class="btn btn-block btn-detailpage">play fullscreen</button>
                            <div class="side-column-header">MapStory Properties</div>
                            {% else %}
                        {% endifequal %}
                    {% endifequal %}
                    <ul class="side-column-items">
                    {% if resource.owner.first_name != '' %}
                        <li><i class="fa fa-user"></i> <a ng-href="/storyteller/{{ resource.owner.username }}" target="_blank">{{ resource.owner.first_name }} {{ resource.owner.last_name }}</a></li>
                    {% else %}
                        <li><i class="fa fa-user"></i> <a ng-href="/storyteller/{{ resource.owner.username }}" target="_blank">{{ resource.owner.username }}</a></li>
                    {% endif %}
                        <li><i class="fa fa-plus"></i> {% trans "Uploaded on" %} {{ resource.date|date }}</li>
                        {% if resource.region_name_list|length > 0 %}
                            <li><i class="fa fa-globe"></i> {{ resource.region_name_list.0 }}</li>
                        {% endif %}
                        <li><i class="fa fa-book"></i> {{ resource.category }}</li>
                        <li><i class="fa fa-tags"></i>Tags:
                            <script type="text/javascript">
                                // Pass the keyword list from the django template into the javascript
                                var keyword_list = "{{resource.keyword_list|escapejs}}";
                                var url = "{{ resource.detail_url }}";
                            </script>
                            {% ifequal resource.owner request.user %}
                                <input type="text" class="form-control" id="tokenfield-tags"/>
                                {% verbatim %}
                                    <span class="label label-default" ng-show="tags.length > 10">{{ tags.length - 10 }} more</span>
                                {% endverbatim %}
                                <!-- TODO: Bug with this where the AJAX updates no longer match the keywords_form -->
                                <a href="#addTag" role="button" data-toggle="modal" style="hover: cursor;" ng-show="tags.length >= 10"><span
                                        class="label label-default">+ add more tags</span></a>
                                <div id="addTag" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">{% trans 'Add Tag' %}</h4>
                                            </div>
                                            <form name="keywords_form" method="POST" id="form_post_tag" action="{{ resource.detail_url }}">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    {{ keywords_form|as_bootstrap }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                    <button class="btn btn-primary" aria-hidden="true" id="tag_submit_btn"
                                                            type="submit">{% trans "Add Tags" %}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <input type="text" class="form-control" id="tokenfield-tags-readonly"/>
                                {% verbatim %}
                                    <span class="label label-default" ng-show="tags.length > 10">{{ tags.length - 10 }} more</span>
                                {% endverbatim %}
                            {% endifequal %}
                        </li>
                    </ul>
                    <div class="side-column-header">User Actions</div>
                    <ul class="side-column-items">
                        {% ifequal page "layer" %}
                            <li><i class="fa fa-paste"></i> <a ng-controller="ImportController" style="cursor: pointer"
                                                               ng-click="open(null, '{{ STATIC_URL }}osgeo_importer/partials/uploadWizard.html', '{{ STATIC_URL }}mapstory/img/mapstory-icon.png', '{{ STATIC_URL }}', '{{ resource.typename }}', '{{ shapefile_link }}','{{ csv_link }}')">{% trans 'Append Data' %}</a>
                            </li>
                            <div>
                                <li><i class="fa fa-flag"></i> <a href="#flag" role="button" data-toggle="modal" style="hover: cursor;">Flag
                                    content</a></li>
                                <div id="flag" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">{% trans 'Flag Content' %}</h4>
                                            </div>
                                            <div class="modal-body">
                                                {% flag resource 'owner' %}
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li>
                                <i class="fa fa-heart"></i>{% include "favorite/_favorite.html" with span_style="font-size:18px;color:#333" btn_style="font-size:18px;color:#333;border:none;background:none" %}
                            </li>
                            {% if resource.storeType != "remoteStore" %}
                                {% get_obj_perms request.user for resource.get_self_resource as "perms" %}
                                {% if links %}
                                    <li><i class="fa fa-download"></i> <a href="#" data-toggle="modal"
                                                                          data-target="#download-layer">{% trans "Download Layer" %}</a></li>
                                {% endif %}
                            {% endif %}
                            <div class="modal fade" id="download-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{% trans "Download Layer" %}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% if links %}
                                                <ul>
                                                    {% for link in links %}
                                                        <li><a href="{{ link.url }}" class="download-link" data-extension="{{ link.name }}"
                                                               data-id="{{ resource.id }}">{% trans link.name %}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If the owner is this user, or it is a content moderator, make a button visible which spawns a modal to modify the metadata -->
                            {% if content_moderators in user.groups.all or user == resource.owner %}
                                <li><i class="fa fa-edit"></i> <a href="#metaForm" data-toggle="modal">{% trans "Update StoryLayer Settings" %}</a>
                                </li>
                                <li><i class="fa fa-edit"></i> <a
                                        href="{% url "layer_remove" resource.service_typename %}">{% trans "Delete StoryLayer" %}</a></li>
                                <div id="metaForm" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">{% trans 'Edit Metadata' %}</h4>
                                            </div>
                                            <form name="metadata_form" method="POST" id="form_post_metadata"
                                                  action="{{ resource.detail_url }}">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    {{ metadata_form|as_bootstrap }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                    <button class="btn btn-primary" aria-hidden="true" id="metadata_submit_btn"
                                                            type="submit">{% trans "Save" %}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% else %}
                            {% ifequal page "map" %}
                                <div>
                                    <li><i class="fa fa-flag"></i> <a href="#flag" role="button" data-toggle="modal"
                                                                      style="hover: cursor;">{% trans 'Flag Content' %}</a></li>
                                    <div id="flag" class="modal fade" tabindex="-1" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">{% trans 'Flag Content' %}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {% flag resource 'owner' %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <li>
                                    <i class="fa fa-heart"></i>{% include "favorite/_favorite.html" with span_style="font-size:18px;color:#333" btn_style="font-size:18px;color:#333;border:none;background:none" %}
                                </li>
                                {% else %}
                            {% endifequal %}
                        {% endifequal %}
                        <li><a href="{% url "message_create" resource.owner.pk %}"><span style="color:orange">message</span></a></li>
                    </ul>
                    <div class="side-column-header">Usage Summary</div>
                    <ul class="side-column-items">
                        {% ifequal page "layer" %}
                            <article id="rate">
                                {% if request.user.is_authenticated %}
                                    <li>
                                        {% trans "Rate:" %} {% user_rating request.user resource "layer" as user_layer_rating %}
                                        {% user_rating request.user resource "layer" as user_layer_rating %}
                                        <div style="display:inline" id="user_rating" class="category-layer"
                                             data-score="{{ user_layer_rating }}"></div>
                                    </li>

                                {% endif %}
                            </article>
                            <li>{% trans "Average:" %} {% if resource.rating %}{{ resource.rating }}/5{% else %}Not yet rated{% endif %}</li>
                            <li><i class="fa fa-eye"></i> {{ resource.popular_count }} views</li>
                            <!--<li><i class="fa fa-heart"></i> {{ resource.favorites }} favorites</li>-->
                            <!--<li><i class="fa fa-pencil"></i> community edits</li>-->
                            {% else %}
                            {% ifequal page "map" %}
                                <!--<li>Rating</li>-->
                                <li><i class="fa fa-eye"></i> {{ resource.popular_count }} {% trans 'views' %}</li>
                                <!--<li><i class="fa fa-heart"></i> favorites</li>-->
                                {% else %}
                            {% endifequal %}
                        {% endifequal %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
{% include "favorite/_favorite_js.html" %}