{% load i18n %}
{% load threadedcomments_tags %}
{% load fluent_comments_tags %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}
{% load friendly_loader %}
{% load mapstory_tags %}
{% load flag_tags %}
{% friendly_load avatar_tags %}
<div ng-controller="detail_page_controller">
    <section class="slice" id="dashboard">
        <div class="container">
            <div class="row">
                {{ resource.tags }}
                <div class="col-lg-9">
                    <div id="embedded_map" class="mrg-btm">
                        <div id="preview_map"></div>
                    </div>
                    {% include "detail_data.html" with page=page %}
                </div>
                <div class="col-lg-3 side-column details">

                    {% ifequal page "layer" %}
                        <a href="{% url "new_map" %}?layer={{ resource.service_typename }}" target="_blank">
                            <button class="btn btn-block btn-detailpage">{% trans "Compose Story" %}</button>
                        </a>

                        {% if request.user.is_authenticated %}
                            {% get_obj_perms request.user for resource.get_self_resource as "perms" %}
                            {% if "change_resourcebase" in perms %}
                                <a href='{% url "map-edit" %}?layer={{ resource.service_typename }}&mode=edit' target="_blank">
                                    <button class="btn btn-block btn-detailpage">
                                        {% trans "Edit this layer" %}
                                    </button>
                                </a>
                            {% endif %}
                        {% endif %}
                        <a ng-controller="ImportController" style="cursor: pointer"
                           ng-click="open(null, '{{ STATIC_URL }}mapstory/partials/uploadWizard.html', '{{ STATIC_URL }}mapstory/img/mapstory-icon.png', '{{ STATIC_URL }}', '{{ default_layer_config }}', '{{ resource.typename }}', '{{ shapefile_link }}','{{ csv_link }}')">
                            <button class="btn btn-block btn-detailpage">
                                {% trans 'Append Data' %}
                            </button>
                        </a>

                        <div class="side-column-header">{% trans "StoryLayer Properties" %}</div>
                    {% endifequal %}

                    {% ifequal page "map" %}
                        {% verbatim %}
                        <button class="btn btn-block btn-detailpage" ng-click="toggleFullScreen()"> play fullscreen</button>{% endverbatim %}
                        {% if user == resource.owner %}
                        <a ng-href="/story/{{ resource.id }}/draft" target="_blank">
                            <button class="btn btn-block btn-detailpage">
                                <i class="fa fa-pencil"></i>
                                {% if resource.is_published %} Change Published {{SITE_NAME}} 
                                {% else %} Resume Draft 
                                {% endif %}
                            </button>
                        </a>
                        {% endif %}
                        <div class="side-column-header">{% trans "Story Properties" %}</div>
                    {% endifequal %}

                    <ul class="side-column-items">
                        <li>
                            <i class="fa fa-user"></i>
                            <a ng-href="/storyteller/{{ resource.owner.username }}" target="_blank">
                                {% if resource.owner.first_name != '' %}
                                    {{ resource.owner.first_name }} {{ resource.owner.last_name }}
                                {% else %}
                                    {{ resource.owner.username }}
                                {% endif %}
                            </a>
                        </li>
                        <li><i class="fa fa-plus"></i> {% trans "Uploaded on" %} {{ resource.date|date }}</li>
                        <li><i class="fa fa-book"></i> {{ resource.category }}</li>
                        <li><i class="fa fa-tags"></i>Tags:
                            <script type="text/javascript">
                                // Pass the keyword list from the django template into the javascript
                                var keyword_list = "{{ resource.keyword_list|escapejs }}";
                                var url = "{{ resource.detail_url }}";
                            </script>
                            {% if user.is_authenticated %}
                                <input type="text" class="form-control" id="tokenfield-tags"/>
                                {% verbatim %}
                                    <span class="label label-default" ng-show="tags.length > 10">{{ tags.length - 10 }} more</span>
                                {% endverbatim %}
                                <!-- TODO: Bug with this where the AJAX updates no longer match the keywords_form -->
                                <a href="#addTag" role="button" data-toggle="modal" style="hover: cursor;" ng-show="tags.length >= 10">
                                    <span class="label label-default">+ add more tags</span>
                                </a>
                                <div id="addTag" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">{% trans 'Add Tag' %}</h4>
                                            </div>

                                            <form name="keywords_form" method="POST" id="form_post_tag" action="{{ resource.detail_url }}">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    {{ keywords_form|as_bootstrap }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                                                        {% trans "Cancel" %}
                                                    </button>
                                                    <button class="btn btn-primary" aria-hidden="true" id="tag_submit_btn" type="submit">
                                                        {% trans "Add Tags" %}
                                                    </button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <input type="text" class="form-control" id="tokenfield-tags-readonly"/>
                                {% verbatim %}
                                    <span class="label label-default" ng-show="tags.length > 10">{{ tags.length - 10 }} more</span>
                                {% endverbatim %}
                            {% endif %}
                        </li>
                    </ul>
                    <div class="side-column-header">User Actions</div>
                    <ul class="side-column-items">
                        <li><i class="fa fa-flag"></i>
                            <a href="#flag" role="button" data-toggle="modal" style="hover: cursor;">Flag content</a>
                        </li>
                        {% include '_flag_content.html' %}
                        {% ifequal page "layer" %}
                            <li><i class="fa fa-heart"></i>{% include "favorite/_favorite.html" %}
                                {% if resource.storeType != "remoteStore" %}
                                    {% get_obj_perms request.user for resource.get_self_resource as "perms" %}
                                    {% if links %}
                                        <li><i class="fa fa-download"></i>
                                            <a href="#" data-toggle="modal" data-target="#download-layer">{% trans "Download Layer" %}</a>
                                        </li>
                                    {% endif %}
                                    {% include "layers/_download_modal.html" %}
                                {% endif %}
                            <!-- If the owner is this user, or it is a content moderator, make a button visible which spawns a modal to modify the metadata -->
                            {% if content_moderators in user.groups.all or user == resource.owner %}
                                <li>
                                    <i class="fa fa-edit"></i>
                                    <a href="#metaForm" data-toggle="modal">
                                        {% trans "Update Metadata" %}
                                    </a>
                                </li>
                                {% include "layers/_meta_modal.html" %}
                                <li>
                                    <i class="fa fa-trash"></i>
                                    <a href="{% url "layer_remove" resource.service_typename %}">
                                        {% trans "Delete Layer" %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endifequal %}
                        {% ifequal page "map" %}
                            {% if content_moderators in user.groups.all or user == resource.owner %}
                                <li>
                                    <i class="fa fa-trash"></i>
                                    <a href="{% url "mapstory.views.map_remove" resource.id %}">
                                        {% trans "Delete Story" %}
                                    </a>
                                </li>
                            {% endif %}
                            <!--   Stashing favorites until impletmented for story types -->
                            {% if THEME == 'orange' %}
                                <li><i class="fa fa-heart"></i>{% include "favorite/_favorite.html" %}</li>
                            {% endif %}
                        {% endifequal %}
                        {% if content_moderators in user.groups.all or user == resource.owner %}
                            <li>
                              <a href="{{ thumbnail }}"><img ng-src="{{ thumbnail }}" src="{{ thumbnail }}" id="change-thumbnail-image"></a>
                              <br>
                              <form action="" method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <p>{{ thumb_form.non_field_errors }}</p>
                                  <p>{{ thumb_form.docfile.label_tag }} </p>
                                  <p>
                                      {{ thumb_form.thumbnail_image.errors }}
                                      {{ thumb_form.thumbnail_image }}
                                  </p>
                                  <button style="width:200px" class="btn btn-primary btn-md btn-block" type="submit">
                                    Change Image
                                  </button>
                              </form>
                            </li>
                        {% endif %}
                        <!--   Stashing messaging until profile redirect is solved -->
                        {% if THEME == 'orange' %}
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <a href="{% url "message_create" resource.owner.pk %}">
                                    Message
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="side-column-header">Usage Summary</div>
                    <ul class="side-column-items">
                        {% ifequal page "layer" %}
                            <article id="rate">
                                {% if request.user.is_authenticated %}
                                    <li>
                                        {% trans "Rate:" %} {% user_rating request.user resource "layer" as user_layer_rating %}
                                        {% user_rating request.user resource "layer" as user_layer_rating %}
                                        <div style="display:inline" id="user_rating" class="category-layer"
                                             data-score="{{ user_layer_rating }}"></div>
                                    </li>
                                {% endif %}
                            </article>
                            <li>
                                {% trans "Average Rating:" %}
                                {% if resource.rating %}
                                    {{ resource.rating }}/5 stars
                                {% else %}
                                    Not yet rated
                                {% endif %}
                            </li>
                        {% endifequal %}
                        <li><i class="fa fa-eye"></i> {{ resource.popular_count }} {% trans 'views' %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>