{% load webdesign %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load mapstory_tags %}
{% load cache %}
{% load avatar_tags %}
<section class="slice howto">
    <div class="container">
        <div class="row">
            <h1 class="text-center">{% trans "MapStory How-To" %}</h1>
            <h3 class="text-center">Organizations like these drive innovation in the {{ SITE_NAME }} codebase, content and community.
                {% if THEME == 'orange' %}
                    <a href="{% url 'donate' %}">
                        {% trans "Join them." %}</a>
                {% endif %}
            </h3>
        </div>
        <hr/>
        <div class="row">
            <slice infinite="true" slides-to-show="6" autoplay="true">
                {% for sponsor in sponsors %}
                    <div class="col-sm-2">
                        <a href="{{ sponsor.link }}">
                            <img src="{{ sponsor.url }}" alt="{{ sponsor.name }} - {{ sponsor.description }}">
                        </a>
                    </div>
                    {% empty %}
                    <p>{% trans "No Sponsors." %} {% trans "Add" %} <a href="{% url 'admin:mapstory_sponsor_add' %}">{% trans "some" %}</a></p>
                {% endfor %}
            </slice>
        </div>
    </div>
</section>
<section class="parallax">
    <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Parallax2' }});"></div>
</section>