{% extends "site_base.html" %}
{% load webdesign %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load mapstory_tags %}
{% load cache %}

{% block extra_head %}
<!--<link href="{{ STATIC_URL }}vendor/isotope/css/style.css" rel="stylesheet" />-->
<link href="{{ STATIC_URL }}mapstory/css/index.css" rel="stylesheet" />
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}vendor/modernizr/modernizr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery.stellar/jquery.stellar.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/isotope/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mapstory/js/index.js"></script>
<script type="text/javascript">
    /* Script for keywords autocomplete */
    var homepage_autocomplete = $('#homepage_search').yourlabsAutocomplete({
          url: '{% url "autocomplete_light_autocomplete" "TagAutocomplete" %}',
          choiceSelector: 'span',
          hideAfter: 200,
          minimumCharacters: 1,
          appendAutocomplete: $('#homepage_search'),
          placeholder: gettext('Enter keyword here ...')
    });
    $('#homepage_search').bind('selectChoice', function(e, choice, homepage_autocomplete) {
          if(choice[0].children[0] == undefined) {
              $('#homepage_search').val(choice[0].innerHTML);
              $scope.keyword_query = choice[0].innerHTML;
          }
    });
    // Fix placeholder text for Home Page Search
    $(function() {
        $('#homepage_search').attr('placeholder','Explore MapStories and StoryLayers');
    });
</script>
{% endblock %}

{% block middle %}

    <section id="topParallax">
        <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Africa' }}); height: 600px;"></div>
    </section>

    <section class="slice" id="welcome" style="margin-top:-250px;">
        <div class="container">
            <div class="row" style="padding-top:-10px;">
                <div class="col-sm-12">
                    <h1 class="text-center">The atlas of change that everyone can edit.</h1>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;">
                <div class="input-group col-sm-6 col-sm-offset-3">
                    <form action="{% url "search" %}">
                        <div class="input-group">
                        {% if HAYSTACK_SEARCH %}
                        <input class="form-control" id="homepage_search" type="text" name="q" style="color:chocolate;background-color:whitesmoke;border:1px solid white">
                        {% else %}
                        <input class="form-control" id="homepage_search" type="text" name="keywords__slug__in" style="color:chocolate;background-color:whitesmoke;border:1px solid white">
                        {% endif %}
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit" style="background-color:chocolate;color:white;border:1px solid white"><i class="fa fa-search"></i></button>
                        </span>
                        </div>
                    </form>
               </div>
            </div>
            <div class="row links" style="padding-top:15px;padding-bottom:5px;">
                <div class="col-sm-3">
                    <h3>
                        <a href="{% url 'account_signup' %}">
                            Sign up now
                        </a>
                    </h3>
                </div>
                <div class="col-sm-3">
                    <h3>
                        <a href="{% url 'layer_upload' %}">
                            Upload StoryLayers
                        </a>
                    </h3>
                </div>
                <div class="col-sm-3">
                    <h3>
                        <a href="{% url 'story_create' %}">
                            Create MapStories
                        </a>
                    </h3>
                </div>
                <div class="col-sm-3">
                    <h3>
                        <a href="#">
                            Learn more
                        </a>
                    </h3>
                </div>
            </div>
            <div class="row" style="padding-bottom:5px;">
                <div class="localscroll" style="text-align:center">
                    <!-- TODO: Link to mapstories is the section that doesn't exist yet -->
                    <a href="#mapstories" class="btn btn-circle btn-sm btn-default" style="background-color:#BD5E1B;color:white;border:1px solid transparent;border-radius:25%">
                    <i class="icon-down" id="mapstories"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- TODO: Implement the functionality of this section: This requires the new categories to be implemented. -->
    <section class="slice">
        <div class="container">
            <nav id="filter" class="col-md-12 text-center" style="text-align:center">
                <ul class="nav nav-tabs" >
                    <!-- Crisis, Geopolitics, Science & Industry, Human Settlement, Culture & Ideas, Nature & Environment, Health, Biology -->
                    <li><a href="" class="btn btn-filter btn-sm sectionTab">All MapStories</a></li>
                    <li><a href="" class="btn btn-filter btn-sm sectionTab">Crisis</a></li>
                    <li><a href="" class="btn btn-filter btn-sm sectionTab">Geopolitics</a></li>
                    <li><a href="" class="btn btn-filter btn-sm sectionTab">Science & Industry</a></li>
                    <li><a href="" class="btn btn-filter btn-sm sectionTab">Human Settlement</a></li>
                    <li><a href="" class="btn btn-filter btn-sm sectionTab">Culture & Ideas</a></li>
                    <li><a href="" class="btn btn-filter btn-sm sectionTab">Nature & Environment</a></li>
                    <li><a href="" class="btn btn-filter btn-sm sectionTab">Health</a></li>
                    <li><a href="" class="btn btn-filter btn-sm sectionTab">Biology</a></li>
                </ul>
            </nav>
            <div class="row">
                <!-- TODO: Might need to fix up formatting later -->
                <div class="col-sm-8">
                    {% for item in featured_items %}
                    <a href="{{ item.detail_url}}"><img class="thumb img-responsive" ng-src="{{ item.thumbnail_url}}"/></a>
                    <h3><a href="{{ item.detail_url}}">{{ item.title}}</a></h3>
                    <!-- TODO: What should read more do? -->
                    <h5 class="abstract">{{ item.abstract }}<a href="#"> <i>...read more</i></a></h5>
                    <h4><span class="owner">{{ item.owner.username}}</span></h4>
                    {% empty %}
                    <p>No Featured Items...</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="parallax">
        <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Parallax1' }});"></div>
    </section>

    <section class="slice" id="getstarted">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="csection-text">
                        <h1>Get Started</h1>
                        <h3>MapStory is an open platform for organizing our collective knowledge about how the world changes over time and space. Click on a link to the right, and learn how you can start contributing observations of your own.
                        </h3>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row" style="padding:20px">
                        <div class="col-sm-3 photobox">
                            <a href="{% url 'getpage' 'started' %}#Students"><img class="rdphoto" src="{% remote_content 'static_img/students.png' %}"></a>
                            <h5 class="text-center">Students</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <a href="{% url 'getpage' 'started' %}#Educators"><img class="rdphoto" src="{% remote_content 'static_img/teachers.png' %}"></a>
                            <h5 class="text-center">Educators</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <a href="{% url 'getpage' 'started' %}#Humanitarians"><img class="rdphoto" src="{% remote_content 'static_img/humanitarians.png' %}"></a>
                            <h5 class="text-center">Humanitarians</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <a href="{% url 'getpage' 'started' %}#Businesspeople"><img class="rdphoto" src="{% remote_content 'static_img/business.png' %}"></a>
                            <h5 class="text-center">Businesspeople</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <a href="{% url 'getpage' 'started' %}#Librarians"><img class="rdphoto" src="{% remote_content 'static_img/librarians.png' %}"></a>
                            <h5 class="text-center">Librarians</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <a href="{% url 'getpage' 'started' %}#Researchers"><img class="rdphoto" src="{% remote_content 'static_img/researchers.png' %}"></a>
                            <h5 class="text-center">Researchers</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <a href="{% url 'getpage' 'started' %}#Policymakers"><img class="rdphoto" src="{% remote_content 'static_img/policy.png' %}"></a>
                            <h5 class="text-center">Policy Makers</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <a href="{% url 'getpage' 'started' %}#Journalists"><img class="rdphoto" src="{% remote_content 'static_img/journalist.png' %}"></a>
                            <h5 class="text-center">Journalists</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="parallax">
        <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Parallax1' }});"></div>
    </section>

    <section class="slice" id="getinvolved">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row" style="padding:20px">
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/initiative.jpeg' %}">
                            <h5 class="text-center">Host a Channel</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/share.jpg' %}">
                            <h5 class="text-center">Launch an Initiative</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/launch.jpg' %}">
                            <h5 class="text-center">Share your Skills</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/edit.jpg' %}">
                            <h5 class="text-center">Become an Editor</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/chapter.jpg' %}">
                            <h5 class="text-center">Found a Chapter</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/code.jpg' %}">
                            <h5 class="text-center">Code for MapStory</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/initiative.jpeg' %}">
                            <h5 class="text-center">Organize an Event or Training</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/edit.jpg' %}">
                            <h5 class="text-center">Become a Sponsor</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="csection-text">
                        <h1>Get Involved</h1>
                        <h3>Join with your neighbors, or collaborators on another continent, to launch initiatives, help others, write code and govern the mapstory.org platform. We’re a community, not a company.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="parallax">
        <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Parallax2' }});"></div>
    </section>
                
    <section class="slice" id="getskills">
        <div class="container">
                <h1>Get Skills</h1>
                <h3>MapStory is for everyone, not just web developers and GIS experts. We work hard to get you the help you need to improve and succeed.
                </h3>
            <br/>
            <div class="row">
                <div class="col-sm-4">
                    <img class="rdphoto" src="{% remote_content 'static_img/101.png' %}">
                    <a href="{% url 'getpage' 'skills' %}"><h2>1. MapStory 101</h2></a>
                    <h5>Learn all the basic skills you need to start collecting data and creating MapStories of your own.</h5>
                </div>
                <div class="col-sm-4">
                    <img class="rdphoto" src="{% remote_content 'static_img/wiki.png' %}">
                    <a href="http://wiki.mapstory.org"><h2>2. MapStory Wiki</h2></a>
                    <h5>Find and share more resources alongside the global MapStory community.</h5>
                </div>
                <div class="col-sm-4">
                    <img class="rdphoto" src="{% remote_content 'static_img/help.png' %}">
                    <h2>3. Help Center</h2>
                    <h5>Ask questions, find answers, and help others.</h5>
                </div>
                </div>
        </div>
    </section>

    <section class="parallax">
        <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Parallax3' }});"></div>
    </section>
                
    <section class="slice" id="thinkers">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row" style="padding:20px">
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/avatar.jpg' %}">
                            <h5 class="text-center">Mafalda Hopkirk</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/avatar.jpg' %}">
                            <h5 class="text-center">Lee Jordan</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/avatar.jpg' %}">
                            <h5 class="text-center">Millicent Bullstrode</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/avatar.jpg' %}">
                            <h5 class="text-center">Penelope Clearwater</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/avatar.jpg' %}">
                            <h5 class="text-center">Nymphadora Tonks</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/avatar.jpg' %}">
                            <h5 class="text-center">Remus Lupin</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/avatar.jpg' %}">
                            <h5 class="text-center">Seamus Finnigan</h5>
                        </div>
                        <div class="col-sm-3 photobox">
                            <img class="rdphoto" src="{% remote_content 'static_img/avatar.jpg' %}">
                            <h5 class="text-center">Xenophilius Lovegood</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h1>Thinkers and Thoughts</h1>
                    <h3>The latest insights from leading MapStorytellers. For more, visit the <a href="{% url 'diary' %}">Community Journal</a>
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <section class="parallax">
        <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Parallax1' }});"></div>
    </section>

    <section class="slice" id="news">
        <div class="csection">
            <div class="row">
                <h1 class="text-center">MapStory projects making the news</h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a class="twitter-timeline" href="https://twitter.com/MapStory" data-widget-id="517343764738621440">Tweets by @MapStory</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div class="col-sm-8">
                    {% for item in news_items %}
                    <h3><strong>{{ item.title }}</strong> <small class="pull-right">{{ item.date }}</small></h3>
                    <hr>
                    {{ item.html|safe  }}
                    {% empty %}
                    <p>No News Items. Add <a href="{% url 'admin:mapstory_newsitem_add' %}">some</a>
                    {% endfor %}
                </div>
            </div>
            <!-- TODO: What was this supposed to be?
            <div class="row">
                <div class="qlink-right qlink-fb">[p_a_g_i_n_a_t_i_o_n l_i_n_k_s h_e_r_e]</div>
            </div>
            -->
        </div>
    </section>

    <section class="parallax">
        <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Parallax2' }});"></div>
    </section>

    <section class="slice" id="community">
        <div class="container">
            <div class="row">
                <h1 class="text-center">Community Initiatives</h1>
            </div>
            <hr/>
            <div class="row">
                {% for community in communities %}
                <div class="col-sm-2">
                    <img class="rdphoto" src="{{ community.url }}" alt="{{ community.name }} - {{ community.description }}">
                </div>
                {% empty %}
                <!-- TODO: Update this -->
                <p>No communities...</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="parallax">
        <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Parallax3' }});"></div>
    </section>

    <section class="slice" id="sponsors">
        <div class="container">
            <div class="row">
                <h1 class="text-center">Our Sponsors</h1>
                <h3 class="text-center">Learning institutions like these drive innovation in the MapStory codebase, content and community. <a href="{% url 'donate' %}">Join them.</a>
                </h3>
            </div>
            <hr/>
            <div class="row">
                {% for sponsor in sponsors %}
                <div class="col-sm-2">
                    <img src="{{ sponsor.url }}" alt="{{ sponsor.name }} - {{ sponsor.description }}">
                </div>
                {% empty %}
                <p>No Sponsors. Add <a href="{% url 'admin:mapstory_sponsor_add' %}">some</a>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="parallax" style="margin-bottom:-40px;">
        <div data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" style="background-image: url({{ images|by_name:'Parallax1' }});"></div>
    </section>

{% endblock %}
