{% extends "site_base.html" %}
{% load i18n %}
{% load mapstory_tags %}{# mapstory/templatetags/mapstory_tags.py, only used here for images|byname filter parallax #}

{% block middle %}
<div class="outer-container">
<!--MAP-->
<section class="map-section" >
    <div class="map-wrapper" style="background-image: url('{{ STATIC_URL }}/mapstory/img/hero_img_fallback.png');">
        <div class="video">
            <video  autoplay="autoplay" loop="loop" muted="">
                <source src='{{ STATIC_URL }}/mapstory/img/demo.mp4' type="video/mp4" />
            </video>
        </div>

        <div class="hero-circle">
            <div class="hero-content">
                <h1>The atlas of change that everyone can edit</h1>
                {# {{ site.assets.subtitle }} #}
                <p><b>Working together, we're mapping the world as it evolves geographically,
                    at local, regional and global scales. Join us!</b></p>
                    <div class="main_call_to_action_button hero-button">
                    {% if not user.is_authenticated %}
                        <a href="#" data-toggle="modal" data-target="#loginModal">
                            <button class="button button-style-1" style="vertical-align:middle"><span>SIGN UP </span></button>
                        </a>
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>
</section>
<!--FEATURED-->
<section class="featured-section">
    <div class="featured-wrapper">
        <div class="featured-container">
            <h1><b>Featured MapStories from Across the Community</b></h1>
            <div class="card_row">
                <div class="card">
                    <a href="https://mapstory.org/story/21510">
                        <div class="img-container">
                            <img src="{{ STATIC_URL }}mapstory/img/story01.png" style="width:100%" align="left">
                        </div>
                        <div class="card-container">
                            <p class="card-category">NATURE & ENVIRONMENT</p>
                            <p class="card-title"><b>Fracking Sites in West Virginia</b></p>
                            <a href="https://mapstory.org/storyteller/hwinscot"><p class="card-author">Holly Winscott</p></a>
                            <p class="card-meta">Created January 13, 2017</p>
                            <p class="card-meta">2,382 views</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://mapstory.org/story/21977">
                        <div class="img-container">
                            <img src="{{ STATIC_URL }}mapstory/img/story02.png" style="width:100%" align="left">
                        </div>
                        <div class="card-container">
                            <p class="card-category">GEOPOLITICS</p>
                            <p class="card-title"><b>United States Civil War</b></p>
                            <a href="https://mapstory.org/storyteller/jeffmeyer"><p class="card-author">Jeff Meyer</p></a>
                            <p class="card-meta">Created March 17, 2016</p>
                            <p class="card-meta">11,292 views</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card_row">
                <div class="card">
                    <a href="https://mapstory.org/story/21133">
                        <div class="img-container">
                            <img src="{{ STATIC_URL }}mapstory/img/story03.png" style="width:100%" align="left">
                        </div>
                        <div class="card-container">
                            <p class="card-category">GEOPOLITICS</p>
                            <p class="card-title"><b>Evolution of Congressional Districts in North Carolina
                                1789-2012</b></p>
                            <a href="https://mapstory.org/storyteller/jdavis15/"><p class="card-author">Jonathan Davis</p></a>
                            <p class="card-meta">Created February 25, 2017</p>
                            <p class="card-meta">4 views</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://mapstory.org/story/21037">
                        <div class="img-container">
                            <img src="{{ STATIC_URL }}mapstory/img/story04.png" style="width:100%" align="left">
                        </div>
                        <div class="card-container">
                            <p class="card-category">NATURE & ENVIRONMENT</p>
                            <p class="card-title"><b><i>Karenis Brevis</i> in Florida</b></p>
                            <a href="https://mapstory.org/storyteller/kpole/"><p class="card-author">Sebastian Forsard</p></a>
                            <p class="card-meta">Created November 27, 2016</p>
                            <p class="card-meta">492 views</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card_row">
                <div class="card">
                    <a href="https://mapstory.org/story/20868">
                    <div class="img-container">
                        <img src="{{ STATIC_URL }}mapstory/img/story05.png" style="width:100%" align="left">
                    </div>
                    <div class="card-container">
                        <p class="card-category">CRISIS</p>
                        <p class="card-title"><b>Village Destruction in the Darfur Region</b></p>
                        <a href="https://mapstory.org/storyteller/everett"><p class="card-author">Everett Lasher</p></a>
                        <p class="card-meta">Created January 13, 2017</p>
                        <p class="card-meta">2,382 views</p>
                    </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://mapstory.org/story/20881">
                    <div class="img-container">
                        <img src="{{ STATIC_URL }}mapstory/img/story06.png" style="width:100%" align="left">
                    </div>
                    <div class="card-container">
                        <p class="card-category">NATURE & ENVIRONMENT</p>
                        <p class="card-title"><b>Earhquake and Volcano Fatalities: a sample</b></p>
                        <a href="https://mapstory.org/storyteller/satmaraman/"><p class="card-author">Shobana Atmaraman</p></a>
                        <p class="card-meta">Created March 17, 2016</p>
                        <p class="card-meta">11,292 views</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="call_to_action_button">
                <a href="{%  url 'search' %}">
                    <button class="button button-style-2" style="vertical-align:middle"><span>SEE MORE </span></button>
                </a>
            </div>
        </div>
    </div>
</section>
<!--HOW-->
<section class="how-section">
    <div class="how-wrapper">
        <h1><b>How It Works</b></h1>
        <div class="box-container">
            <div class="how-box">
                <div class="how-icon">
                    <img src="{{ STATIC_URL }}mapstory/img/icon_upload.png" />
                </div>
                <div class="how-content">
                    <h4><b>Upload StoryLayers</b></h4>
                    <p>Upload datasets as StoryLayers or, if you don't have data to upload,
                    generate new StoryLayers from scratch.</p>
                </div>
            </div>
            <div class="how-box">
                <div class="how-icon">
                    <img src="{{ STATIC_URL }}mapstory/img/icon_edit.png"/>
                </div>
                <div class="how-content">
                    <h4><b>Edit StoryLayers</b></h4>
                    <p>Edit StoryLayers shared by the community to make them as
                        complete and accurate as possible.</p>
                </div>
            </div>
            <div class="how-box">
                <div class="how-icon">
                    <img src="{{ STATIC_URL }}mapstory/img/icon_compose.png" />
                </div>
                <div class="how-content">
                    <h4><b>Compose MapStories</b></h4>
                    <p>Compose MapStories by combining StoryLayers with text, images and video and
                        then share them with a global audience.</p>
                </div>
            </div>
        </div>
        <div class="call_to_action_button how_button">
            {% if not user.is_authenticated %}
            <a href="#" data-toggle="modal" data-target="#loginModal">
                <button class="button button-style-1" style="vertical-align:middle"><span>SIGN UP </span></button>
            </a>
            {% endif %}
        </div>
    </div>
</section>
<!--CONTRIBUTE-->
<section class="contribute-section">
    <div class="section-wrapper">
        <div class="image-content">
            <img src="{{ STATIC_URL }}mapstory/img/global_data_commons.png" class="img-circle">
        </div>
        <div class="text-content">
            <h1><b>Contribute to the global data commons</b></h1>
            <p>Put your data in a place where it can live accessible to all, in perpetuity, without
                being subject to commercial influence.</p>
            <div class="call_to_action_button">
                <a href="/getstarted">
                    <button class="button button-style-2" style="vertical-align:middle"><span>LEARN MORE </span></button>
                </a>
            </div>
        </div>
    </div>
</section>
<!--SHARE-->
<section class="share-section">
    <div>
        <div class="text-content">
            <h1><b>Share your expertise through edits</b></h1>
            <p>Curate the accuracy and quality of StoryLayers by adding ratings,
                checking metadata, making comments and committing version edits.</p>
            <div class="call_to_action_button">
                <a href="/getstarted">
                    <button class="button button-style-2" style="vertical-align:middle"><span>LEARN MORE </span></button>
                </a>
            </div>
        </div>
        <div class="image-content">
            <img src="{{ STATIC_URL }}mapstory/img/expertise_through_edits.png" />
        </div>
    </div>
</section>
<!--LIFE-->
<section class="to-life-section">
    <div>
        <div class="image-content">
            <img src="{{ STATIC_URL }}mapstory/img/map_small_fallback.png" />
        </div>
        <div class="text-content">
            <h1><b>Bring your story to life</b></h1>
            <p>Combine StoryLayers with narrative elements like images, text and video
                to compose MapStories that explain how and why change occurs. No coding required.</p>
            <div class="call_to_action_button">
                <a href="/getstarted">
                        <button class="button button-style-2" style="vertical-align:middle"><span>LEARN MORE </span></button>
                </a>
            </div>
        </div>
    </div>
</section>
<!--MORE-->
<section class="more-section clearfix">
    <div class="more-wrapper" style="background-image: url('{{ STATIC_URL }}/mapstory/img/bg_topography.png');">
        <div>
            <p>The more we all know about the story of our planet, the more likely
                we are to treat it, and each other well. Sign up, and become a mapstoryteller today.</p>
        </div>
        <div class="call_to_action_button">
            {% if not user.is_authenticated %}
            <a href="#" data-toggle="modal" data-target="#loginModal">
                <button class="button button-style-1" style="vertical-align:middle"><span>SIGN UP </span></button>
            </a>
            {% endif %}
        </div>
    </div>
</section>

<section class="s-sponsor-section clearfix">
    <div class="sponsors-container">
        <div class="sponsor-row">
            <div class="sponsor-img">
            </div>
            <div class="sponsor-img">
                <img src="{{ STATIC_URL }}mapstory/img/sponsor_dcpl.png"  />
            </div>
        </div>
        <div class="sponsor-row">
            <div class="sponsor-img">
            </div>
            <div class="sponsor-img">
                <img src="{{ STATIC_URL }}mapstory/img/sponsor_spatial.png" />
            </div>
        </div>
        <div class="sponsor-row">
            <div class="sponsor-img">
                <img src="{{ STATIC_URL }}mapstory/img/sponsor_sunlight.png" />
            </div>
        </div>
    </div>
    <div class="s-sponsor-content">
        <div class="sponsor-title">
            <p>Help us keep improving.</p>
        </div>
        <div class="sponsor-text">
            <p>We're a community, not a company. Help us keep improving by making a donation,
                or sign your organization up as a Sponsor.</p>
        </div>
        <div class="call_to_action_button donate-button">
            <a href="{% url 'donate' %}">
                <button class="button button-style-1" style="vertical-align:middle"><span>DONATE </span></button>
            </a>
        </div>
    </div>
</section>
</div>

<!-- NEWER HOME PAGE WITH ANGULAR MATERIAL GRID -->
<div>
    <!-- Tagline + Subtitle -->
    <section class="splash">
        <div class="backdrop" style="background-image: url('{{ STATIC_URL }}mapstory/img/hero_img_fallback.png');">
            <video  autoplay="autoplay" loop="loop" muted="">
                <source src='{{ STATIC_URL }}/mapstory/img/demo.mp4' type="video/mp4" />
            </video>
        </div>
    
        <div class="overlay circle">
            <div class="content">
                <div layout="column" layout-align="space-around start">
                    <h1>The atlas of change that everyone can edit</h1>
                        {# {{ site.assets.subtitle }} #}
                    <p> Working together, we're mapping the world as it evolves geographically, at local, regional and global scales. Join us!</p>
                    
                    {# if not user.is_authenticated #}
                        
                        <a href="#" data-toggle="modal" data-target="#loginModal">
                            <button class="button button-style-1">
                                <span>SIGN UP</span>
                            </button>
                        </a>

                    {# endif #}
                </div>
            </div>
        </div>
    </section>

    <!-- Featured Content -->
    <div layout="column" layout-align="start center" style="background-color: #F9F9F9">
        <h2>Featured MapStories from Across the Community</h2>

        <div layout="row" layout-sm="column" layout-xs="column">
              <div>
                I'm above on mobile, and to the left on larger devices.
              </div>
              <div>
                I'm below on mobile, and to the right on larger devices.
              </div>
        </div>

        <a href="/getstarted">
            <button class="button button-style-2">
                <span>SEE MORE </span>
            </button>
        </a>
    </div>

    <!-- How it Works -->
    <div layout="column" style="background-color: #E5E0D9;">
        <h2> How It Works </h2>

        <div layout="row" layout-xs="column">
            
            <div layout="column" layout-xs="row">
                <div style="height: 100px">
                    <img src="{{ STATIC_URL }}mapstory/img/icon_upload.png" style="max-width: 100%; max-height: 100%" />
                </div>
                <div >
                    <h3>Upload StoryLayers</h3>
                    Upload datasets as StoryLayers or, if you don't have data to upload, generate new StoryLayers from scratch.
                </div>
            </div>

            <div layout="column" layout-xs="row">
                <div style="height: 100px" >
                    <img src="{{ STATIC_URL }}mapstory/img/icon_edit.png" style="max-width: 100%; max-height: 100%" />
                </div>
                <div>
                    <h3>Edit StoryLayers</h3>
                    Edit StoryLayers shared by the community to make them as complete and accurate as possible.
                </div>
            </div>

            <div layout="column" layout-xs="row">
                <div style="height: 100px">
                    <img src="{{ STATIC_URL }}mapstory/img/icon_compose.png" style="max-width: 100%; max-height: 100%" />
                </div>
                <div>
                    <h3>Compose MapStories</h3>
                    Compose MapStories by combining StoryLayers with text, images and video and then share them with a global audience.
                </div>
            </div>

        </div>

  
        <a href="#" data-toggle="modal" data-target="#loginModal">
            <button class="button button-style-1">
                <span>SIGN UP </span>
            </button>
        </a>
    </div>

    <!-- Contribute -->
    <div layout="row" layout-xs="column" style="background-color: #F9F9F9">
        <div flex-gt-sm="40" flex="30"> 
            <img src="{{ STATIC_URL }}mapstory/img/global_data_commons.png" class="img-circle home-shadow" style="width: 90%">
        </div>
        <div layout="column">
            <h2>Contribute to the global data commons</h2>

            Put your data in a place where it can live accessible to all, in perpetuity, without being subject to commercial influence.
        
            <a href="/getstarted">
                <button class="button button-style-2">
                    <span>LEARN MORE </span>
                </button>
            </a>
        </div>
    </div>

    <!-- Expertise -->
    <div layout="row" layout-xs="column" style="background-color: #F9F9F9">  
        <div layout="column">

            <h2>Share your expertise through edits</h2>

            Curate the accuracy and quality of StoryTellers by adding ratings, checking metadata, making comments and commiting version edits.

            <a href="/getstarted">
                <button class="button button-style-2">
                    <span>LEARN MORE </span>
                </button>
            </a>
        </div>

        <div flex-gt-sm="40" flex="30"> 
            <img src="{{ STATIC_URL }}mapstory/img/expertise_through_edits.png" class="home-shadow" style="width: 90%"/>
        </div>
    </div>

    <!-- Bring to Life -->
    <div layout="row" layout-xs="column" style="background-color: #F9F9F9">
        <div flex-gt-sm="40" flex="30"> 
            <img src="{{ STATIC_URL }}mapstory/img/map_small_fallback.png" class="home-shadow" style="width: 90%">
        </div>
        <div layout="column">
            <h2>Bring your story to life</h2>

            Combine StoryLayers with narrative elements like images, text and video to compose MapStories that explain how and why change occurs. No coding required.
        
            <a href="/getstarted">
                <button class="button button-style-2">
                    <span>LEARN MORE </span>
                </button>
            </a>
        </div>
    </div>

    <div layout="column" style="background-image: url('{{ STATIC_URL }}/mapstory/img/bg_topography.png');">   
        <h2> The more we all know about the story of our planet, the more likely we are to treat it, and each other well. Sign up, and become a mapstoryteller today. </h2>
        
        <a href="#" data-toggle="modal" data-target="#loginModal">
            <button class="button button-style-1">
                <span>SIGN UP </span>
            </button>
        </a>
    </div>

    <!-- Sponsors -->
    <div layout="row" layout-xs="column" style="background-color: #BFB4A3;">      
        <div flex-gt-sm="50" layout="column">
            <img src="{{ STATIC_URL }}mapstory/img/sponsor_dcpl.png"  />
             <img src="{{ STATIC_URL }}mapstory/img/sponsor_spatial.png" />   
        </div>
        <div layout="column">
            <h3>Help us keep improving.</h3>
            We're a community, not a company. Help us keep improving by making a donation, or sign your organization up as a Sponsor.

            <a href="{% url 'donate' %}">
                <button class="button button-style-1">
                    <span>DONATE </span>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
