{% load i18n %}
<!-- Social Button HTML -->
<!-- Twitter -->
<a href="http://twitter.com/share?url={{ share_url | urlencode }}&text={{ share_title | urlencode }}&via=MapStory"
   target="_blank" class="share-btn twitter">
    <i class="fa fa-twitter"></i>
</a>
<!-- Google Plus -->
<a href="https://plus.google.com/share?url={{ share_url | urlencode }}" target="_blank" class="share-btn google-plus">
    <i class="fa fa-google-plus"></i>
</a>
<!-- Facebook -->
<a href="http://www.facebook.com/sharer/sharer.php?u={{ share_url | urlencode }}" target="_blank"
   class="share-btn facebook">
    <i class="fa fa-facebook"></i>
</a>
<!-- StumbleUpon (url, title) -->
<a href="http://www.stumbleupon.com/submit?url={{ share_url | urlencode }}&title={{ share_title | urlencode }}"
   target="_blank" class="share-btn stumbleupon">
    <i class="fa fa-stumbleupon"></i>
</a>
<!-- Reddit (url, title) -->
<a href="http://reddit.com/submit?url={{ share_url | urlencode }}&title={{ share_title | urlencode }}"
   target="_blank" class="share-btn reddit">
    <i class="fa fa-reddit"></i>
</a>
<!-- LinkedIn -->
<a href="http://www.linkedin.com/shareArticle?url={{ share_url | urlencode }}&title={{ share_title | urlencode }}&summary={{ share_description | urlencode }}&source=https%3A%2F%2F{{ request.get_host | urlencode }}" target="_blank" class="share-btn linkedin">
    <i class="fa fa-linkedin"></i>
</a>
<!-- Email -->
<a href="mailto:?subject={{ share_title | urlencode }}&body={{ share_description | urlencode }}%20{{ share_url | urlencode }}" target="_blank" class="share-btn email">
    <i class="fa fa-envelope"></i>
</a>
