{% extends "base.html" %}
{% block twitter-cards %}
{% endblock twitter-cards %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/bootstrap/dist/css/bootstrap.min.css"/>
    {% include "osgeo_importer/_importer_styles.html" %}
    {% if site.assets.favicon %}
    <link rel="shortcut icon" href="{{ MEDIA_URL }}{{ site.assets.favicon.name }}">
    {% endif %}
    {% if GOOGLE_ANALYTICS %}{% include "mapstory/_google_analytics.html" %}{% endif %}
    <link rel="stylesheet" href="{{ STATIC_URL }}style/themes/{{ THEME }}/site-theme.css"/>
{% endblock %}
{% block header %}{% include '_header.html' %}{% endblock header %}
{% block footer %}{% include '_footer.html' %}{% endblock footer%}
{% block extra_script %}{% include "_site_scripts.html" %}{% endblock extra_script %}