<footer class="color4" style="padding:44px 10px 64px 10px;width:100%;">
    <section id="mainFooter">
        <div class="container" id="footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footerWidget">
                    </div>
                </div>
                <!-- <div class="col-sm-3">
                    <div>
                        <button class="btn btn-sm btn-block btn-default">
                            <a href="{% url 'donate' %}">Help Storyscapes grow.<br> Make a donation.</a>
                        </button>
                    </div>
                    <div class="social">
                        <a href="https://twitter.com/mapstory"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/mapstories"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/mapstory"><i class="fa fa-github"></i></a>
                        <a href="http://help.mapstory.org"><i class="fa fa-support"></i></a>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container">
            <hr style="margin:10px 0 10px 0">
            <div class="row">
                <div class="col-sm-10">
                    <p><small><i class='flag flag-gb'></i> English | <i class='flag flag-fr'></i> Français | <i class='flag flag-es'></i> Español | <i class='flag flag-de'></i> Deutsch | <i class='flag flag-cn'></i> 中文 | <i class='flag flag-it'></i> Italiano | <i class='flag flag-ru'></i> русский </small></p>
                </div>
                <div class="col-sm-2">
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent;color: white;border-color:white;padding: 5px;width:150px">
                              <i class='flag flag-gb'></i> English <span class="caret" style="border-top-color: white"></span>
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </section>
</footer>


<!--footer class="color4" style="width:100%;padding:20px 30px">
    <section>
    <div id="footer">
        <div class="row">
            <div class="col-lg-9">
                <h4><strong>Storyscapes is the atlas of change that everyone can edit. We are a community, not a company, that envisions a world where everyone's wisdom can be tapped so that we all can dramatically improve our understanding of the rich past, complex present and uncertain future we share as living beings on planet Earth.</strong> </h4>
                <hr style="margin:15px 0px">
                <h5>By using this site, you agree to the License, Terms and Privacy Policy. Storyscapes® is a registered trademark of the Storyscapes Foundation, Inc., a non-profit organization.</h5>
                <h5>About | Blog | Contact | Disclaimers | Tools | Merchandise | Wiki</h5>
            </div>
            <div class="col-lg-3 text-center">
                <button class="btn btn-sm btn-block btn-default">
                    <a href="{% url 'donate' %}">Help Storyscapes grow.<br> Make a donation.</a>
                </button>
            </div>
        </div>
    </div>
    </section>
</footer-->
