{%verbatim%}
<div ng-controller="geonode_search_controller">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#NewSearch" data-toggle="tab" style="padding:10px"><i class="text-primary glyphicon glyphicon-search"></i>&nbsp;Add existing</a></li>
                <li class=""><a href="#NewUpload" data-toggle="tab" style="padding:10px"><i class="text-primary glyphicon glyphicon-upload"></i>&nbsp; Upload new</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="NewSearch" style="max-height:450px; overflow-y:scroll; overflow-x:hidden">
                    <div class="col-sm-12" style="padding:10px">
                        <div class="box">


                            <div class="input-group search-bar" >
                                <input name="text_search_input2" id="text_search_input2" placeholder="Search for StoryLayers ..." ng-model="layerName" type="text" class="form-control search-input">
                                    <span class="input-group-btn">
                                        <button id="layers_seach_btn" class="btn btn-primary search-btn" ng-disabled="!layerName" ng-click="showLoadSearchDialog(layerName)"><i class="glyphicon glyphicon-search"></i> Search</button>
                                    </span>
                            </div>

                            <!--div class="checkbox">
                                <label for="vector"><input ng-model="asVector" type="checkbox" id="vector">As vector</label>
                            </div-->

                            <span ng-if="loading">Loading...</span>


                            <a ng-click="showLoadSearchDialog()">
                                <div class="box-content box-statistic">
                                    <div class="title text-primary"><i class="glyphicon glyphicon-th"></i>Explore All</div>
                                    <small><span ng-bind="total_counts"></span> Storylayers</small>

                                </div>
                            </a>
                            <a ng-click="showLoadSearchDialog()">
                                <div class="box-content box-statistic">
                                    <div class="title text-primary"><i class="glyphicon glyphicon-star"></i>Common StoryLayers</div>
                                    <small>0 Storylayers</small>

                                </div>
                            </a>
                            <a ng-click="showLoadSearchDialog()">
                                <div class="box-content box-statistic">
                                    <div class="title text-primary"><i class="glyphicon glyphicon-heart"></i>My Favorites</div>
                                    <small>0 Favorites</small>

                                </div>
                            </a>
                                <a ng-click="showLoadSearchDialog()">
                                <div class="box-content box-statistic">
                                    <div class="title text-primary"><i class="glyphicon glyphicon-upload"></i>My Uploads</div>
                                    <small>0 Uploads</small>

                                </div>
                            </a>



                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="NewUpload">
                    <div class="col-sm-12" style="padding:10px">
                        <div class="box">
                            <a data-toggle="modal" href="#UploadCSVModal">
                                <div class="box-content box-statistic">
                                    <h3 class="title text-primary">Upload CSV</h3>
                                    <small>Excel, tabular or text-based files</small>
                                    <div class="text-primary icon-list-ol align-right"></div>
                                </div>
                            </a>
                            <a data-toggle="modal" href="#UploadSHPModal">
                                <div class="box-content box-statistic">
                                    <h3 class="title text-primary">Upload Shapefile</h3>
                                    <small>GIS files</small>
                                    <div class="text-primary icon-trello align-right"></div>
                                </div>
                            </a>
                            <a href="http://wiki.mapstory.org/wiki/Get_Skills">
                                <div class="box-content box-statistic">
                                    <h3 class="title text-primary">Upload User Guide</h3>
                                    <small>User manual</small>
                                    <div class="text-primary icon-info-sign align-right"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endverbatim%}