{%verbatim%}

<accordion close-others="true" sv-root sv-part="layers" sv-on-sort="onSort($item, $partFrom, $partTo, $indexFrom, $indexTo)">


       <accordion-group is-open="status.open">
        <accordion-heading>
            <span>About</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
    <story-about-info></story-about-info>
    </accordion-group>


    <accordion-group>
        <accordion-heading>
            Add a StoryLayer <i id="layer-manager-panel" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <add-layers map="map"></add-layers>
    </accordion-group>

      <accordion-group sv-element ng-repeat="layer in layers" is-open="accordianOpen" ng-init="accordianOpen = $first">
        <accordion-heading>
            {{layer.get('title')}}
            <div class="pull-right">
                <button type="button" data-toggle="button" ng-click="toggleVisibleLayer(layer); $event.stopPropagation();" class="btn btn-xs btn-default">
                    <i class="glyphicon" ng-class="{'glyphicon-eye-open': layer.get('visibility'), 'glyphicon-eye-close': !layer.get('visibility')}"></i>
                </button>
                <button type="button" data-toggle="button" ng-really-message="Are you sure you want to remove this layer?" ng-really-click="removeLayer(layer); $event.stopPropagation();" class="btn btn-xs btn-default">
                   <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </accordion-heading>
        <!-- to reduce watchers, add ng-if=accordianOpen>
        <style-editor class="minheight" layer="layer" on-change="styleChanged"></style-editor-->

        <div class="row layer-ctrls">
            <div class="col-sm-12" style="padding:10px">

                <div>
                    <div class="col-sm-4">
                        <div class="box-quick-link muted-background"><a href="#">
                            <div class="header">
                                <div class="glyphicon glyphicon-pencil"></div>
                            </div>
                            <div class=content>Edit Style</div>
                        </a>
                        </div>
                    </div>
                    <!--div class="col-sm-4">
                        <div class="box-quick-link muted-background"><a href="#" >
                            <div class="header">
                                <div class="glyphicon glyphicon-calendar"></div>
                            </div>
                            <div class=content>Time info</div>
                        </a>
                        </div>
                    </div-->
                    <div class="col-sm-4">
                        <div class="box-quick-link muted-background"><a href="#">
                            <div class="header">
                                <div class="glyphicon glyphicon-tag"></div>
                            </div>
                            <div class=content>Edit Metadata</div>
                        </a>
                        </div>
                    </div>
                </div>
                <div>
                    <!--div class="col-sm-4">
                        <div class="box-quick-link muted-background">
                            <a href="#">
                                <div class="header">
                                    <div class="glyphicon glyphicon-comment"></div>
                                </div>
                                <div class=content>Edit Attrib</div>
                            </a>
                        </div>
                    </div-->
                    <div class="col-sm-4">
                        <div class="box-quick-link blue-background">
                            <a href="#">
                                <div class="header">
                                    <div class="glyphicon glyphicon-download"></div>
                                </div>
                                <div class="content">Download</div>
                            </a>
                        </div>
                    </div>
                    <!--div class="col-sm-4">
                        <div class="box-quick-link red-background">
                            <a href="#" ng-really-message="Are you sure you want to remove this layer?" ng-really-click="removeLayer(layer); $event.stopPropagation();">
                                <div class="header">
                                    <div class="glyphicon glyphicon-trash"></div>
                                </div>
                                <div class="content">Delete Layer</div>
                            </a>
                        </div>
                    </div-->
                </div>
            </div>
        </div>

    </accordion-group>


     <accordion-group>
        <accordion-heading>
            Basemap <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
         <div class="form-group">
    <label>Background:</label>
    <button style="margin-bottom:5px;" class="btn btn-default form-control" ng-repeat="baseLayer in baseLayers" ng-click="onChange(baseLayer)">{{baseLayer.title}}</button>

</div>
    </accordion-group>


</accordion>

{%endverbatim%}