{%verbatim%}
<div ng-controller="geonode_search_controller">


    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">x</button>
        <h4 class="modal-title">Explore StoryLayers</h4>
	</div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">

                    <li class="active"><a ng-click="remove_query('title__icontains');remove_query('owner__username__in');add_single_query('type__in', 'layer');add_single_query('order_by','title');" data-toggle="tab">Explore All</a></li>
                    <li><a ng-click="add_single_query('type__in', 'layer');add_single_query('order_by','-popular_count');" data-toggle="tab">Common</a></li>
                    <li><a ng-click="add_single_query('type__in', 'layer');add_single_query('order_by','title');" data-toggle="tab">My Favorites</a></li>
                    <li><a ng-click="add_single_query('order_by','title');add_single_query('owner__username__in', '{%endverbatim%}{{ request.user.username}}{%verbatim%}');" data-toggle="tab">My Uploads</a></li>
                </ul>
            </div>
            <div class="tab-content col-md-12" style="min-height:270px;">
                <div class="tab-pane active" id="Explore">


                    {%endverbatim%}
                    <div ng-show="get_url() == '/api/base/' || get_url() == '/api/featured/'">
                        <div class="col-lg-12">
                            <nav class="filter">
                                <div class="input-group search-bar" >
                                <input name="text_search_input_exp" id="text_search_input_exp" placeholder="Search for StoryLayers ..." ng-model="layerName" type="text" class="form-control search-input">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary search-btn" ng-disabled="!layerName" type="submit" id="text_search_btn"><i class="glyphicon glyphicon-search"></i> Search</button>
                                    </span>

                            </div>
                            </nav>

                            <div class="clearfix search-results" style="padding-top:15px; max-height:300px; min-height:280px; overflow-y:scroll; overflow-x:hidden">

                                    {% include 'search/_result_content_min.html' %}

                            </div>
                            {% include 'search/_pagination.html' %}
                        </div>
                    </div>

                    {%verbatim%}

                </div>

            </div>
        </div>
	</div>

    <div class="modal-footer">
         <span class="pull-left">{{choices.length}} StoryLayers Selected</span>
         <button class="btn btn-default" ng-click="$dismiss()">Close</button>
         <button class="btn btn-primary" ng-click="$close(choice)">Use Selected</button>
    </div>

</div>
{%endverbatim%}