{% extends "upload/layer_upload_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load mapstory_tags %}
{% block body_class %}data data-list upload{% endblock %}

{% block title %} {% trans "Upload Layer Step 2" %} - {{ block.super }} {% endblock %}

{% block head %}
{{ block.super }}
 <script type="text/javascript">
    var time_attributes = {{time_form.time_attribute.field.choices|to_json|safe|default:"[]" }};
    var year_attributes = {{time_form.year_attribute.field.choices|to_json|safe|default:"[]" }};
    var text_attributes = {{time_form.text_attribute.field.choices|to_json|safe|default:"[]" }};
    </script>
{% endblock %}

{% block body %}
{% with 'time' as active_tab %}
    {% include 'upload/layer_wizard.html' %}
{% endwith %}




<div class="ng-cloak" ng-app="mapstory.upload" ng-controller="mapstory.upload.time" id="time-options" >
  <h2> {% trans "Editing details for " %} {{ layer_name }} </h2>
  <div class="row">
  <div class="col-md-8">
      <div class="radio" style="padding: 10px">
      <!--<label class="top-padding-10">
        <input type="radio" ng-model="time.type" value="simple">
        My StoryLayer has a simple time attribute.
      </label><br/>
      <label class="top-padding-10">
        <input type="radio" ng-model="time.type" value="startEnd">
        My StoryLayer has start and end dates.
      </label><br/>-->

       <form>
            <div class="top-padding-10">Was the data collected at regular intervals? (e.g., every 8 hours, every 2 months)</div>
          <label class="radio-inline" style="display: inline-block">
            <input type="radio" ng-model="time.presentation_strategy" value="DISCRETE_INTERVAL" name="presentation_strategy_yes">Yes
          </label>
          <label class="radio-inline" style="display: inline-block">
            <input type="radio" ng-model="time.presentation_strategy" value="LIST" name="presentation_strategy_no">No
          </label>
      </form>

        <div ng-show="time.presentation_strategy === 'DISCRETE_INTERVAL'" class="top-padding-10" style="margin-left: 10px;">
          <form class="form-inline">
              <label for="id_precision_step" class="pull-left">
                Resolution of time attribute:
            </label>
          <div class="form-group">
              </div>
              <div class="form-group pull-left">
                <input ng-model="time.precision_value" size="3" type="text" class="form-control col-md-1">
              </div>
              <div class="form-group col-md-2">
                <select ng-model="time.precision_step" class="form-control" name="id_precision_step" id="id_precision_step">
                  <option value="{[precision]}" ng-repeat="precision in ['years', 'months', 'days', 'hours', 'minutes', 'seconds']">{[precision]}</option>
                </select>
              </div>
           </form>
        </div>
      </div>


      <hr/>

        <div ng-show="time.type === 'simple' || time.type == 'startEnd'">
           <h3>Configure <span ng-if="time.type == 'startEnd'">the start </span>time in your StoryLayer</h3>
           <div class="radio">
               <label for="time-attribute-select" ng-if="time_attributes.length > 0">
                    <input id="time-attribute-select" type="radio" ng-model="time.attributeType"  value="timeAttribute">
                     My StoryLayer already has a time attribute.
               <br/>
               </label>

               <div ng-show="time.attributeType === 'timeAttribute'" class="row">
                   <div class="col-md-4">
                    <label>
                        Select the attribute:
                        <select ng-model="time.time_attribute" class="form-control" name="time_attribute">
                          <option  value="{[time_attribute[0]]}" ng-if="time_attribute[0]!==''" ng-repeat="time_attribute in time_attributes">{[time_attribute[1]]}</option>
                        </select>
                    </label>
                    </div>
               </div>

               <label ng-if="text_attributes.length > 0">
                    <input type="radio" ng-model="time.attributeType" value="textAttribute">
                     My StoryLayer has a text attribute that I want to convert to time.
               <br/>
               </label>

               <div ng-show="time.attributeType === 'textAttribute'" class="row">
                  <div class="col-md-4">
                    <label>
                        Select the attribute:
                        <select  ng-model="time.text_attribute" class="form-control">
                          <option value="{[text_attribute[0]]}" ng-if="text_attribute[0]!==''" ng-repeat="text_attribute in text_attributes">{[text_attribute[1]]}</option>
                        </select>
                    </label>
                    <label ng-if="time.text_attribute">
                        Date format (optional):
                        <input ng-model="time.text_attribute_format" type="text" class="form-control" placeholder="yyyy-mm-dd" name="text_attribute_format">
                    </label>
                  </div>
               </div>

               <label>
                    <input type="radio" ng-model="time.attributeType" value="numberAttribute">
                     My StoryLayer has a numeric attribute that I want to use as a year.
               </label>

               <div ng-show="time.attributeType === 'numberAttribute'" class="row">
                   <div class="col-md-4">
                    <label>
                        Select the attribute:
                        <select ng-model="time.year_attribute" class="form-control">
                          <option value="{[year_attribute[0]]}" ng-repeat="year_attribute in year_attributes">{[year_attribute[1]]}</option>
                        </select>
                    </label>
                    </div>
               </div>
           </div>
       </div>


      <form>
          <h3 class="top-padding-10">End Date/Time</h3>
            <div>Does this data have an end date/time attribute?</div>
          <label class="radio-inline" style="display: inline-block">
            <input type="radio" ng-model="time.type" value="startEnd" name="startEndYes">Yes
          </label>
          <label class="radio-inline" style="display: inline-block">
            <input type="radio" ng-model="time.type" value="simple" name="startEndYes" ng-click="resetEndDates()">No
          </label>
      </form>


        <div ng-show="time.type == 'startEnd'">
           <h3>Configure the end time in your StoryLayer</h3>
           <div class="radio">
               <label ng-if="time_attributes.length > 0">
                    <input type="radio" ng-model="time.endAttributeType" value="timeAttribute">
                     My StoryLayer already has a time attribute.
               <br/>
               </label>

               <div ng-show="time.endAttributeType === 'timeAttribute'" class="row">
                   <div class="col-md-4">
                    <label >
                        Select the attribute:
                        <select ng-model="time.end_time_attribute" class="form-control" name="end_time_attribute">
                          <option  value="{[time_attribute[0]]}" ng-if="time_attribute[0]!==''" ng-repeat="time_attribute in time_attributes">{[time_attribute[1]]}</option>
                        </select>
                    </label>
                    </div>
               </div>

               <label  ng-if="text_attributes.length > 0">
                    <input type="radio" ng-model="time.endAttributeType" value="textAttribute">
                     My StoryLayer has a text attribute that I want to convert to time.
                <br/>
               </label>

               <div ng-show="time.endAttributeType === 'textAttribute'" class="row">
                  <div class="col-md-4">
                    <label>
                        Select the attribute:
                        <select  ng-model="time.end_text_attribute" class="form-control">
                          <option value="{[text_attribute[0]]}" ng-if="text_attribute[0]!==''" ng-repeat="text_attribute in text_attributes">{[text_attribute[1]]}</option>
                        </select>
                    </label>
                    <label ng-show="time.end_text_attribute" class="top-padding-10">
                        Date format (optional):
                        <input ng-model="time.end_text_attribute_format" type="text" class="form-control" placeholder="yyyy-mm-dd" name="end_text_attribute_format">
                    </label>
                  </div>
               </div>

               <label>
                    <input type="radio" ng-model="time.endAttributeType" value="numberAttribute">
                     My StoryLayer has a numeric attribute that I want to use as a year.
               </label>

               <div ng-show="time.endAttributeType === 'numberAttribute'" class="row">
                   <div class="col-md-4">
                    <label>
                        Select the attribute:
                        <select ng-model="time.end_year_attribute" class="form-control">
                          <option value="{[year_attribute[0]]}" ng-repeat="year_attribute in year_attributes">{[year_attribute[1]]}</option>
                        </select>
                    </label>
                    </div>
               </div>
           </div>
       </div>


       <div ng-show="false">
       <h3>How should time be presented in your StoryLayer?</h3>
           <div class="radio">
              <label>
                <input type="radio" ng-model="time.presentation_strategy" value="LIST" name="presentation_strategy">
                List of all the distinct time values
              </label><br/>
              <label>
                <input type="radio" ng-model="time.presentation_strategy" value="DISCRETE_INTERVAL" name="presentation_strategy">
                As data collected at regular intervals. (e.g., every 8 hours, every 2 months)
              </label>
                <div ng-show="time.presentation_strategy === 'DISCRETE_INTERVAL'">
                  <form class="form-inline">
                      <label for="id_precision_step" class="pull-left">
                        Resolution of time attribute:
                    </label>
                  <div class="form-group">
                      </div>
                      <div class="form-group pull-left">
                        <input ng-model="time.precision_value" size="3" type="text" class="form-control col-md-1">
                      </div>
                      <div class="form-group col-md-2">
                        <select ng-model="time.precision_step" class="form-control" name="id_precision_step" id="id_precision_step">
                          <option value="{[precision]}" ng-repeat="precision in ['years', 'months', 'days', 'hours', 'minutes', 'seconds']">{[precision]}</option>
                        </select>
                      </div>
                   </form>
                </div>
              <br/>
              <label ng-if="false">
                <input type="radio" ng-model="time.presentation_strategy" value="CONTINUOUS_INTERVAL" name="presentation_strategy">
                Continuous Intervals for data that is frequently updated, resolution describes the frequency of updates
                  </label>
                  <div ng-show="time.presentation_strategy === 'CONTINUOUS_INTERVAL'" class="row">
                      <form class="form-inline">
                          <label for="id_precision_step" class="pull-left">
                            Resolution of time attribute:
                        </label>
                      <div class="form-group">
                          </div>
                          <div class="form-group pull-left">
                            <input ng-model="time.precision_value" size="3" type="text" class="form-control col-md-1">
                          </div>
                          <div class="form-group col-md-2">
                            <select ng-model="time.precision_step" class="form-control" name="id_precision_step" id="id_precision_step">
                              <option value="{[precision]}" ng-repeat="precision in ['years', 'months', 'days', 'hours', 'minutes', 'seconds']">{[precision]}</option>
                            </select>
                          </div>
                       </form>
                    </div>
               </div>
                    <hr/>
          </div>


    <div id="upload-errors" ng-show="errors.length > 0" class="alert alert-danger top-padding-10">
        Oh no!  The following errors occurred during your upload:
        <ul>
            <li ng-repeat="error in errors" >{[ error ]}</li>
        </ul>
    </div>
    <button id='next' class="btn btn-default" ng-click="submit()" ng-disabled="submitInProgress" value="{% trans 'Next' %}" style="margin-top:10px"> Next
        <i ng-show="submitInProgress" id="next-spinner" class="fa fa-spinner fa-spin"></i>
    </button>
  </form>
  </div>
  {% include "branding/upload_layer_upload_csv_help.html" %}
  </div>
</div>


{% comment %}
<div id="timehelp" class="span5">
    <h3>{% trans "Need Help?" %}</h3>
    <h4>{% trans "Enabling Time" %}</h4>
    <p>{% blocktrans %}A feature can currently support one or two time attributes. If a single
    attribute is used, the feature is considered relevant at that single point in time. If two
    attributes are used, the second attribute represents the end of a valid period for the
    feature.{% endblocktrans %}</p>
    <h4>{% trans "Selecting an Attribute" %}</h4>
    <p>{% trans "A time attribute can be one of" %}:</p>
    <ul>
        <li>{% trans "An existing date" %}</li>
        <li>{% trans "Text that can be converted to a timestamp" %}</li>
        <li>{% trans "A number representing a year" %}</li>
    </ul>
    <p>
    {% blocktrans %}
    For text attributes, one can specify a custom format or use the 'best guess' approach.
    The most common formatting flags are:
    {% endblocktrans %}
    </p>
    <ul>
        <li><code>y</code> {% trans "year" %}</li>
        <li><code>M</code> {% trans "month" %}</li>
        <li><code>d</code> {% trans "day of month" %}</li>
        <li><code>H</code> {% trans "hour of day" %} (0-23)</li>
        <li><code>k</code> {% trans "hour of day" %} (1-24)</li>
        <li><code>m</code> {% trans "minute in hour" %}</li>
        <li><code>s</code> {% trans "second in minute" %}</li>
    </ul>
    
    <p class="alert alert-info">{% trans "Note that single quotes represent a literal character." %}</p>
    <p class="alert alert-info">{% trans "To remove ambiguity, repeat a code to represent the maximum number of digits - for example yyyy" %}</p>
    
    {% trans "The 'best guess' will handle date and optional time variants of" %} <a href="http://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a>.
    {% trans "In terms of the formatting flags noted above, these are" %}:
    <pre>
    yyyy-MM-dd'T'HH:mm:ss.SSS'Z'
    yyyy-MM-dd'T'HH:mm:sss'Z'
    yyyy-MM-dd'T'HH:mm:ss'Z'
    yyyy-MM-dd'T'HH:mm'Z'
    yyyy-MM-dd'T'HH'Z'
    yyyy-MM-dd
    yyyy-MM
    yyyy
    </pre>
</div>
{% endcomment %}
{% endblock %}

{% block extra_script %}
</script>
<script type="text/javascript" src="{{STATIC_URL}}mapstory/js/angular.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}mapstory/js/upload/upload-time.js"></script>
<script type="text/javascript">
{% autoescape off %}
{% if async_upload %}
//enableUploadProgress('timeForm');
{% endif %}
{% endautoescape %}
</script>
{% endblock %}
