
<ul class="nav nav-tabs" id="upload-navbar">
  <li role="presentation" class="{% if active_tab == 'file_tab' %}active {% else%}disabled{% endif %}"><a href="#file-tab" data-toggle="tab"><span class="badge">1</span> Select Files</a></li>
  <li role="presentation" class="{% if active_tab == 'geospatial' %}active{% else%}disabled{% endif %}"><a href="#"><span class="badge">2</span> Geospatial Info</a></li>
  <li role="presentation" class="{% if active_tab == 'time' %}active{% else%}disabled{% endif %}"><a href="#"><span class="badge">3</span> Time Info</a></li>
  <li role="presentation" class="{% if active_tab == 'metadata' %}active{% else%}disabled{% endif %}"><a href="#"><span class="badge">4</span> Metadata</a></li>
  <li role="presentation" class="{% if active_tab == 'finish' %}active{% else%}disabled{% endif %}"><a href="#"><span class="badge">6</span> Finish Upload</a></li>
</ul>