{% verbatim %}

<div ng-repeat="item in results" resource_id="{{ item.id }}" ng-cloak class="ng-cloak" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{item.id}}" style="font-size:1.1em" class="collapsed">
                <span style="float:left">{{ item.title }}</span>
                <span style="float:right">{{ item.date|date:'d MMM y' }}</span>
            </a>
            <div style="clear:both"></div>
        </h3>
    </div>
    <div id="collapse{{item.id}}" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" ng-src="{{ item.thumbnail_url }}">
                </div>
                <div class="col-sm-7">
                    <h6>
                        Category: {{ item.category__gn_description }}
                    </h6>
                    <hr style="margin:10px">
                    <h6>
                        {{ item.abstract }}
                    </h6>
                    <hr style="margin:10px">
                    <h6>Tags: lorem, ipsum, dolor</h6>
                    <h6>Last edited: {{ item.date|date:'d MMM y' }}</h6>
                </div>
                {% endverbatim %}
                <div class="col-sm-1" style="border-left:1px solid gainsboro;text-align:right">
                    <h2>play</h2>
                    <hr style="margin:2px">
                    <h2>share</h2>
                    {% if request.user.is_authenticated %}
                    <hr style="margin:2px">
                    <h2>edit</h2>
                    <hr style="margin:2px">
                    <h2>delete</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>




