{%verbatim%}
<div>
    <div class="modal-header">
        <h3 class="modal-title">New Storyscape</h3>
    </div>
    <div class="modal-body">
        <div>
            <label for="title">Title</label>
            <input id="title" class="form-control" type="text" ng-model="choice.title"/>
        </div>

        <div>
            <label for="abstract">Abstract</label>
            <textarea id="abstract" class="form-control" type="text" ng-model="choice.abstract"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close(choice)">OK</button>
        <button class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
    </div>
</div>
{%endverbatim%}