{% load classification_banner i18n %}

<!DOCTYPE html>
<html ng-app="composer">
<head>
  <base href="{{ SITEURL }}{{ STATIC_URL }}composer/" target="_blank" rel="noopener">
  <script>
    window.mapstory = {}
    window.mapstory.composer = {}
    window.mapstory.composerMode = "False";
    window.mapstory.layerViewerMode = true;
    window.mapstory.layername = "{{ resource.name }}";
    window.mapstory.composer.config = {
      authStatus: {% if user.is_authenticated %} 200{% else %} 401{% endif %},
      username: {% if user.is_authenticated %} "{{ user.username }}" {% else %} undefined {% endif %},
      userprofilename: {% if user.is_authenticated %} "{{ user.get_full_name }}" {% else %} undefined {% endif %},
      userprofileemail: {% if user.is_authenticated %} "{{ user.email }}" {% else %} undefined {% endif %},
      currentLanguage: "{{language|default:'en'}}",
      proxy: "{{ PROXY_URL }}",
      rest: "{% url "maps_browse" %}",
      ajaxLoginUrl: "{% url "account_ajax_login" %}",
      homeUrl: "{% url "home" %}",
      localGeoServerBaseUrl: "{{ GEOSERVER_BASE_URL }}",
      localCSWBaseUrl: "{{ CATALOGUE_BASE_URL }}",
      csrfToken: "{{ csrf_token }}",
      baselayersConfig: {{ layers | safe }},
    }
    window.mapstory.composer.config.branding = {
      siteName: "{{ SITE_NAME }}",
      storyName: "{{ BRANDING_STORY_NAME }}",
      storiesName: "{{ BRANDING_STORIES_NAME }}",
      layerName: "{{ BRANDING_LAYER_NAME }}",
      layersName: "{{ BRANDING_LAYERS_NAME }}",
    }
    window.mapstory.composer.config.classificationBanner = {
      enabled: {% if CLASSIFICATION_BANNER_ENABLED %} true {% else %} false {% endif %},
      footerEnabled: {% if CLASSIFICATION_BANNER_FOOTER_ENABLED %} true {% else %} false {% endif %},
      text: "{{ CLASSIFICATION_TEXT }}",
      textColor:"{{ CLASSIFICATION_TEXT_COLOR }}",
      backgroundColor: "{{ CLASSIFICATION_BACKGROUND_COLOR }}",
      link: "{{ CLASSIFICATION_LINK }}",
    }
  </script>

  {% include "head.html" %}

</head>
<body ng-controller="composerController as composer">
  {% classification_banner %}
  {% include "_login_warning.html" %}

  {% include "body.html" %}

  {% if CLASSIFICATION_BANNER_ENABLED and CLASSIFICATION_FOOTER_ENABLED %}
    <div class="classification_banner_bottom_padding"></div>
  {% endif %}
  {% include "_classification_warning_scripts.html" %}
  {% include "_login_warning_scripts.html" %}
</body>
</html>
