{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    {% block head %}
      <link href="{{ STATIC_URL }}vendor/story-tools/dist/story-tools-core-all.css" rel="stylesheet">
      <link href="{{ STATIC_URL }}vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
      <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}</style>
      {% block extra_head %}
      {% endblock %}
    {% endblock %}
  </head>
  <body class="viewerbody">
    {% block middle %}{% endblock middle %}
    {% block extra_script %}{% endblock extra_script %}
    <script src="{{ STATIC_URL }}vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script type="text/javascript" src="{% url "lang" %}"></script>
  </body>
</html>
