{% load i18n %}
{% load url from future %}

<aside class="col-sm-3 explore-filters">
    <section>
        <h2 class="side-title">Filter Results</h2>
        <div class="clear-filters">
            <a href="" ng-click="defaultContent()">Clear all</a>
        </div>
    </section>

    <section>
        <h3 class="bold-caps">Search         
            <i class="fa fa-info-circle">
                <md-tooltip md-direction="right">use keywords 'AND' or 'OR' to narrow or expand your search</md-tooltip>
            </i>
        </h3>
        <div class="clear-filters">
            <a href="" ng-click="explore.clear('q')">Clear</a>
        </div>
        <div class="filter-content">
            <div class="search-bar">
                <form role="search">
                    <div>
                        <input name="text_search_input"
                               id="text_search_input"
                               ng-model="query.q"
                               type="search"
                               class="form-control"
                               ng-enter="search()"
                               placeholder="Filter by content...">
                         <button class="btn" type="submit" ng-click="search()">
                             <i class="fa fa-search"></i>
                         </button>
                    </div>
                </form>
            </div>
        </div>

    </section>
    <section>
    {% verbatim %}
        <h3 class="bold-caps">Content Type</h3>
        <div class="clear-filters">
            <a href="" ng-click="explore.clear('type__in')">Clear</a>
        </div>
        <div class="filter-content">
            <div>
              <label>
                <input type="checkbox"
                  data-value="layer"
                  data-filter="type__in"
                  ng-click="explore.checkboxQuery($event)"
                  ng-checked="isActivated('layer', query, 'type__in')">
                </input>
                StoryLayer
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox"
                  data-value="mapstory"
                  data-filter="type__in"
                  ng-click="explore.checkboxQuery($event)"
                  ng-checked="isActivated('mapstory', query, 'type__in')">
                </input>
                MapStory
              </label>
            </div>
        </div>
    {% endverbatim %}
    </section>

    <section>
    {% verbatim %}
        <h3 class="bold-caps">Category</h3>
        <div class="clear-filters">
            <a href="" ng-click="explore.clear('category__identifier__in')">Clear</a>
        </div>
        <div class="filter-content">
            <div ng-repeat="category in categories">
              <label>  
                <input type="checkbox" 
                  data-value="{{ category.identifier }}" 
                  data-filter="category__identifier__in" 
                  ng-click="explore.checkboxQuery($event)" 
                  ng-checked="isActivated(category.identifier, query, 'category__identifier__in')"> 
                </input>
                {{ category.gn_description }}
              </label>
            </div>
        </div>
    {% endverbatim %}
    </section>

    <section ng-controller="storytellerController as author">
    {% verbatim %}
        <h3 class="bold-caps">StoryTeller</h3>
        <div class="clear-filters">
            <a href="" ng-click="explore.clear('owner__username__in')">Clear</a>
        </div>
        <div class="filter-content">
            <md-content class="md-padding" layout="column">
                <md-chips ng-model="author.userChips"
                          md-autocomplete-snap
                          md-require-match="true"
                          md-on-add="explore.addQuery('owner__username__in', $chip.username)"
                          md-on-remove="explore.removeQuery('owner__username__in', $chip.username)">
                    <md-autocomplete md-selected-item="selectedItem"
                                     md-search-text="searchText"
                                     md-delay= "400"
                                     md-items="item in author.async(searchText)"
                                     md-item-text="item.username"
                                     placeholder={{author.placeholder}}>
                        <span class="autocomplete-dropdown-text" md-highlight-text="searchText">{{item.first_name}} {{item.last_name}} ({{item.username}})</span>
                        <md-not-found>No matching users found.</md-not-found>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                          {{$chip.username}}
                        </span>
                    </md-chip-template>
                </md-chips>
                <button class="btn" type="submit" ng-click="search()">
                    <i class="fa fa-search"></i>
                </button>
            </md-content>
        </div>
    {% endverbatim %}
    </section>

    <section ng-controller="tagsController as tags">
    {% verbatim %}
        <h3 class="bold-caps">Tags</h3>
        <div class="clear-filters">
            <a href="" ng-click="explore.clear('keywords__slug__in')">Clear</a>
        </div>
        <div class="filter-content">
            <md-content class="md-padding" layout="column">
                <md-chips ng-model="tags.chips" 
                md-autocomplete-snap 
                md-on-add="explore.addQuery('keywords__slug__in', $chip.slug)"
                md-on-remove="explore.removeQuery('keywords__slug__in', $chip.slug)"
                md-transform-chip="tags.field.newChip($chip)">
                    <md-autocomplete
                        md-selected-item="selectedItem"
                        md-search-text="searchText"
                        md-items="item in tags.async(searchText)"
                        md-item-text="item.slug"
                        placeholder={{tags.placeholder}}>
                        <span class="autocomplete-dropdown-text" md-highlight-text="searchText">{{item.slug}}</span>
                    </md-autocomplete>
                  <md-chip-template>
                    {{$chip.slug}}
                  </md-chip-template>
                </md-chips>
                <button class="btn" type="submit" ng-click="search()">
                    <i class="fa fa-search"></i>
                </button>
            </md-content>
        </div>
    {% endverbatim %}
    </section>
</aside>