{% load i18n %}
<hr>
<h3><i class="fa fa-filter"></i> Refine Search</h3>
<div class="panel-group" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#user-tab">
                    <span class="pull-left">Who</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <div id="user-tab" class="panel-collapse collapse filter">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="tokenfield-profile" placeholder="Search for StoryTellers ..."/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#category-tab">
                    <span class="pull-left">What</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <nav id="category-tab" class="panel-collapse collapse filter">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul id="categories" class="nav">
                            
                            {% verbatim %}
                            <li ng-repeat="category in categories">
                                <a ng-init="toggle=true" ng-click="toggle_query(toggle, 'category__identifier__in', category.identifier); toggle=!toggle; active=category.id" ng-class="{active: (!toggle && (active == category.id))}">{{ category.gn_description}}
                                    <span ng-show="!toggle" class="pull-right"><i class="fa fa-check"></i></span>
                                </a>                                
                            </li>
                            {% endverbatim %}                       
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
<!--
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#regions-tab">
                    <span class="pull-left">Where</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <div id="regions-tab" class="panel-collapse collapse filter">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="tokenfield-region" placeholder="Search for country or continent ..." />
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
<!--
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#time">
                    <span class="pull-left">When</span>
                    <span class=“pull-right></span>
                </a>
            </div>
        </div>
        <div id="time" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <label>{% trans "Date begins after:" %}</label>
                        <input class="datepicker" value="yyyy-mm-dd" data-date-format="YYYY-MM-DD" type="text" placeholder="yyyy-mm-dd" ng-model="date_query.date__gte" />
                        <hr>
                        <label>{% trans "Date ends before:" %}</label>
                        <input class="datepicker" value="yyyy-mm-dd" data-date-format="YYYY-MM-DD" type="text" placeholder="yyyy-mm-dd" ng-model="date_query.date__lte" />
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="panel-heading">
        <div class="panel-title clearfix">
            <a data-toggle="collapse" data-parent="#accordion2" href="#keyword-tab">
                <span class="pull-left">Keywords</span>
                <span class="pull-right"></span>
            </a>
        </div>
    </div>
    <div id="keyword-tab" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="tokenfield-keyword" placeholder="Search for keyword ..."/>
                </div>
            </div>
        </div>
    </div>
</div>
