{% load i18n %}
<hr>
<h3><i class="fa fa-filter"></i> Refine Search</h3>
<div class="panel-group" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#interest-tab">
                    <span class="pull-left">Interests</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <div id="interest-tab" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="tokenfield-interest" placeholder="Search for interest ..."/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#city-tab">
                    <span class="pull-left">City</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <div id="city-tab" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="tokenfield-city" placeholder="Search for city ..."/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#country-tab">
                    <span class="pull-left">Country</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <div id="country-tab" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="tokenfield-country" placeholder="Search for country ..."/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- This is just a boolean value, so just use a checkbox -->
                <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-12">
                        <input type="checkbox" ng-model="VTCisChecked" ng-click="filterVTC()"> VTC Members
                    </div>
                </div>
</div>