{% load i18n %}
<hr>
<h3><i class="fa fa-filter"></i> Refine Search</h3>
<div class="panel-group" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#category-tab">
                    <span class="pull-left">Topics</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <nav id="category-tab" class="panel-collapse collapse filter">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul id="categories" class="nav">
                            {% verbatim %}
                            <li ng-repeat="category in categories">
                                <a data-value="{{ category.identifier}}" data-filter="category__identifier__in"
                                   ng-click="multiple_choice_listener($event)" class="{{category.active}}">{{ category.gn_description}}
                                    <span class="badge pull-right">{{ category.count}}</span>
                                </a>
                            </li>
                            {% endverbatim %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#regions" ng-controller="leaflet_hack" ng-click="showMap()">
                    <span class="pull-left">Places</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <div id="regions" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#extentmap" data-toggle="tab">Map</a></li>
                        <li><a href="#regionlist" data-toggle="tab">List</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="extentmap">
                            <div class="control-group leaflet_map">
                                <leaflet center="map_center" defaults="defaults" layers="layers">
                                </leaflet>
                            </div>
                        </div>
                        <div class="tab-pane" id="regionlist">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    {% for region in regions %}
                                    <input type="checkbox"/>
                                    <span>{{ region.name }}</span>
                                    <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#time">
                    <span class="pull-left">Time periods</span>
                </a>
            </h3>
        </div>
        <div id="time" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <label>{% trans "Date begins after:" %}</label>
                        <input class="form-control datepicker" value="yyyy-mm-dd" data-date-format="yyyy-mm-dd" type="text" placeholder="yyyy-mm-dd" ng-model="date_query.date__gte" />
                        <hr>
                        <label>{% trans "Date ends before:" %}</label>
                        <input class="form-control datepicker" value="yyyy-mm-dd" data-date-format="yyyy-mm-dd" type="text" placeholder="yyyy-mm-dd" ng-model="date_query.date__lte" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#who">
                    <span class="pull-left">Storytellers</span>
                    <span class="pull-right"></span>
                </a>
            </h3>
        </div>
        <div id="who" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        We have no concept that currently matches the design.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="accordion3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion3" href="#keyword-tab">
                    <span class="pull-left"><i class="icon-graph"></i> Keywords</span>
                    <span class="pull-right"></span>
                </a>
            </h3>
        </div>
        <div id="keyword-tab" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                        <ul id="keywords">
                        {% verbatim %}
                          <li ng-repeat="keyword in keywords">
                            <a data-value="{{ keyword.slug }}" data-filter="keywords__slug__in" ng-click="multiple_choice_listener($event)" class="{{keyword.active}}">{{ keyword.name }}
                              <span class="badge pull-right">{{ keyword.count }}</span>
                            </a>
                          </li>
                        {% endverbatim %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>