{% load i18n %}
<hr>
<h3><i class="fa fa-filter"></i> Refine Search</h3>
<div class="panel-group" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#interest-tab">
                    <span class="pull-left">Interests</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <div id="interest-tab" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="tokenfield-interests" placeholder="Search for interest ..."/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>