{% load i18n %}
{%comment%}
    Condensed sidebar. Best of: _refine_content, _whats_hot_content, and _trending_tags.
{%endcomment%}
<h3><i class="fa fa-filter"></i> Refine Search</h3>
<div class="whats-hot">
    <ul id="categories">   
    {% verbatim %}
        <li ng-repeat="category in categories"> 
            <a href="" ng-init="toggle=!category.active" ng-click="toggle_query(toggle, 'category__identifier__in', category.identifier); toggle=!toggle;" ng-class="{active: (!toggle )}"> {{ category.gn_description }}
                <span ng-show="!toggle" class="pull-left"><i class="fa fa-check"></i></span>
            </a>                                
        </li>
<!--         <li><a href="" ng-click="delete_query('category__identifier__in')">Clear Categories</li> -->
        <!--    TODO: bind category toggle display and active query -->
    {% endverbatim %}                       
    </ul>
    <h3><i class="fa fa-signal"></i> Trending Tags</h3>
    <ul id="keywords">{% verbatim %} 
        <li ng-repeat="item in trending">
            <a href="" ng-init="toggle=!item.active" ng-click="toggle_query(toggle, 'keywords__slug__in', item.slug); toggle=!toggle;" ng-class="{active: !toggle}">#{{ item.name }}
                <span ng-show="!toggle" class="pull-left"><i class="fa fa-check"></i></span>
            </a>                        
        </li>                         
    </ul>
<!--  <li><a href="" ng-click="remove_all_queries()">Clear All</li> -->
</div>{% endverbatim %}