{% load i18n %}
<ul>Type: 
	<a href="" ng-click="add_single_query('type__in', 'all')">All</a> | 
	<a href="" ng-click="add_single_query('type__in', 'mapstory')"><i class="fa fa-comments-o"></i> {{SITE_NAME}}</a> |
	<a href="" ng-click="add_single_query('type__in', 'layer')"><i class="fa fa-comment-o"></i> StoryLayer</a>
	<span class="pull-right" style="padding-right: 35px">
	Sort by:
	<a ng-click="orderMethodUpdate('-popular_count')"> Popular | </a>
	<a ng-click="orderMethodUpdate('-date')"> Newest</a>
	</span>
</ul>

