<h3><i class="fa fa-fire"></i> What's Hot</h3>
<div class="whats-hot">
    <ul>
        <!--<li><h3><a href="" ng-click="change_api('featured');"><i class="fa fa-star"></i> Editor's Picks</a></h3></li>-->
        <li><h3><a href="" ng-click="orderMethodUpdate('-date')"><i class="fa fa-upload"></i> Recently Added</a></h3></li>
        <li><h3><a href="" ng-click="orderMethodUpdate('-rating')"><i class="fa fa-thumbs-up"></i> Top Rated</a></h3></li>
        <li><h3><a href="" ng-click="orderMethodUpdate('-popular_count')"><i class="fa fa-play"></i> Most Viewed</a></h3></li>
    </ul>
</div>