<div class="panel-group" id="accordion1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a class="clear-fix" data-toggle="collapse" data-parent="#accordion1" href="#lists">
                    <span class="pull-left"><i class="fa fa-fire"></i> What's Hot</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <div id="lists" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                        <h2><i class="fa fa-star"></i> Editors' Pick</h2>
                        <hr>
                        <h2><i class="fa fa-cloud"></i> Recently Added</h2>
                        <hr>
                        <h2><i class=""></i> Top Rated</h2>
                        <hr>
                        <h2><i class=""></i> Most Viewed</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>