<h3><i class="fa fa-fire"></i> What's Hot</h3>
<div class="whats-hot">
    <ul>
        <li>
        	<a href="" ng-click="change_api('featured');"><i class="fa fa-trophy"></i> Editor's Picks</a>
        </li>
        <li>
        	<a href="" ng-click="orderMethodUpdate('-popular_count')"><i class="fa fa-eye"></i> Most Viewed</a>
        </li>
        <li>
        	<a href="" ng-click="orderMethodUpdate('-date')"><i class="fa fa-clock-o"></i> Most Recent</a>
        </li>
        {%comment%}
        <li>
        	<a href="" ng-click="orderMethodUpdate('-popular_count')"><i class="fa fa-heart"></i> Most Favorited</a>
        </li>
        <li>
        	<a href="" ng-click="orderMethodUpdate('-rating')"><i class="fa fa-star"></i> Top Rated</a>
        </li>
     	{%endcomment%}
    </ul>
</div>