{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Explore" %} - {{ block.super}} {% endblock %}

{% block body_class %}search{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}mapstory/css/search.css" rel="stylesheet" />
{% endblock %}

{% block body_outer %}
    {% include 'search/_header.html' %}
    <div ng-show="!showUserGroup()">
        <div class="col-lg-3" style="border-right:1px solid darkgray">
            {% comment %}
            {% include 'search/_whats_hot_content.html' %}
            {% endcomment %}
            {% include 'search/_refine_content.html' %}
        </div>
        <div class="col-lg-9">
            <nav class="filter">
                <div class="input-group search-bar">
                <input name="text_search_input" id="text_search_input" ng-model="query.q" type="text"
                    class="form-control" ng-enter="search()">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search()" ng-class="{'disabled': !query.q}" type="submit" id="text_search_btn"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </nav>

            {% include 'search/_sort_filters_content.html' %}

        <div class="clearfix search-results">
            <ul>
            {% include 'search/_result_content.html' %}
            </ul>
        </div>
        {% include 'search/_pagination.html' %}
        </div>
    </div>
    <div ng-show="showUserGroup()">
        <div style="border-right:1px solid darkgray">
            {% comment %}
            {% include 'search/_whats_hot_users.html' %}
            {% include 'search/_refine_users.html' %}
            {% endcomment %}
        </div>
        <div class="col-lg-12">
            <nav class="filter">
                <div class="input-group search-bar">
                <input name="user_search_input" id="user_search_input" ng-model="query.q" type="text"
                    class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" ng-click="search()" ng-class="{'disabled': !query.q}" id="user_search_btn"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </nav>

        {% include 'search/_sort_filters_users.html' %}

        <div class="clearfix search-results">
            <ul>
            {% include 'search/_result_users.html' %}
            </ul>
        </div>
        {% include 'search/_pagination.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_script %}
  {{ block.super }}
  <script type="text/javascript">
    {% if HAYSTACK_SEARCH %}
    SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}'
    {% else %}
    SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='base' %}'
    {% endif %}
    $(function() {
        $('#text_search_input').attr('placeholder','Search for MapStories or StoryLayers ...');
        $('#keyword_search_input').attr('placeholder','Search for keyword ...');
        $('#region_search_input').attr('placeholder','Search for country or continent ...');
        $('#user_search_input').attr('placeholder', 'Search for StoryTellers or Ogranizations ...');
        $('#location_search_input').attr('placeholder', 'Search for city or country ...');
        $('#interest_search_input').attr('placeholder', 'Search for interest ...');
    });
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
