{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}
{% block title %} {% trans "Explore" %} - {{ block.super}} {% endblock %}
{% block body_class %}search{% endblock %}
{% block body_outer %}
<div ng-controller="geonode_search_controller">
    <div class="row explore-header">
        <div class="input-group col-sm-6 col-sm-offset-3">
          <span id="content-search" class="input-group-addon"  ng-click="toggle_user(); search();">
            <a> <i class="fa fa-cubes"></i> Search for Content </a>
          </span>
          <span id="user-search" class="input-group-addon" ng-click="toggle_content(); search();">
            <a> <i class="fa fa-users"></i> Search for Storytellers </a>
          </span>
        </div>
     </div>
    {% comment %} Search for Content {% endcomment %}
    <div ng-show="api_endpoint == '/api/base/search/'">
        <div class="col-lg-3 border-right">
            {% include 'search/_sidebar_bestof.html' %}
        </div>
        <div class="col-lg-9">
            <nav class="filter">
                <div class="input-group search-bar">
                    <input name="text_search_input" id="text_search_input" ng-model="query.q" type="text"
                        class="form-control" ng-enter="search()">
                    <span class="input-group-btn">
                        <button class="btn" ng-click="search()" type="submit" id="text_search_btn"><i class="fa fa-search"></i> Search</button>
                    </span>
                </div>
            </nav>
            {% include 'search/_sort_filters_content.html' %}
            <div class="clearfix search-results">
                <ul>
                    {% verbatim %}
                    <li ng-repeat="item in results | orderBy: orderMethod" resource-id="{{ item.id }}" class="col-md-4 flip-container resource-{{ item.id }}" ng-if="((item.type === 'mapstory' || item.type === 'layer') && (item.is_published == true || item.owner__username  == django.user))">
                    {% endverbatim %}
                    {% include 'search/_result_content.html' %}
                </ul>
            </div>
            <div class="pull-right">{% include 'search/_pagination.html' %}</div>
        </div>
    </div>
    {% comment %} Search for Storytellers {% endcomment %}
    <div ng-show="api_endpoint == '/api/owners/'">
        <div class="col-lg-3 border-right">
            {% include 'search/_refine_profiles.html' %}
        </div>
        <div class="col-lg-9">
            <nav class="filter">
                <div class="input-group search-bar">
                    <input name="user_search_input" id="user_search_input" ng-model="query.q" type="text"
                        class="form-control" ng-enter="search()">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" ng-click="search()" ng-class="{'disabled': !query.q}" id="user_search_btn"><i class="fa fa-search"></i> Search</button>
                    </span>
                </div>
            </nav>
            {% include 'search/_sort_filters_users.html' %}
            <div class="clearfix user search-results">
                <ul>{% include 'search/_result_users.html' %}</ul>
            </div>
            {% include 'search/_pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}
