<div class="modal-header">
    <h3 class="modal-title">Create a new StoryLayer<img class="import-wizard-icon" ng-src="{{ modalImage }}"/></h3>
</div>
<div class="modal-body row">
    <div class="col-sm-12 col-md-12 col-lg-12 import-wizard-modal">
        <wizard on-finish="createLayer()">

            <wz-step title="Name" canexit="nameValid">
                <h3><strong>Name your StoryLayer</strong></h3>
                <p>Descriptive layer names make it easy for others to find your data.</p>
                <form name="importOptionsForm" class="form-horizontal import-options-form">
                    <div class="form-group">
                        <input id="layerName" placeholder="My StoryLayer" type="text" class=input-lg ng-model="layer.configuration_options.name">
                    </div>

                    <div class="import-wizard-button">
                        <button class="btn" type="submit" wz-next value="Continue">Continue <i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                </form>
            </wz-step>

            <wz-step title="Type" canexit="true">
                <h3><strong>Choose Type of StoryLayer</strong></h3>
                <p>Next, lets determine what kind of StoryLayer you want to create. Here is a list of each kind of StoryLayer you can make, and a link
                    to an example so you can see what they look like:</p>
                <form name="importOptionsForm" class="form-horizontal import-options-form">
                    <div class="form-group">
                        <label for="geometry_type" class="col-sm-4 col-xs-4 col-md-4 control-label">Geometry Type:</label>
                        <select ng-model="layer.configuration_options.attributes.attribute[0].binding" class="col-md-5 col-xs-5 col-sm-5 input-md"
                                id="geometry_type">
                            <option value="">--Please select a geometry--</option>
                            <option ng-repeat="option in geometryTypes" ng-selected="option.value == layer.configuration_options.geom_type"
                                    value="{{ option.value }}">{{ option.label }}</option>
                        </select>
                    </div>
                </form>

                <div class="import-wizard-button">
                    <button class="btn" type="submit" wz-next value="Continue">Continue <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </wz-step>

            <wz-step title="Add Attributes">
                <h3><strong>Add attributes</strong></h3>
                <form name="attributes" class="form-horizontal import-options-form">
                    <p>Now, define your attributes for this StoryLayer. Attributes are pieces of information that explain a feature.
                        For example, if you are collecting features about libraries, your Attributes might be "Year Founded" and "Library Name".
                        One thing to note: don't give any of your attributes the title "name". This will cause errors in the creation process.</p>
                    <div style="padding-top: 10px" class="col-md-offset-9">
                        <button class="btn btn-default btn-xs" ng-click="addDefaultAttribute()"><i class="fa fa-plus-circle"></i> Add Field</button>
                    </div>
                    <div class="form-group" style="padding-top: 15px"
                         ng-repeat="field in layer.configuration_options.attributes.attribute | filter: {name:'!geometry'} ">
                        <label for="fieldName-{{$index}}" class="col-sm-4 col-xs-4 col-md-4 control-label">Field name:</label>
                        <input id="fieldName-{{$index}}" class="pull-left" placeholder="Field name" ng-model="field.name" value="field.name"/>
                        <label for="fieldType-{{$index}}" class="col-sm-4 col-xs-4 col-md-4 control-label">Field type:</label>
                        <select ng-model="field.binding" id="fieldType-{{$index}}" class="col-md-5 col-xs-5 col-sm-5 input-md">
                            <option value="" ng-selected="!field.binding">--Please select a field--</option>
                            <option ng-repeat="option in attributeTypes" ng-selected="field.binding === option.value"
                                    value="{{ option.value }}">{{ option.label }}</option>
                        </select>
                        <label for="fieldNillable-{{$index}}" class="col-sm-4 col-xs-4 col-md-4 control-label">Required:</label>
                        <input type="checkbox" class="pull-left" id="fieldNillable-{{$index}}" ng-model="field.nillable" ng-true-value="false"
                               ng-false-value="true">
                        <div style="clear:left;">
                            <a ng-click="remove(field)" href="#">Delete this Field</a>
                        </div>
                    </div>
                    <div class="import-wizard-button">
                        <button class="btn" type="submit" wz-next value="Continue">Continue <i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                </form>
            </wz-step>

            <wz-step title="Time" wz-disabled="{{ appending(true) }}" canexit="layer.configuration_options.start_date != null" class="row">
                <div class="modal-content-inner">
                    <div class="gray-container">
                        <div class="step-title">Configure Time</div>
                        <div>All datasets uploaded must contain time information. If the dataset contains only one timeslice, add a column
                            indicating
                            the timeslice.</div>
                        <form name="importOptionsForm" class="form-horizontal import-options-form">
                            <div class="form-group">
                                <label for="start_date" class="col-sm-4 col-xs-4 col-md-4 control-label">Start Time</label>
                                <select ng-model="layer.configuration_options.start_date" class="col-md-5 col-xs-5 col-sm-5 input-md" id="start_date"
                                        ng-required='layer.configuration_options'>
                                    <option value="" ng-selected="'' == layer.configuration_options.start_date">--Please select a field--</option>
                                    <option ng-repeat="option in layer.configuration_options.attributes.attribute" ng-selected="option.name == layer.configuration_options.start_date"
                                            value="{{ option.name }}">{{ option.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="end_date" class="col-sm-4 col-xs-4 col-md-4 control-label">Optional End Time</label>
                                <select ng-model="layer.configuration_options.end_date" class="col-md-5 col-xs-5 col-sm-5 input-md" id="end_date">
                                    <option value="" ng-selected="'' == layer.configuration_options.end_date">--Please select a field--</option>
                                    <option ng-repeat="option in layer.configuration_options.attributes.attribute" ng-selected="option.name == layer.configuration_options.end_date"
                                            value="{{ option.name }}">{{ option.name }}</option>
                                </select>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row modal-content-footer">
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-previous value="Previous Step"><i class="fa fa-arrow-left"></i> Previous Step
                        </button>
                    </div>
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-next value="Next Step">Next Step <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </wz-step>
            <!--
            <wz-step title="Permissions" wz-disabled="{{ appending(true) }}">
                <img class="import-wizard-image" ng-src="{{ staticUrl }}mapstory/img/edit.png"/>
                <h3><strong>Allow other users to edit this data?</strong></h3>
                <p>StoryLayers are better when multiple authors work together. Would you like to enable editing?</p>
                <div class="btn-group" ng-init="layer.configuration_options.editable = true">
                    <label class="btn btn-success" ng-model="layer.configuration_options.editable" uib-btn-radio="true">Yes</label>
                    <label class="btn" ng-model="layer.configuration_options.editable" uib-btn-radio="false">No</label>
                </div>
                <div class="import-wizard-button">
                    <button class="btn" type="submit" wz-next value="Continue">Continue <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </wz-step>
            -->
            <wz-step title="Create">
                <h3><strong>Ok, we're ready to create the StoryLayer!</strong></h3>
                <p>Click below to create your StoryLayer</p>
                <div>
                    <div class="clrs-green fnt-weight-400" ng-show="success">Your new StoryLayer<span ng-show="created_layers.length > 1">s are</span><span
                            ng-show="created_layers.length > 1"> is</span> ready.
                    </div>
                    <div class="clrs-green fnt-weight-400" ng-repeat="created_layer in created_layers" ng-show="success">View the <a
                            href="{{ created_layer.url }}?showMetadata=true" class="fnt-weight-600" target="_self">StoryLayer</a>.
                    </div>
                    <div class="clrs-red fnt-weight-400" ng-show="errors.length">StoryLayer creation has failed.</div>
                    <div class="clrs-red fnt-weight-400" ng-repeat="error in errors" ng-show="errors.length"><span
                            style="font-weight: 600">{{ error[0] }}:</span> {{ error[1] }}</div>
                </div>
                <div class="import-wizard-button">
                    <i class="fa fa-spinner fa-spin fa-3x" ng-show="processing"></i>
                    <button class="btn" ng-show="!processing && !success" type="submit" wz-next value="Continue">Create my StoryLayer <i
                            class="fa fa-arrow-circle-right"></i></button>
                </div>
                <div>
                    <ul class="import-wizard-error-list" ng-show="errorMessages">
                        <li class="clrs-red" style="" ng-repeat="error in errorMessages">{{ error }}</li>
                    </ul>
                </div>

            </wz-step>
        </wizard>
    </div>
</div>
<div class="modal-footer">
    <span class="pull-left modal-footer-help"><button class="btn btn-primary" type="button" ng-click="ok()">Close</button></span>
    <span class="pull-right modal-footer-help">Learn more about<a href="/getstarted" target="_blank">creating data.</a></span>
</div>