<div class="modal-header">
    <div class="modal-title text-center lgText">{{ appending() === true ? "Append Wizard" : "Import Layer Wizard"}}<i
            class="fa fa-times pointer import-wizard-icon"
            ng-click="ok()"></i></div>
</div>
<div class="modal-body row">
    <div class="col-md-12">
        <wizard on-finish="importLayer()">
            <wz-step title="Schema" wz-disabled="{{ appending() === true ? false : 'true' }}" class="row">
                <div class="modal-content-inner">
                    <p>Instead of adding edits to data one-by-one, with Append you can bulk upload a set of edits all at once. To Append, download a
                        blank
                        schema below, add your features to it, and proceed with your upload here</p>

                    <a class="btn" href="/layers/download-append-shp" target="_self">Download SHP</a>
                    <a class="btn" href="/layers/download-append-csv" target="_self">Download CSV</a>

                    <div class="import-wizard-button">
                        <button class="btn btn-lg btn-brand" type="submit" wz-next value="Let's Begin!">Let's Begin! <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </wz-step>

            <wz-step title="Add File" wz-disabled="{{ appending() === true ? false : 'true' }}" canexit="layer != null" class="row">
                <div class="modal-content-inner" ng-controller="UploaderController">
                    <div class="gray-container">
                        <div>Upload your feature edits.</div>
                        <p>Upload the blank file you downloaded earlier that now has your new feature edits added. Once your append
                            is complete, you should see all of your new features added as edits to this layer.</p>

                        <div class="row">
                            <div id="append-file-info">No file selected...</div>
                        </div>
                        <div class="row">
                            <label class="btn bt-large btn-brand" for="append-file-selector">
                                <input id="append-file-selector" type="file" style="display:none;" nv-file-select uploader="uploader"
                                       onchange="$('#append-file-info').html($(this).val().substring(12));">
                                Select File...
                            </label>
                        </div>

                        <div>
                            <div ng-repeat="fields in errors" class="clrs-red">
                                <div ng-repeat="error in fields" class="clrs-red">
                                    <i class="fa fa-warning" ng-show="error"></i> {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row modal-content-footer">
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-previous value="Previous Step"><i class="fa fa-arrow-left"></i> Previous Step
                        </button>
                    </div>
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-next value="Next Step">Next Step <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </wz-step>

            <wz-step title="Time" wz-disabled="{{ appending() === true ? false : 'true' }}" canexit="layer.configuration_options.start_date != null" class="row">
                <div class="modal-content-inner">
                    <div class="gray-container">
                        <div class="step-title">Configure Time</div>
                        <div>All datasets uploaded must contain time information. If the dataset contains only one timeslice, add a column
                            indicating
                            the timeslice.</div>
                        <form name="importOptionsForm" class="form-horizontal import-options-form">
                            <div class="form-group">
                                <label for="start_date" class="col-sm-4 col-xs-4 col-md-4 control-label">Start Time</label>
                                <select ng-model="layer.configuration_options.start_date" class="col-md-5 col-xs-5 col-sm-5 input-md" id="start_date"
                                        ng-required='layer.configuration_options'>
                                    <option value="" ng-selected="'' == layer.configuration_options.start_date">--Please select a field--</option>
                                    <option ng-repeat="option in layer.fields" ng-selected="option.name == layer.configuration_options.start_date"
                                            value="{{ option.name }}">{{ option.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="end_date" class="col-sm-4 col-xs-4 col-md-4 control-label">Optional End Time</label>
                                <select ng-model="layer.configuration_options.end_date" class="col-md-5 col-xs-5 col-sm-5 input-md" id="end_date">
                                    <option value="" ng-selected="'' == layer.configuration_options.end_date">--Please select a field--</option>
                                    <option ng-repeat="option in layer.fields" ng-selected="option.name == layer.configuration_options.end_date"
                                            value="{{ option.name }}">{{ option.name }}</option>
                                </select>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row modal-content-footer">
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-previous value="Previous Step"><i class="fa fa-arrow-left"></i> Previous Step
                        </button>
                    </div>
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-next value="Next Step">Next Step <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </wz-step>

            <wz-step title="Append" wz-disabled="{{ appending() === true ? false : 'true' }}" class="row">
                <div class="modal-content-inner">
                    <div class="gray-container">
                        <div ng-hide="success"><strong>Configuration done! Click the button below to append your data to the layer.</strong></div>
                        <div>
                            <div class="clrs-green fnt-weight-400 row" ng-show="success"> Congratulations! Your data has been appended.
                            </div>
                            <div class="clrs-red fnt-weight-400 row" ng-show="errors">Layer creation has failed. Please adjust your configuration and
                                try
                                again.
                            </div>
                            <div class="row" ng-show="processing">
                                <a href="{{ layer.geonode_layer.url }}?showMetadata=true" class="btn" target="_self">
                                    <button class="btn" disabled>Appending Data...</button>
                                </a>
                            </div>
                            <div class="row" ng-show="success">
                                <a href="{{ layer.geonode_layer.url }}?showMetadata=true" class="btn" target="_self">
                                    <button class="btn pointer">View Layer</button>
                                </a>
                            </div>
                        </div>
                        <div class="import-wizard-button">
                            <i class="fa fa-spinner fa-spin fa-3x" ng-show="processing"></i>
                            <button class="btn btn-lg btn-brand" ng-show="!processing && !success" type="submit" wz-next value="Continue">Append Data</button>
                        </div>
                        <div>
                            <ul class="import-wizard-error-list" ng-show="errorMessages">
                                <li class="clrs-red" ng-repeat="error in errorMessages">{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </wz-step>

            <wz-step title="Check Your Data" class="row" wz-disabled="{{ appending(true) }}" class="row">
                <div class="modal-content-inner" ng-controller="UploaderController">
                    <div class="step-title">Before we begin</div>
                    <div class="smText text-center">Make sure that your dataset is ready to go.</div>
                    <div class="smText text-center">Learn more about <a href="/getstarted">importing your data.</a></div>

                    <div class="row">
                        <div class="col-md-4 smText"><img ng-src="{{ staticUrl }}mapstory/img/file_types.png">Must be in CSV or zipped SHP format.
                        </div>
                        <div class="col-md-4 smText"><img ng-src="{{ staticUrl }}mapstory/img/clock.png">Must contain columns for time information.
                        </div>
                        <div class="col-md-4 smText"><img ng-src="{{ staticUrl }}mapstory/img/projection.png">Must be in a common projection such as 4326, 3857, or 900913.</div>
                    </div>

                    <div class="import-wizard-button">
                        <button class="btn btn-lg btn-brand" type="submit" wz-next value="Let's Begin!">Let's Begin!</button>
                    </div>
                </div>
            </wz-step>

            <wz-step title="Add File" wz-disabled="{{ appending(true) }}" canexit="layer != null" class="row">
                <div class="modal-content-inner" ng-controller="UploaderController">
                    <div class="gray-container" ng-hide="layer.state=='UPLOADED'">
                        <div class="step-title">Add your data.</div>
                        <p class="smText">You can upload data in .csv and zipped shapefile formats.</p>
                        <div class="row">
                            <div id="upload-file-info">No file selected...</div>
                        </div>
                        <div class="row">
                            <label class="btn bt-large btn-brand" for="my-file-selector">
                                <input id="my-file-selector" type="file" style="display:none;" nv-file-select uploader="uploader"
                                       onchange="$('#upload-file-info').html($(this).val().substring(12));">
                                <span ng-show="uploadInProgress">{{ uploadProgressText }}</span>
                                <span ng-show="!uploadInProgress">Select File...</span>
                            </label>
                        </div>

                        <div>
                            <div ng-repeat="fields in errors" class="clrs-red">
                                <div ng-repeat="error in fields" class="clrs-red">
                                    <i class="fa fa-warning" ng-show="error"></i> {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gray-container" ng-show="layer.state=='UPLOADED'">
                        <div class="step-title">Great, We've got your data!</div>
                        <p class="smText">Proceed to the next step to configure your layer.</p>
                        <p class="smText" ng-show="layer.file_type">{{ layer.file_type}} ({{layer.file_size}})</p>
                        <p class="smText" ng-show="layer.feature_count">Features: {{ layer.feature_count | number }}</p>
                        <p class="smText" ng-show="layer.feature_count">Attributes: {{ layer.fields.length | number }}</p>
                        <p class="smText" ng-show="layer.state">Status: {{ layer.state }}</P>
                    </div>
                </div>
                <div class="row modal-content-footer">
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-previous value="Previous Step"><i class="fa fa-arrow-left"></i> Previous Step
                        </button>
                    </div>
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-next value="Next Step">Next Step <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </wz-step>

            <wz-step title="Title" wz-disabled="{{ appending(true) }}" class="row">
                <div class="modal-content-inner">
                    <div class="gray-container">
                        <div class="step-title">Add Title</div>
                        <div>Descriptive layer titles make it easy for others to find your data.</div>
                        <form name="importOptionsForm" class="form-horizontal import-options-form">
                            <div class="form-group">
                                <input id="layerName" type="text" class=input-lg ng-model="layer.configuration_options.name">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row modal-content-footer">
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-previous value="Previous Step"><i class="fa fa-arrow-left"></i> Previous Step
                        </button>
                    </div>
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-next value="Next Step">Next Step <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </wz-step>

            <wz-step title="Time" wz-disabled="{{ appending(true) }}" canexit="layer.configuration_options.start_date != null" class="row">
                <div class="modal-content-inner">
                    <div class="gray-container">
                        <div class="step-title">Configure Time</div>
                        <div>All datasets uploaded must contain time information. If the dataset contains only one timeslice, add a column
                            indicating
                            the timeslice.</div>
                        <form name="importOptionsForm" class="form-horizontal import-options-form">
                            <div class="form-group">
                                <label for="start_date" class="col-sm-4 col-xs-4 col-md-4 control-label">Start Time</label>
                                <select ng-model="layer.configuration_options.start_date" class="col-md-5 col-xs-5 col-sm-5 input-md" id="start_date"
                                        ng-required='layer.configuration_options'>
                                    <option value="" ng-selected="'' == layer.configuration_options.start_date">--Please select a field--</option>
                                    <option ng-repeat="option in layer.fields" ng-selected="option.name == layer.configuration_options.start_date"
                                            value="{{ option.name }}">{{ option.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="end_date" class="col-sm-4 col-xs-4 col-md-4 control-label">Optional End Time</label>
                                <select ng-model="layer.configuration_options.end_date" class="col-md-5 col-xs-5 col-sm-5 input-md" id="end_date">
                                    <option value="" ng-selected="'' == layer.configuration_options.end_date">--Please select a field--</option>
                                    <option ng-repeat="option in layer.fields" ng-selected="option.name == layer.configuration_options.end_date"
                                            value="{{ option.name }}">{{ option.name }}</option>
                                </select>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row modal-content-footer">
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-previous value="Previous Step"><i class="fa fa-arrow-left"></i> Previous Step
                        </button>
                    </div>
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-next value="Next Step">Next Step <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </wz-step>
            <!--
            <wz-step title="Editing" wz-disabled="{{ appending(true) }}" class="row">
                <div class="modal-content-inner">
                    <div class="gray-container">
                        <div class="step-title">Community Editing</div>
                        <div>Layers are bettter when multiple authors work together. Would you like to enable editing?</div>
                        <div class="row mt30">
                            <div class="mt10">
                                <input type="radio" ng-model='layer.configuration_options.editable' ng-value="true"> Yes, I would like to enable
                                community
                                editing.
                            </div>
                            <div class="mt10">
                                <input type="radio" ng-model='layer.configuration_options.editable' ng-value="false"> No, I would like to disable
                                community editing.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row modal-content-footer">
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-previous value="Previous Step"><i class="fa fa-arrow-left"></i> Previous Step</button>
                    </div>
                    <div class="col-md-6 import-wizard-button">
                        <button class="btn btn-block" type="submit" wz-next value="Next Step">Next Step <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </wz-step>
            -->
            <wz-step title="Import" wz-disabled="{{ appending(true) }}" class="row">
                <div class="modal-content-inner">
                    <div class="gray-container">
                        <div class="step-title" ng-hide="success">Ready to Import!</div>
                        <div ng-hide="success || errors">Click the button below to begin the import of {{ layer.feature_count | number }} features from your {{ layer.file_type }}.</div>
                        <div ng-if="layer.feature_count > 70000 && processing">It looks like your data contains quite a few features. Awesome! This import may take awhile. We'll email you when it is ready for use. Feel free to stick around but it is safe to close this modal and continue using the site.</div>
                        <div>
                            <div class="step-title" ng-show="success">Congratulations! Click below to view your new Layer.</div>
                            <div ng-show="errors">We're sorry but our import service is currently unavailable.  Please try again later.</div>
                            <div class="import-wizard-button">
                                <button class="btn btn-lg btn-brand" ng-show="!processing && !success && !errors" type="submit" wz-next value="Continue">Import Layer</button>
                            </div>
                            <div ng-show="processing">
                                <div class="row">
                                    <a href="{{ layer.geonode_layer.url }}?showMetadata=true" class="btn" target="_self">
                                        <button class="btn btn-lg" disabled><i class="fa fa-spinner fa-spin fa-1x"></i>&nbsp;Importing Layer...</button>
                                    </a>
                                </div>
                            </div>
                            <div class="row" ng-show="success">
                                <a href="{{ layer.geonode_layer.url }}?showMetadata=true" class="btn" target="_self">
                                    <button class="btn btn-lg btn-brand">View Layer</button>
                                </a>
                            </div>
                        </div>
                        <div>
                            <ul class="import-wizard-error-list" ng-show="errorMessages">
                                <li class="clrs-red" ng-repeat="error in errorMessages">{{ error }}</li>
                            </ul>
                        </div>
                    </div>
            </wz-step>
        </wizard>
    </div>
</div>