{% load i18n avatar_tags %}
{% load staticfiles i18n %}
{% verbatim %}
<div id="container" ng-init="selected = {layers:true}">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header col-md-2">
                {% include "branding/maps_composer_body_title.html" %}
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav" id="tl-nav">
                    <li id="tl-nav-layers" class="navbar-menu" ng-class="selected.layers && 'active'"><a ng-click="selected = {layers:true}">StoryLayers</a></li>
                    <li id="tl-nav-style" class="navbar-menu" ng-class="selected.style && 'active'"><a ng-click="selected = {style:true}">StoryStyles</a></li>
                    <li id="tl-nav-boxes" class="navbar-menu" ng-class="selected.boxes && 'active'"><a ng-click="selected = {boxes:true}">StoryBoxes</a></li>
                    <li id="tl-nav-pins" class="navbar-menu" ng-class="selected.pins && 'active'"><a ng-click="selected = {pins:true}">StoryPins</a></li>
                    <li id="tl-nav-preview" class="navbar-menu" ng-class="selected.preview && 'active'"><a ng-click="selected = {preview:true}">StoryPreview</a></li>
                    <!--li ng-class="selected.debug && 'active'"><a ng-click="selected = {debug:true}">Debug</a></li-->
                    <li><div class="spacer"></div></li>
                </ul>

                {% endverbatim %}
                <ul class="nav navbar-nav nav-pills navbar-right" id="navbar-avatar-login">
                    <li class="dropdown">
                        {% if user.is_authenticated %}
                    <li class="user-avatar">
                        <img class="img-circle" src="{% avatar_url user 35 %}" width="30" height="30"/>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="admin-icon">
                            {{ user.username }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "layer_upload" %}"><i class="fa fa-cloud-upload"></i> {% trans "Upload Layers" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url "profile_detail" slug=user.username %}"><i class="fa fa-user"></i> {% trans "Profile" %}</a></li>
                            <li><a href="{% url "recent-activity" %}"><i class="fa fa-fire"></i> {% trans "Recent Activity" %}</a></li>
                            <li><a href="{% url "messages_inbox" %}"><i class="fa fa-inbox"></i> {% trans "Inbox" %}</a></li>
                            {% if perms.announcements.can_manage %}
                            <li><a href="{% url "announcements_list" %}"><i class="fa fa-bullhorn"></i> {% trans "Announcements" %}</a></li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li><a href="{% url "services" %}"><i class="fa fa-globe"></i> {% trans "Remote Services" %}</a></li>
                            <li><a href="{% url "account_invite_user" %}"><i class="fa fa-edit"></i> {% trans "Invite User" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ GEOSERVER_BASE_URL }}"><i class="fa fa-gears"></i> {% trans "GeoServer" %}</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                            <li><a href="{% url "admin:index" %}"><i class="fa fa-cog"></i> {% trans "Admin" %}</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a title="Help" rel="tooltip" href="/help/"><i class="fa fa-question-circle"></i> {% trans "Help" %}</a></li>
                            <li class="divider"></li>
                            <li>
                                <form action="{% url "account_logout" %}" id="logout_form" method="post">
                                {% csrf_token %}
                                <a class="navbar-logout" href="javascript:{}" onclick="document.getElementById('logout_form').submit();"><i class="fa fa-sign-out"></i> {% trans "Log out" %}</a>
                                </form>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="navbar-menu">
                        <a role="button" id="login-icon" data-toggle="modal" data-target="#loginModal">
                            <i class="fa fa-user"></i>
                        </a>
                    <li/>
                    {% endif %}
                    </li>
                </ul>
                {% verbatim %}
            </div>
        </div>
    </div>
    <div id="main">
        <div id="content">
            <div id="middle">
                <div id="storyHeader" class="floating" ng-show="selected.preview">
                    <div id="storyTitle"><a target="_blank" href="/maps/{{ mapManager.storyMap.get('id')}}/viewer"><span ng-bind="mapManager.storyMap.getStoryTitle()"></span></a></div>
                    <div id="storyAuthor" ng-bind="mapManager.storyMap.getStoryOwner()"></div>
                </div>
                <div class="stLegend" ng-show="selected.preview"></div>
                <div id="map"></div>
            </div>

            <div ng-show="selected.layers" class="floating col-lg-4">
                <layer-list map="map"></layer-list>
            </div>

            <div ng-show="selected.style" class="floating col-lg-4 ng-hide">
                <accordion close-others="true">
                    <accordion-group ng-repeat="layer in mapManager.storyMap.getStoryLayers().getArray()" is-open="accordianOpen" ng-init="accordianOpen = $first">
                        <accordion-heading>
                            {{layer.get('title')}}
                        </accordion-heading>
                        <!-- to reduce watchers, add ng-if=accordianOpen -->
                        <style-editor class="minheight" control="{carousel:true, default:false}" layer="layer" on-change="styleChanged"></style-editor>
                    </accordion-group>
                </accordion>
            </div>
            <div id="boxes-editor" ng-if="selected.boxes" class="floating col-lg-8 col-lg-offset-2" boxes-editor>
                <div class="panel">
                    <div class="panel-heading"><h4>StoryBox Editor</h4></div>
                    <div class="panel-body">
                        <box-chooser></box-chooser>
                        <box-editor></box-editor>
                    </div>
                </div>
            </div>
            <!-- @todo style-editor-item class used for convenience -->
            <div id="pins-editor" ng-if="selected.pins" class="floating col-lg-6 style-editor-item" pins-editor pins-overlay="mapManager.storyMap.overlay">
                <accordion close-others="false" ng-init="open={chooser:true,editor:false}">
                    <accordion-group heading="StoryPins" is-open="open.chooser">
                        <button>Bulk Upload</button>
                        <button ng-click="pinsCtrl.editStoryPin(); open.editor=true">Add StoryPin</button>
                        <pin-chooser pin-selected="open.editor=true"></pin-chooser>
                    </accordion-group>
                    <accordion-group is-open="open.editor">
                        <accordion-heading><div ng-bind="pinsCtrl.isEditing() ? 'Edit StoryPin ' + pinsCtrl.currentPin.title : 'Add StoryPin'"></div></accordion-heading>
                        <div pin-editor>
                            <pin-editor-form></pin-editor-form>
                            <button class="btn btn-block" ng-disabled="!pinCtrl.isFormValid()" ng-click="pinsCtrl.saveStoryPin()">Save</button>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
            {% include "branding/maps_composer_body_accordion.html" %}
            <div ng-show="selected.debug" class="floating ng-hide col-lg-8" style="max-height: 75%; overflow: auto; background:white">
                <div class="panel">
                    <div ng-repeat="lyr in mapManager.storyMap.getStoryLayers().getArray()">
                        <h4>ID: {{ lyr.get('id') }}</h4>
                        <pre>title = {{ lyr.get('title') | json }}</pre>
                        <pre ng-repeat="time in lyr.get('times')">
                            {{ time |isodate }}
                        </pre>
                        <pre>layerInfo = {{ layerProperties(lyr)|json }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class='floating-below' ng-show="timeControlsManager.timeControls && timeControlsManager.timeControls.timeEnabled">
        <div class="panel-group" id="currentBox" ng-show="timeControlsManager.timeControls && timeControlsManager.timeControls.getCurrentBox().get('title') && selected.preview">
            <div class="panel panel-default" id="story-box-accordion">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="story-box-title" data-toggle="collapse" data-target="#collapseOne" class="collapsed">
                        </a>
                    </h4>

                </div>
                <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                    <div id="story-box-description" class="panel-body"></div>
                </div>
            </div>
        </div>
        <div id="time-controls-panel">
            <div class="navbar" ng-controller="tileProgressController">
                <st-playback-controls class="container-full" time-controls="timeControlsManager.timeControls"></st-playback-controls>
                <progressbar ng-show="false" animate="false" style="width: 15%; margin:6px 0; font-size:14px" class="navbar-nav navbar-right" value="tilesLoadedProgress"><b ng-if="tilesLoaded" ng-bind="tilesLoaded + '/' + tilesToLoad" style="color:black"></b></progressbar>
            </div>
            <div id="timeline" style="display: none;"></div>
        </div>
    </div>
</div>

{% endverbatim %}
<!-- save modal defined in story-about-info.html -->
{% include "branding/maps_composer_body_savemodal.html" %}