{% load staticfiles %}
<!-- compiled JavaScript -->
{% comment %}
    @todo generate this from StoryTools
{% endcomment %}

        <script src="{{STATIC_URL}}vendor/angular/angular.min.js" ></script>
        <script src="{{STATIC_URL}}vendor/jquery/dist/jquery.min.js"></script>
        <script src="{{STATIC_URL}}vendor/nouislider/distribute/jquery.nouislider.min.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="{{STATIC_URL}}vendor/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>

        <script src="{{STATIC_URL}}mapstory/js/tools/ol-debug.js" ></script>
        <script src="{{STATIC_URL}}mapstory/js/tools/story-tools-core-tpls.js"></script>
        <script src="{{STATIC_URL}}mapstory/js/tools/story-tools-edit-tpls.js"></script>
        <script src="{{STATIC_URL}}mapstory/js/tools/story-tools-core.js"></script>
        <script src="{{STATIC_URL}}mapstory/js/tools/story-tools-edit.js"></script>
        <script src="{{STATIC_URL}}mapstory/js/tools/story-tools-core-ng.js"></script>
        <script src="{{STATIC_URL}}mapstory/js/tools/story-tools-edit-ng.js"></script>
        <script src="{{STATIC_URL}}mapstory/js/tools/ows.js"></script>
        <script src="{{STATIC_URL}}mapstory/js/tools/story-tools-mapstory.js"></script>
        <script src="{{STATIC_URL}}mapstory/js/tools/composer.js"></script>

{% comment %}
    dependencies introduced by mapstory work
{% endcomment %}
