{% load staticfiles i18n%}

<div class="panel-group col-sm-3 sortable ui-sortable" id="PinsAccordion">
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#PinsAccordion" data-target="#NewPin">Add a StoryPin</div>
        <div id="NewPin" class="panel-collapse collapse">
            <div class="panel-body" style="max-height:450px; overflow-y:scroll; overflow-x:hidden;">
                <div class="col-sm-12">
                    <form>
                        <label for="inputLayerTitle">StoryPin Title</label> <input class="form-control" type="text" id="inputLayerTitle" placeholder="Title">
                        <br> <label for="inputAbstract">Abstract</label>
                        <textarea id="inputAbstract" class="form-control" rows="2" placeholder="Summary"></textarea>
                        <br>
                        <!--Media Buttons Buttons-->
                        <label>Add media</label> <br>
                        <button data-toggle="tooltip" title="Add a new feature" class="btn">
                            <i class="glyphicon glyphicon-hand-up"></i>
                        </button>
                        <button data-toggle="tooltip" title="Modify an existing feature's geometry/attribute" class="btn">
                            <i class="glyphicon glyphicon-camera"></i>
                        </button>
                        <button data-toggle="tooltip" title="Delete a feature" class="btn">
                            <i class="glyphicon glyphicon-film"></i>
                        </button>
                        <button data-toggle="tooltip" title="Get feature information" class="btn">
                            <i class="glyphicon glyphicon-headphones"></i>
                        </button>
                        <br> <hr>
                        <table class="table table-bordered table-condensed table-hover" style="background-color: white">
                            <caption style="text-align: left">
                                StoryPin Location
                                <button data-toggle="tooltip" title="Adjust geographic coordinates" class="btn btn-default btn-sm pull-right">
                                    <i class="glyphicon glyphicon-screenshot"></i>
                                </button>
                                <br> <br>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>Latitude</td>
                                    <td><input class="form-control" type="text" placeholder="DD.MMSSSS"></td>
                                </tr>
                                <tr>
                                    <td>Longitude</td>
                                    <td><input class="form-control" type="text" placeholder="DD.MMSSSS"></td>
                                </tr>
                                <tr>
                                    <td>Start Time</td>
                                    <td><input class="form-control" type="text" placeholder="YYYY-MM-DD:HH:mm:ss"></td>
                                </tr>
                                <tr>
                                    <td>End Time</td>
                                    <td><input class="form-control" type="text" placeholder="YYYY-MM-DD:HH:mm:ss"></td>
                                </tr>
                            </tbody>
                        </table>
                        <label>Options</label> <label class="checkbox"> <input type="checkbox" value=""> Show in Timeline
                        </label> <label class="checkbox"> <input type="checkbox" value=""> Enable clustering
                        </label>
                        <a class="btn btn-block">
                            Add Pin
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Add Pin Header-->
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#PinsAccordion" data-target="#NewNote">Add a StoryNote</div>
        <!-- Pin form-->
        <div id="NewNote" class="panel-collapse collapse">
            <div class="panel-body" style="max-height:450px; overflow-y:scroll; overflow-x:hidden;">
                <div class="col-sm-12">
                    <form style="width:100%">
                        <label for="inputLayerTitle">StoryNote Title</label> <input class="form-control" type="text" id="inputLayerTitle" placeholder="Title">
                        <br> <label for="inputAbstract">Abstract</label>
                        <textarea id="inputAbstract" class="form-control" rows="2" placeholder="Summary"></textarea>
                        <br>
                        <label>Add media</label> <br>
                        <button data-toggle="tooltip" title="Add a new feature" class="btn btn-success">
                            <i class="glyphicon glyphicon-hand-up"></i>
                        </button>
                        <button data-toggle="tooltip" title="Modify an existing feature's geometry/attribute" class="btn btn-info">
                            <i class="glyphicon glyphicon-camera"></i>
                        </button>
                        <button data-toggle="tooltip" title="Delete a feature" class="btn btn-danger">
                            <i class="glyphicon glyphicon-film"></i>
                        </button>
                        <button data-toggle="tooltip" title="Get feature information" class="btn btn-warning">
                            <i class="glyphicon glyphicon-headphones"></i>
                        </button>
                        <br> <hr>
                        <table class="table table-bordered table-condensed table-hover" style="background-color: white">
                            <caption style="text-align: left">
                                StoryPin Location
                                <button data-toggle="tooltip" title="Adjust geographic coordinates" class="btn btn-default btn-sm pull-right">
                                    <i class="glyphicon glyphicon-screenshot"></i>
                                </button>
                                <br> <br>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>Latitude</td>
                                    <td><input class="form-control" type="text" placeholder="DD.MMSSSS"></td>
                                </tr>
                                <tr>
                                    <td>Longitude</td>
                                    <td><input class="form-control" type="text" placeholder="DD.MMSSSS"></td>
                                </tr>
                                <tr>
                                    <td>Start Time</td>
                                    <td><input class="form-control" type="text" placeholder="YYYY-MM-DD:HH:mm:ss"></td>
                                </tr>
                                <tr>
                                    <td>End Time</td>
                                    <td><input class="form-control" type="text" placeholder="YYYY-MM-DD:HH:mm:ss"></td>
                                </tr>
                            </tbody>
                        </table>
                        <label>Options</label> <label class="checkbox"> <input type="checkbox" value=""> Show in Timeline
                        </label> <label class="checkbox"> <input type="checkbox" value=""> Enable clustering
                        </label>
                        <button class="btn btn-danger btn-block">
                            <i class="glyphicon glyphicon-edit glyphicon-white"></i> Add StoryPin
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>