{% load staticfiles i18n mapstory_tags %}

<div class="panel-group col-sm-3 sortable ui-sortable" style="position:absolute; z-index:1; opacity:0.95;" id="ElementsAccordion">
    <!--Basemap Header-->
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#ElementsAccordion" data-target="#Basemap">Basemap</div>
        <!-- Basemap Content-->
        <div id="Basemap" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row well" style="padding:-15px;"> <!--image holder-->
                            <div class="col-sm-12" id="carousel-bounding-box">
                                {% comment %}
                                <div id="BasemapCarousel" class="">
                                <!--<div id="BasemapCarousel" class="carousel slide">-->
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0"><img src="{% remote_content 'png/BMosm.png' %}" /></div>
                                        <div class="item" data-slide-number="1"><img src="{% remote_content 'png/BMgoogle.png' %}" /></div>
                                        <div class="item" data-slide-number="2"><img src="{% remote_content 'png/BMgrayscale.png' %}" /></div>
                                        <div class="item" data-slide-number="3"><img src="{% remote_content 'png/BMhybrid.png' %}" /></div>
                                        <div class="item" data-slide-number="4"><img src="{% remote_content 'png/BMnight.png' %}" /></div>
                                        <div class="item" data-slide-number="5"><img src="{% remote_content 'png/BMsatellite.png' %}" /></div>
                                        <div class="item" data-slide-number="6"><img src="{% remote_content 'png/BMsolid.png' %}" /></div>
                                        <div class="item" data-slide-number="7"><img src="{% remote_content 'png/BMterrain.png' %}" /></div>
                                    </div>
                                    <!-- Carousel nav -->
                                    <a class="carousel-control left" href="#BasemapCarousel" data-slide="prev">&lsaquo;</a>
                                    <a class="carousel-control right" href="#BasemapCarousel" data-slide="next">&rsaquo;</a>
                                </div>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Map Elements Header-->
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#ElementsAccordion" data-target="#MapElements">Map Elements</div>
        <!-- Map Elements Content-->
        <div id="MapElements" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#MELegend" data-toggle="tab" style="padding:10px"><i class="text-warning glyphicon glyphicon-signal"></i></a></li>
                            <li><a href="#MEZoom" data-toggle="tab"  style="padding:10px"><i class="text-warning glyphicon glyphicon-search"></i></a></li>
                            <li><a href="#MEStoryPin" data-toggle="tab" style="padding:10px"><i class="text-warning glyphicon glyphicon-pushpin"></i></a></li>
                            <li><a href="#MEStoryBox" data-toggle="tab" style="padding:10px"><i class="text-warning glyphicon glyphicon-comment"></i></a></li>
                            <li><a href="#MEInfobox" data-toggle="tab" style="padding:10px"><i class="text-warning glyphicon glyphicon-list-alt"></i></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="MELegend" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
                                <div class="col-sm-12" style="padding:10px">
                                    <div class="alert alert-warning" align="center">
                                        <img src="{% remote_content 'elements/Legend_Hor3.png' %}" width="150" />
                                    </div>
                                    <form class="form form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Orientation</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-off="warning" data-on="warning" data-off-label='Hor' data-on-label='Ver'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Legend label</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-on="warning" data-off-label='Off' data-on-label='On'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Layer names</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-on="warning" data-off-label='Off' data-on-label='On'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="MEZoom" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
                                <div class="col-sm-12" style="padding:10px">
                                    <div class="alert alert-warning" align="center">
                                        <img src="{% remote_content 'elements/zoom.png' %}" width="150" />
                                    </div>
                                    <form class="form form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Scale</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Numerical</a></li>
                                                        <li><a href="#">Fraction</a></li>
                                                        <li><a href="#">Graphical</a></li>
                                                        <li><a href="#">Category</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="MEStoryPin" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
                                <div class="col-sm-12" style="padding:10px">
                                    <div class="alert alert-warning" align="center">
                                        <img src="{% remote_content 'elements/storypin.png' %}" width="150" />
                                    </div>
                                    <form class="form form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Anchor</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Top</a></li>
                                                        <li><a href="#">Bottom</a></li>
                                                        <li><a href="#">Left</a></li>
                                                        <li><a href="#">Right</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Theme</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Theme 1</a></li>
                                                        <li><a href="#">Theme 2</a></li>
                                                        <li><a href="#">Theme 3</a></li>
                                                        <li><a href="#">Theme 4</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Symbol</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-on="warning" data-off="warning" data-off-label='&lt;i class="icon-bullseye"&gt;&lt;/i&gt;' data-on-label='&lt;i class="icon-pushpin"&gt;&lt;/i&gt;'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Clustering</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-on="warning" data-off-label='Off' data-on-label='On'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="MEStoryBox" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
                                <div class="col-sm-12" style="padding:10px">
                                    <div class="alert alert-warning" align="center">
                                        <img src="{% remote_content 'elements/storybox.png' %}" width="250" />
                                    </div>
                                    <form class="form form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Orientation</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-off="warning" data-on="warning" data-off-label='Hor' data-on-label='Ver'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Legend label</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-on="warning" data-off-label='Off' data-on-label='On'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div> <!--Switch-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Layer names</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-on="warning" data-off-label='Off' data-on-label='On'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="MEInfobox" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
                                <div class="col-sm-12" style="padding:10px">
                                    <div class="alert alert-warning" align="center">
                                        <img src="{% remote_content 'elements/infobox.png' %}" width="150" />
                                    </div>
                                    <form class="form form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Orientation</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-off="warning" data-on="warning" data-off-label='Hor' data-on-label='Ver'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Legend label</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-on="warning" data-off-label='Off' data-on-label='On'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Layer names</label>
                                            <div class="col-md-8">
                                                <div class='make-switch switch-large' data-on="warning" data-off-label='Off' data-on-label='On'>
                                                    <input type='checkbox'>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Layout-->
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#ElementsAccordion" data-target="#Layout">Layout</div>
        <!--Layout-->
        <div id="Layout" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#LOFull" data-toggle="tab" style="padding:10px"><i class="text-warning icon icon-desktop"></i> Full</a></li>
                            <li><a href="#LOEmbed" data-toggle="tab"  style="padding:10px"><i class="text-warning icon icon-youtube-play"></i> Embed</a></li>
                            <li><a href="#LOMobile" data-toggle="tab" style="padding:10px"><i class="text-warning icon icon-phone"></i> Mobile</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="LOFull" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
                                <div class="col-sm-12" style="padding:10px">
                                    <div class="alert alert-warning" align="center">
                                        This view supports ...
                                    </div>
                                    <form class="form form-horizontal">
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">StoryBox</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">StoryPins</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">InfoBox</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Legend</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Map Controls</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Playback Controls</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="LOEmbed" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
                                <div class="col-sm-12" style="padding:10px">
                                    <div class="alert alert-warning" align="center">
                                        This view supports ...
                                    </div>
                                    <form class="form form-horizontal">
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">StoryBox</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">StoryPins</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">InfoBox</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Legend</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Map Controls</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Playback Controls</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="LOMobile" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
                                <div class="col-sm-12" style="padding:10px">
                                    <div class="alert alert-warning" align="center">
                                        This view supports ...
                                    </div>
                                    <form class="form form-horizontal">
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">StoryBox</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">StoryPins</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">InfoBox</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Legend</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Map Controls</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Dropdown--> <div class="form-group">
                                            <label class="col-md-4 control-label" for="inputText1">Playback Controls</label>
                                            <div class="col-md-8">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Default
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Option A</a></li>
                                                        <li><a href="#">Option B</a></li>
                                                        <li><a href="#">Option C</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Playback Settings-->
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#ElementsAccordion" data-target="#Playback">Playback</div>
        <!--Playback Settings-->
        <div id="Playback" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#PBAuto" data-toggle="tab" style="padding:10px"><i class="text-warning icon icon-play" ></i> Automatic</a></li>
                            <li><a href="#PBFrame" data-toggle="tab"  style="padding:10px"><i class="text-warning icon icon-fast-forward"></i> Manual</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="PBAuto" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
                                <div class="col-sm-12" style="padding:10px">
                                    Automatic Playback
                                </div>
                            </div>
                            <div class="tab-pane" id="PBFrame" style="max-height:400px; overflow-y:scroll; overflow-x:hidden">
                                <div class="col-sm-12" style="padding:10px">
                                    Frame-by-frame Playback
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
