{% load i18n %}
{% load bootstrap_tags %}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs details-tabs">
            <li class="active"><a href="#Summary" data-toggle="tab">{% trans "Summary" %}</a></li>
            <li><a href="#Related" data-toggle="tab" ng-click="query_category('{{ resource.category }}', 'map');">{% trans "Related" %}</a>
            </li>
            <li><a href="#Chapters" data-toggle="tab">{% trans "Chapters" %}</a></li>
            <li><a href="#Layers" data-toggle="tab">{% trans "Layers" %} Used</a></li>
            <li><a href="#Share" data-toggle="tab">Share</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="Summary">
                <div style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
                    {{ resource.abstract }}
                </div>
            </div>
            <div class="tab-pane" id="Chapters">
                <div style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
                    <!-- TODO: What do we want to show for chapters? -->
                    {% for item in resource.chapters %}
                        <div class="col-sm-12">
                            <div class="row boxFeature">
                                <div class="col-xs-3">
                                    <img class="thumb img-responsive" ng-src="{{ item.thumbnail_url }}"
                                         style="border-width:1px; border-style:solid; border-color:grey;"/>
                                </div>
                                <div class="col-xs-9">
                                    <h3>{{ item.title }}</h3>
                                    <p>{{ item.abstract|slice:"250"  }}<i>...read more</i></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="Layers">
                <div style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
                    {% for item in layers %}
                        <div class="col-sm-12">
                            <div class="row boxFeature">
                                <div class="col-xs-3">
                                    <a href="{{ item.detail_url }}"><img class="thumb img-responsive" ng-src="{{ item.thumbnail_url }}"
                                                                         style="border-width:1px; border-style:solid; border-color:grey;"/></a>
                                </div>
                                <div class="col-xs-9">
                                    <h3><a href="{{ item.detail_url }}">{{ item.title }}</a></h3>
                                    <p>{{ item.abstract|slice:"250"  }}<a href="{{ item.detail_url }}"><i>...read more</i></a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="Related">
                <div style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
                    {% if resource.category %}
                        <!-- TODO: Did this ever work? Not sure where the results came from... query_category? Check ng-apps -->
                        {% verbatim %}
                            <div ng-hide="results.length">
                                No related {% endverbatim %}{% trans "stories" %}{% verbatim %} found...
                            </div>
                            <div ng-show="results.length">
                                <div class="col-sm-12" ng-repeat="item in results">
                                    <div class="row boxFeature">
                                        <div class="col-xs-3">
                                            <a href="{{ item.detail_url }}"><img class="thumb img-responsive" ng-src="{{ item.thumbnail_url }}"
                                                                                 style="border-width:1px; border-style:solid; border-color:grey;"/></a>
                                        </div>
                                        <div class="col-xs-9">
                                            <h3><a href="{{ item.detail_url }}">{{ item.title }}</a></h3>
                                            <p>{{ item.abstract|limitTo:"250"  }}<a href="{{ item.detail_url }}"><i>...read more</i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endverbatim %}
                    {% else %}
                        <div style="max-height:500px; overflow-y:scroll; overflow-x:hidden">
                            No related {% trans "stories" %} found...
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="Share">
                <!-- share -->

                <div id="share">Share link: <textarea
                        style="color:#00CC99; width:100%;">http://{{ request.get_host }}{% url 'mapstory.views.map_detail' resource.id %}</textarea>
                </div>
                <!-- embed -->
                {% if resource.chapters %}

                <div id="embed">Embed link: <textarea style="color:#00CC99; width:100%;"><iframe
                        style="border: none;" height="400" width="600"
                        src="http://{{ request.get_host }}/mapstory/{{ resource.id }}/embed"></iframe></textarea></div>
                {% else %}
                <div style="display:none;" id="embed">Embed link: <textarea style="color:#00CC99; width:100%;"><iframe
                        style="border: none;" height="400" width="600"
                        src="http://{{ request.get_host }}{% url 'geonode.maps.views.map_embed' resource.id %}"></iframe></textarea>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>