{% include "mapstory/ext_header.html" %}
{% include "mapstory/geo_header.html" %}

<script type="text/javascript">
var app;
Ext.onReady(function() {
{% autoescape off %}
    $('<iframe>', {
   {% if resource.chapters %}
   src: '{%  url 'mapstory_view' resource.id %}',
   {% else %}
   src: '{%  url 'map-viewer' resource.id %}',
   {% endif %}
   id:  'myFrame',
   allowfullscreen: 'true',
   frameborder: 0,
   style:'width: 100%; height: 100%;',
   scrolling: 'no'
   }).appendTo('#embedded_map');
{% endautoescape %}
});
</script>






