{% extends "maps/map_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load url from future %}
{% load guardian_tags %}

{% block twitter-cards %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ resource.title }}" />
    {% if resource.owner.first_name != '' %}
        <meta name="twitter:description" content="By {{ resource.owner.first_name }} {{ resource.owner.last_name }}. {{ resource.abstract }}" />
    {% else %}
        <meta name="twitter:description" content="By {{ resource.owner.username }}. {{ resource.abstract }}" />
    {% endif %}
    <meta name="twitter:image" content="{{ thumbnail }}" />
    <meta name="twitter:site" content="@mapstory" />
{% endblock %}

{% block title %}{{ resource.title }} — {{ block.super }}{% endblock %}
{% block body_class %}maps{% endblock %}
{% block body_outer %}
{% include "maps/_story_details.html" %}
{% endblock %}
{% block extra_script %}
<script type="text/javascript">
  var app;
  $(document).ready(function() {
  {% autoescape off %}
      $('<iframe>', {
     {% if resource.chapters %}
     src: '{%  url 'mapstory_view' resource.slug %}',
     {% else %}
     src: '{%  url 'map-viewer' resource.id %}',
     {% endif %}
     id:  'myFrame',
     allowfullscreen: 'true',
     frameborder: 0,
     style:'width: 100%; height: 100%;',
     scrolling: 'no'
     }).appendTo('#embedded_map');
  {% endautoescape %}
  });
</script>
{% if SOCIAL_BUTTONS %}
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
  </script>
{% endif %}
{% endblock extra_script %}