{% include "mapstory/ext_header.html" %}
{% include "mapstory/app_header.html" %}
{% include "mapstory/geo_header.html" %}

<!--link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/ext-theme.css" media="screen" /-->
<script type="text/javascript">
var app;
Ext.onReady(function() {
{% autoescape off %}
  //  GeoExt.Lang.set("{{ LANGUAGE_CODE }}");
   // var config = Ext.apply({{ config }}, {
    //portalConfig: {
      //  renderTo: "embedded_map"
    //}
    //});
//app = new mapstory.Viewer(config);

//TODO: Need a better way to embed viewer

    $('<iframe>', {
   src: '/maps/{{ resource.id }}/viewer',
   id:  'myFrame',
   allowfullscreen: 'true',
   frameborder: 0,
   style:'width: 100%; height: 100%;',
   scrolling: 'no'
   }).appendTo('#embedded_map');

{% endautoescape %}
});
</script>






