<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ STATIC_URL }}mapstory/css/ol.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}mapstory/vis/dist/vis.min.css" type="text/css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/nouislider/distribute/jquery.nouislider.min.css" type="text/css">

<script src="{{STATIC_URL}}vendor/jquery/dist/jquery.min.js"></script>
<script src="{{STATIC_URL}}vendor/angular/angular.js" ></script>

<script src="{{STATIC_URL}}vendor/nouislider/distribute/jquery.nouislider.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="{{STATIC_URL}}vendor/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>

<script src="{{STATIC_URL}}mapstory/js/ol.js"></script>
<script src="{{STATIC_URL}}vendor/story-tools/dist/story-tools-core-tpls.js"></script>
<script src="{{STATIC_URL}}vendor/story-tools/dist/story-tools-core.js"></script>
<script src="{{STATIC_URL}}vendor/story-tools/dist/story-tools-core-ng.js"></script>
<script src="{{STATIC_URL}}vendor/story-tools/dist/ows.js"></script>
<script src="{{STATIC_URL}}vendor/story-tools/dist/story-tools-mapstory.js"></script>

{% include 'maps/viewer.js' %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mapstory/css/viewer.css"/>
<div ng-app="viewer" ng-controller="viewerController as viewer"id="container">
    <div id="main">
        <div id="content">
            <div id="middle">
                <div id="storyHeader">
                    {%verbatim%}
                    <div id="storyTitle">
                        <a target="_blank" href="/maps/{{ mapManager.storyMap.get('id')}}/viewer">
                            <span ng-bind="mapManager.storyMap.getStoryTitle()"></span>
                        </a>
                    </div>
                    <div id="storyAuthor" ng-bind="mapManager.storyMap.getStoryOwner()"></div>
                    {%endverbatim%}
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>

    <div id="footer" class='floating-below' ng-show="timeControlsManager.timeControls">
        <div id="time-controls-panel">
            <div id="slider"></div>
            <div class="navbar" style="margin:5px 0 0; min-height: auto" ng-controller="tileProgressController">
                <st-playback-controls class="pull-left"
                                      time-controls="timeControlsManager.timeControls"></st-playback-controls>
                <progressbar animate="false" style="width: 15%; margin:6px 0; font-size:14px"
                             class="navbar-nav navbar-right" value="tilesLoadedProgress"><b ng-if="tilesLoaded"
                                                                                            ng-bind="tilesLoaded + '/' + tilesToLoad"
                                                                                            style="color:black"></b>
                </progressbar>
            </div>
            <div id="timeline" style="display:none;"></div>
        </div>
    </div>
</div>
