<div class="col-sm-9" style="border-right:1px solid gainsboro">
	<blockquote class="bigTitle" style="font-size:2em;text-transformation:none;text-align:left;font-weight:200">

		<br/>From MapStory creator Chris Tucker
	</blockquote>
	<br>
	<h2 style="text-align:left">
		<p>MapStory is not Wikipedia. But, like Wikipedia, we want MapStory to be a special place where "we can all go to think, to learn, to share our knowledge with others". As a 501c3 non-profit, the MapStory Foundation seeks to provide www.mapstory.org as a new dimension to the global data commons, which empowers all of us to organize the world’s knowledge spatially and temporally - rather than encyclopedically.</p>
		<p>When it comes to certain problems, I strongly believe that you can either make money off of them, or you can solve them. But, you can’t do both. MapStory was conceived of in order to let everyone dedicate to the global data commons their knowledge about how the world has changed over time. For this to work, people must be secure in their knowledge that their cultural contributions are not subject to commercial influence.</p>
		<p>MapStory is a new social venture, and we are still working out the kinks. If you are happy having a place where you can freely publish your spatio-temporal representations of the world to a global user community, and to easily access such data from others, perhaps you might consider contributing $10, $20, or $50 to support the hosting and operations costs of this global data commons. Remember, all donations are tax deductible.</p>
		<p>Thank you very much.</p>
		<p>Chris Tucker</p>
	</h2>
	<hr/>
</div>