{% load i18n %}
{% load agon_ratings_tags %}
{% load base_tags %}


{% if request.user.is_authenticated and DISPLAY_RATINGS %}
    <script type="text/javascript">
        var mapstoryContentType = "{{MAPSTORY_CONTENT_TYPE}}";
        var mapstoryId = "{{ resource.id }}";
        var setRatingUrl = "/ratings/" + mapstoryContentType + "/" + mapstoryId + "/rate/";
        var currentUserRating = +$("#userRating").attr("data");

        if (currentUserRating) {
            setUIRate(+currentUserRating);
        }

        $("#userRating i").click(function (event) {
            var rating = +event.target.getAttribute("data");
            setUIRate(rating);
            $.post(setRatingUrl, {category: "mapstory", rating: rating}, function(data) {
                $("#overall-rating").text(+data.overall_rating + " of 5 stars");
            });
        });

        function setUIRate(rate) {
           $("#userRating").attr("data", rate);
           $("#userRating i").each(function() {
               var elem = $(this);

               if (+elem.attr("data") <= rate) {
                   elem.addClass("selected")
               } else {
                   elem.removeClass("selected")
               }
           })
        }
    </script>
{% endif %}

